<!-- <section class="ct_login_main_bg">
      <div class="container">
            <div class="row">
                  <div class="col-xxl-6 col-xl-7 col-lg-8 mx-auto">
                        <div class="ct_login_white_bg ct_custom_scroll">
                              <img src="img/carzone_logo_black.png" alt="">
                              <h4 class="ct_fw_700 ct_fs_28 text-white text-center mb-3">{{'ForgotPassword' |
                                    translate}}</h4>
                              <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 text-white">{{'EmailAddress' |
                                                translate}}</label>
                                          <input type="email" class="form-control ct_input"
                                                placeholder="{{'PleaseEnterEmailAddress' | translate}}"
                                                formControlName="email">
                                          <small class="text-danger">{{validationErrorService.getErrorMessage(('Email' |
                                                translate), Form.get("email"))}}</small>
                                    </div>
                                    <div class="text-center mt-4">
                                          <app-submit-button [isLoading]="loading" [text]="'Continue' | translate"
                                                [class]="'ct_red_btn px-5'"></app-submit-button>
                                    </div>
                              </form>
                              <p class="mb-0 text-white text-center mt-3"><span
                                          class="ct_text_op_6">{{'RememberPassword' | translate}}? </span> <a
                                          routerLink="/login" class="ct_text_red ct_fw_600">{{'Lon_In' | translate}}</a>

                              </p>
                        </div>
                  </div>
            </div>
      </div>
</section> -->

<div class="row g-0 popup-main">
      <div class="col-xl-5 login-popup__left ct_custom_scroll p-5">
            <div>
                  <div class="login-popup__brand mb-4">
                        <img src="img/black-logo.png" class="main-logo" />
                  </div>

                  <h5 class="login-popup__title mb-2 ct_fs_32 text-center ct_font_cairo">
                        Forgot Password
                  </h5>
                  <p class="ct_fs_16 px-3 mb-0">
                        Don’t worry it happens, please enter the details associated
                        with your account.
                  </p>
            </div>
            <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                  <div class="login-popup__roles">
                        <div class="">
                              <label class="mt-3 ct_fs_16 ct_fw_500 mb-2"> Email </label>
                              <input type="text" class="form-control" placeholder="Enter Your Email Address"
                                    aria-label="Username" aria-describedby="basic-addon1" formControlName="email" />
                              <small class="text-danger">{{validationErrorService.getErrorMessage(('Email' |
                                    translate), Form.get("email"))}}</small>
                        </div>
                  </div>
                  <app-submit-button [isLoading]="loading" [text]="'Send OTP'"
                        [class]="'btn login-popup__btn mt-4'"></app-submit-button>
            </form>
            <p class="ct_fs_16 ct_fw_500 mt-3 text-center">
                  Already know your password
                  <a (click)="modal.openSignInModal()" class="ct_fs_16 ct_fw_600 ct_color_8f0c1f">
                        Sign In
                  </a>
            </p>
      </div>

      <!-- RIGHT IMAGE -->
      <div class="col-lg-7 d-none d-xl-block login-popup__right position-relative">
            <img src="img/create-acc.jpg" />

            <div class="login-img-text">
                  <div>
                        <p class="ct_fs_28 ct_fw_500">
                              “Buying and managing cars on CarZone helped us connect with
                              serious sellers faster.”
                        </p>
                  </div>
                  <div class="d-flex justify-content-between">
                        <div>
                              <p class="ct_fs_20 ct_fw_400 fst_italic">
                                    AutoHaus Keller<br />Buyer · Basel
                              </p>
                        </div>

                        <div>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                        </div>
                  </div>
            </div>
      </div>
</div>