<div class="ct_mb_100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="ct_right_main_box">
                    <div class="ct_right_box p-3 d-flex justify-content-between align-items-center">
                        <div>
                            <h3 class="ct_fs_22 mb-0">
                                {{ isSellerMode ? ('header.roleSwitcher.switchToBuyerMode' | translate) :
                                ('profile.switchToSellerMode' | translate) }}
                            </h3>
                        </div>
                        <div>
                            <label class="toggle-switch">
                                <input type="checkbox" [checked]="isSellerMode" [disabled]="loading"
                                    (change)="onRoleToggle($event)" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>

                    <p class="ct_fs_18 mt-4">
                        {{ isSellerMode ? ('header.roleSwitcher.switchToBuyerDescription' | translate) :
                        ('header.roleSwitcher.switchToSellerDescription' | translate) }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
