<header class="main-header-section" [class.transparent-header]="role() === 'buyer'">
      <nav #navbar class="navbar navbar-expand-lg fixed-top navbar-dark">
            <div class="container">
                  <a class="navbar-brand fw-bold main-logo" routerLink="/">
                        <img src="img/black-logo.png" alt="" class="logo-default" />
                        <img src="img/logo.png" class="logo-sticky " alt="Sticky Logo" />
                  </a>
                  <ng-container *appRole="'buyer'">
                        <div class="collapse navbar-collapse justify-content-center d-none d-lg-flex">
                              <ul class="navbar-nav gap-4" id="mainMenu">
                                    <li class="nav-item">
                                          <a class="nav-link ct_fs_16 ct_fw_600" routerLinkActive="active"
                                                routerLink="/browse-cars">Browse
                                                Cars</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link ct_fs_16 ct_fw_600" routerLinkActive="active"
                                                routerLink="/reels">Reels</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link ct_fs_16 ct_fw_600" rou routerLink="/chats">Chats</a>
                                    </li>
                              </ul>
                        </div>
                  </ng-container>
                  <ng-container *appRole="'seller'">
                        <div class="collapse navbar-collapse justify-content-center d-none d-lg-flex">
                              <ul class="navbar-nav gap-4">
                                    <!-- <li class="nav-item">
                                          <a class="nav-link nav-link ct_fs_18 ct_fw_400"
                                                routerLink="choose-listing-plan" routerLinkActive="active">List your
                                                car</a>
                                    </li> -->
                                    <li class="nav-item">
                                          <a class="nav-link nav-link ct_fs_18 ct_fw_400" routerLinkActive="active"
                                                routerLink="/my-listings">My Listings</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link nav-link ct_fs_18 ct_fw_400" routerLinkActive="active"
                                                routerLink="/chats">Chats</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link nav-link ct_fs_18 ct_fw_400" routerLinkActive="active"
                                                routerLink="/calendar">Calendar</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link nav-link ct_fs_18 ct_fw_400" routerLinkActive="active"
                                                routerLink="/schedule-request">Schedule request</a>
                                    </li>
                              </ul>
                        </div>
                  </ng-container>
                  <div class="d-flex gap-3">
                        <div class="">
                              <div class="d-flex align-items-center gap-3">
                                    @if(authService.isLogedIn()){
                                    <div class="dropdown">
                                          <a class="position-relative" id="notificationDropdown"
                                                data-bs-toggle="dropdown">
                                                <img src="img/icons/notification.png" width="24" />
                                                <!-- <span class="badge bg-danger rounded-circle position-absolute top-0 start-100 translate-middle p-1"> 4 </span> -->
                                          </a>
                                          <div class="dropdown-menu p-0 notification-dropdown">
                                                <!-- Header -->
                                                <div
                                                      class="d-flex justify-content-between align-items-center px-3 py-2">
                                                      <p class="ct_fs_20 ct_fw_700 text-black">
                                                            Notifications (4)
                                                      </p>
                                                      <a class="ct_fs_14 ct_fs_600 ct_color_8f0c1f">Mark as
                                                            read</a>
                                                </div>
                                                <!-- Notification Item -->
                                                <a class="dropdown-item notification-item">
                                                      <div>
                                                            <strong>New Buyer Message:</strong>
                                                            <div class="text-muted small">
                                                                  You've received a new message from a potential buyer.
                                                            </div>
                                                      </div>
                                                      <div class="text-end">
                                                            <span class="time">3m</span> <span class="dot"></span>
                                                      </div>
                                                </a>
                                                <a class="dropdown-item notification-item">
                                                      <div>
                                                            <strong>Listing Expiry Warning:</strong>
                                                            <div class="text-muted small">
                                                                  Your listing for VW Golf expires in 3 days. Renew now
                                                                  to keep it active.
                                                            </div>
                                                      </div>
                                                      <div class="text-end">
                                                            <span class="time">12m</span> <span class="dot"></span>
                                                      </div>
                                                </a>
                                                <a class="dropdown-item notification-item">
                                                      <div>
                                                            <strong>New Buyer Message:</strong>
                                                            <div class="text-muted small">
                                                                  You've received a new message from a potential buyer.
                                                            </div>
                                                      </div>
                                                      <div class="text-end">
                                                            <span class="time">3m</span> <span class="dot"></span>
                                                      </div>
                                                </a>
                                                <a class="dropdown-item notification-item">
                                                      <div>
                                                            <strong>New Buyer Message:</strong>
                                                            <div class="text-muted small">
                                                                  You've received a new message from a potential buyer.
                                                            </div>
                                                      </div>
                                                      <div class="text-end">
                                                            <span class="time">3m</span> <span class="dot"></span>
                                                      </div>
                                                </a>
                                          </div>
                                    </div>
                                    }
                                    <div class="ct_language_select dropdown notranslate">
                                          <img [src]="getImage(selectedLang)" alt="" class="dropdown_img"
                                                style="width: 20px; margin-right: 5px;">
                                          <button class="dropdown-toggle  py-2 mt-0" data-bs-toggle="dropdown"
                                                aria-expanded="false">{{getLanguage(selectedLang)}}</button>
                                          <ul class="dropdown-menu">
                                                <li>
                                                      <a class="dropdown-item" (click)="onCustomLangChange('en')">
                                                            <img src="img/USA.png" alt=""
                                                                  style="width: 20px; margin-right: 5px;">
                                                            English
                                                      </a>
                                                </li>
                                                <li>
                                                      <a class="dropdown-item" (click)="onCustomLangChange('de')">
                                                            <img src="img/german.png" alt=""
                                                                  style="width: 20px; margin-right: 5px;">
                                                            German
                                                      </a>
                                                </li>
                                                <li>
                                                      <a class="dropdown-item" (click)="onCustomLangChange('fr')">
                                                            <img src="img/french.png" alt=""
                                                                  style="width: 20px; margin-right: 5px;">
                                                            French
                                                      </a>
                                                </li>
                                                <li>
                                                      <a class="dropdown-item" (click)="onCustomLangChange('it')">
                                                            <img src="img/itli.png" alt=""
                                                                  style="width: 20px; margin-right: 5px;">
                                                            Italian
                                                      </a>
                                                </li>
                                          </ul>
                                    </div>
                                    @if(authService.isLogedIn()){
                                    <div class="">
                                          <a routerLink="/my-profile/edit-profile"
                                                class="d-flex text-black align-items-center">
                                                <div class="user-profile-img me-2">
                                                      <img [src]="userData?.profileImage || 'img/icons/user-circle-img.png'"
                                                            class="" />
                                                </div>
                                                <div>
                                                      <h5 class="ct_fs_15 ct_fw_400 mb-0">{{userData?.fullName}}</h5>
                                                      <h5 class="ct_fs_12 ct_fw_400 mb-0 ct_color_grey">
                                                            {{ role() === 'buyer' ?
                                                            ('Buyer' | translate) : ('Seller' | translate)
                                                            }}
                                                      </h5>
                                                </div>
                                          </a>
                                    </div>
                                    }
                              </div>
                        </div>
                        @if(!authService.isLogedIn()){
                        <div class="">
                              <button class="btn btn-red px-4" (click)="modalService.openLoginModal()">
                                    Login
                              </button>
                        </div>
                        }
                        <div class="d-flex align-items-center gap-2 d-lg-none">
                              <button class="navbar-toggler p-0" type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#mobileMenu">
                                    <span class="navbar-toggler-icon">
                                          <i class="fa-solid fa-bars"></i>
                                    </span>
                              </button>
                        </div>
                  </div>
            </div>
      </nav>
</header>
<div class="offcanvas offcanvas-end text-bg-dark" id="mobileMenu">
      <div class="offcanvas-header justify-content-end">
            <button class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
            <div id="mobileMenuContainer"></div>
      </div>
</div>

<button class="theme-toggle" onclick="toggleTheme()" title="Toggle theme">
      <img id="themeLightIcon" src="img/icons/light.png" alt="Light mode" />
      <img id="themeDarkIcon" src="img/icons/dark.png" alt="Dark mode" />
</button>
<app-role-modal />