<section class="ct_mt_100">
    <div class="container">
        <div class="row pb-5">
            <div class="col-lg-7">
                <div class="ct_edit_profile_bg profile-edit-box">
                    <h4 class="ct_fs_26 ct_fw_600 ct_font_cairo mb-4">
                        Schedule Physical Visit
                    </h4>
                    <form action="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="" class="mb-2 ct_fw_500 ct_fs_18">Full Name</label>
                                    <input type="text" class="form-control ct_input" placeholder="Enter Full Name"
                                        value="Elizabeth Anderson" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="" class="mb-2 ct_fw_500 ct_fs_18">Email Address</label>
                                    <input type="email" class="form-control ct_input"
                                        placeholder="Enter  Your Email Address" value="dummy@gmail.com" />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mb-4">
                                    <label for="" class="mb-2 ct_fw_500 ct_fs_18">Phone Number</label>
                                    <input type="text" class="form-control ct_input"
                                        placeholder="Enter Your Phone Number" value="+1 (415) 555-0123" />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group mb-4">
                                    <label for="" class="mb-2 ct_fw_500 ct_fs_18">Visit Date
                                    </label>
                                    <input type="date" class="form-control ct_input" placeholder="Enter  Date"
                                        value="" />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <label class="mb-2 ct_fw_500 ct_fs_18"> Visit Time</label>
                                <select class="form-select mb-4" aria-label="Default select example">
                                    <option selected="">Select duration</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label class="mb-0 ct_fw_500 ct_fs_18">
                                    Message
                                    <span class="fst-italic ct_fs_13 ct_fw_400">(optional)</span></label>
                                <textarea class="form-control mt-1" id="exampleFormControlTextarea1" rows="3"
                                    placeholder="Type here.....">
Write here....</textarea>
                            </div>
                            <p class="ct_fs_20 ct_fw_400 fst_italic ct_color_8f0c1f mt-2">
                                The Seller must confirm your appointment.
                            </p>

                            <div class="text-end mt-4">
                                <button class="btn-red w-100 ct_fs_20 ct_fw_500 py-3">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mt-lg-0 mt-4">
                <div class="ct_right_main_box p-0">
                    <div>
                        <img src="img/chat-car.jpg" alt="" class="w-100 ct_border_right_16 ct_border_left_16" />
                    </div>
                    <div class="p-4">
                        <h3 class="ct_fs_24 ct_fw_500 mb-3">
                            BMW 123 xDrive M Sport Package/ BMW kidney grille 'Iconic
                            Glow'
                        </h3>
                        <h5 class="ct_fs_32 ct_fw_700 mb-0 ct_color_8f0c1f">
                            CHF 45’900.-
                        </h5>
                        <p class="ct_fs_22 ct_fw_400 ct_color_1877F2 fst_italic">
                            CHF 550.- per month
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>