.ct_mb_28 {
  margin-bottom: 28px;
}

.ct_fs_45 {
  font-size: 45px;
}

.ct_seller_bnr_cnt h1 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 900;
  color: #EFEFEF;
  font-size: 95px;
}

.ct_seller_bnr_cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.ct_seller_bnr_title {
  padding: 42px;
}

.ct_seller_banner {
  background-image: url(../img/seller_img/seller_bg.jpg);
  background-size: cover, 65%;
  background-position: right;
  background-repeat: no-repeat;
  /* background: linear-gradient(89.69deg, #FFFFFF 36.52%, rgba(255, 255, 255, 0) 92.22%); */
  position: relative;
  z-index: 1;
  height: 754px;
  display: flex;
  align-items: center;
}

.ct_seller_banner:before {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(89.69deg, #FFFFFF 36.52%, rgba(255, 255, 255, 0) 92.22%);
  z-index: -1;
}

.ct_texy_clr_35383C {
  color: #35383C;
}

.ct_list_icon {
  width: 76px;
  height: 76px;
  border-radius: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  margin-bottom: 36px;
}

.ct_list_card {
  text-align: center;
}

.ct_list_card {
  text-align: center;
  padding: 40px 24px;
  border-radius: 5px;
  transition: 0.4s ease all;
  position: relative;
  z-index: 1;
  box-shadow: 0px 1px 4px 0px #00000040;
  height: 100%;

}

.ct_list_card:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  background-color: var(--primary-color);
  transition: 0.4s ease all;
  z-index: -1;
}

.ct_list_card:hover:before {
  height: 100%;
}

.ct_list_card h4 {
  color: var(--primary-color);
  font-size: 24px;
}

.ct_list_card:hover :where(h4, p) {
  color: #fff;
}

.ct_list_card:hover svg path {
  stroke: #000;
}

.ct_list_card p {
  margin-bottom: 0px;
  color: #757575;
}

.ct_mt_38 {
  margin-top: 38px;
}

.ct_mb_100 {
  margin-bottom: 100px;
}


.ct_text_op_07 {
  opacity: 0.7;
}

.ct_num {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #800013B2;
  font-size: 18px;
  color: var(--primary-color);
  background-color: #fff;
  flex-shrink: 0;
}

.ct_car_listed_list li {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.ct_car_listed_list {
  position: relative;
}

.ct_car_listed_list:before {
  content: "";
  width: 1px;
  position: absolute;
  top: 0px;
  left: 22.5px;
  height: 100%;
  border: 1px dashed #80001333;
  z-index: -9;
}

.ct_list_type_img12 img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.ct_turn_your_car_bg {
  background: url(../img/seller_img/turn_into_car_bg.png);
  padding: 120px 30px;
  text-align: center;
  color: #fff;
  height: 598px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.ct_turn_your_car_bg:before {
  content: "";
  position: absolute;
  inset: 0px;
  background-color: #00000080;
  z-index: -1;
}


/* LEFT CARDS */
.price-card {
  border-radius: 14px;
  padding: 55px 40px;
  overflow: hidden;
  border: 1px solid #DDDDDD;
}

.red-card {
  background: #8f0d1d;
}

.price {

  font-weight: 700;
}

.badge-basic {
  background: #e9f5ff;
  color: #27ACFF;
  padding: 8px 14px;
  border-radius: 50px;
  font-weight: 500;
}

.badge-additional {
  background: #fff;
  color: #8f0d1d;
  padding: 8px 14px;
  border-radius: 50px;
  font-weight: 500;
}

/* Ribbon */
.starter-ribbon {
  position: absolute;
  top: 0px;
  right: 6px;
  background: #8f0d1d;
  color: #fff;
  padding: 6px 27px;
  font-size: 12px;
  transform: rotate(45deg) translate(30px, -20px);
}

/* RIGHT BOX */
.plan-box {
  background: #fff;
  border-radius: 16px;
  padding: 33px 23px;
  box-shadow: 0px 0px 11px 0px #0000001F;

}

/* Toggle */
.billing-toggle {
  background: #fdecec;
  border-radius: 50px;
  padding: 6px;
  display: inline-flex;
}

.billing-toggle .btn {
  border-radius: 50px;
  padding: 6px 20px;
  font-size: 14px;
}

.billing-toggle .active {
  background: #8f0d1d;
  color: #fff;
}

/* Slot Items */
.slot-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eee;
  padding: 16px 18px;
  border-radius: 12px;
  margin-bottom: 15px;
  cursor: pointer;
  gap: 10px;
}

.slot-item.active {
  border-color: #8f0d1d;
}

.slot-item input {
  display: none;
}





.slot-price {
  font-weight: 600;
  color: #ff0000;
}


.ct_fs_24 {
  font-size: 24px;
}

.ct_custom_tabs {
  background-color: #FFF4F4;
  border-radius: 50px;
  width: fit-content;
}

.ct_custom_tabs.nav-pills .nav-link {
  color: #262626;
  padding: 10px 28px;
  font-weight: 400;
  border-radius: 50px;
}

.ct_custom_tabs.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: var(--primary-color);
  color: #fff;
}

.ct_mt_40 {
  margin-top: 40px;
}

.ct_white_nowrap {
  white-space: nowrap;
}

/* .ct_grey_input {
  background-color: #F9F9F9;
} */

.ct_submit_pill_btn {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  padding: 10px 26px 10px 10px;
  background: linear-gradient(90deg, #8F0C1F 0%, #A20E25 100%);
  border: none;
  border-radius: 50px;
  color: #fff;
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  height: 45px;
}

.ct_submit_pill_btn .ct_btn_icon {
  width: 35px;
  height: 35px;
  background: #fff;
  color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
}

.ct_submit_pill_btn:hover {
  opacity: 0.9;
}

.ct_edit_pill_btn {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  padding: 10px 26px 10px 10px;
  background: none;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  color: var(--primary-color);
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  height: 45px;
}

.ct_fs_65 {
  font-size: 65px;
}

.ct_flex_shrink_0 {
  flex-shrink: 0;
}


/* ===== MULTI STEP SIDEBAR ===== */
.ct_stepper {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ct_stepper li {
  display: flex;
  gap: 15px;
  margin-bottom: 38px;
  position: relative;
  z-index: 1;
}

.ct_stepper li+li:before {
  content: "";
  position: absolute;
  top: -44px;
  left: 22.5px;
  background-color: #4B556333;
  width: 2px;
  height: 100%;
  z-index: -1;
}

.ct_stepper h6 {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 500;
}

.ct_stepper p {
  font-size: 16px;
  color: #4B5563;
  margin-bottom: 0;
}

.ct_step_circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #8F0C1F;
  color: #8F0C1F;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  flex-shrink: 0;
}

.ct_step_circle.active {
  background: var(--primary-color);
  color: #fff;
}

span.ct_step_circle.completed {
  background: #0acc0a33;
  color: #fff;
  border: none;
  font-size: 20px;
}

.ct_stepper li.active h6 {
  color: var(--primary-color);
}

.ct_stepper li.active p {
  color: #8F0C1F80;
}

.ct_form_step {
  display: none;
}

.ct_form_step.active {
  display: block;
}

/* Responsive */
@media (max-width: 991px) {
  .price {
    position: static;
    margin-top: 10px;
  }
}

@media screen and (max-width:991px) {
  .ct_seller_bnr_cnt h1 {
    font-size: 63px;
  }

  .ct_seller_banner {
    height: 680px;
  }
}

@media screen and (max-width:767px) {
  .ct_seller_bnr_title {
    padding: 15px;
  }

  .ct_fs_45 {
    font-size: 30px;
  }

  .ct_seller_bnr_cnt h1 {
    font-size: 35px;
  }

  .ct_fs_65 {
    font-size: 45px;
  }

  .ct_seller_banner {
    height: 500px;
  }

  .ct_seller_banner:after {
    content: "";
    inset: 0px;
    position: absolute;
    background-color: #fff;
    z-index: -1;
    opacity: 0.5;
  }
}

@media screen and (max-width:575px) {
  .slot-item {
    flex-direction: column;
    align-items: start;

  }
}











/* new css */



.my-listing-all-box select {
  background-color: #FFEAEA;
  color: #BB0000;
  border: none;
}


.status-badge-success {
  background-color: #DCFCE7;
  color: #15803D;
  width: fit-content;
  border-radius: 29px;
  padding: 8px 17px;
}


.status-badge-danger {
  background-color: #FF00060A;
  color: #FF0006;
  width: fit-content;
  border-radius: 29px;
  padding: 10px;
}


.status-badge-warning {
  background-color: #FEF9C3;
  color: #A16207;
  width: fit-content;
  border-radius: 29px;
  padding: 10px;
}


/* pagination ui */
.my-listing-pagination {
  font-size: 14px;
}

/* Info text */
.my-listing-pagination .pagination-info {
  color: #555;
}

/* General page link */
.my-listing-pagination .page-link {
  border: none;
  color: #6c757d;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 500;
}

/* Active page */
.my-listing-pagination .page-item.active .page-link {
  background-color: #9b0d24;
  color: #fff;
}

/* Prev / Next buttons */
.my-listing-pagination .prev-next {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dots */
.my-listing-pagination .dots {
  cursor: default;
  color: #999;
}

/* Hover */
.my-listing-pagination .page-link:hover {
  background-color: #f5f5f5;
}

/* Mobile */
@media (max-width: 576px) {
  .my-listing-pagination {
    justify-content: center !important;
  }
}



.car-detail-desc-cont {
  max-height: 200px;
  overflow-y: auto;
}


/* delete modal css */
.my-delete-modal .modal-content {
  border-radius: 16px;
  border: none;
  padding: 25px 20px;
}



/* Text */

/* Buttons */
.my-delete-modal .btn-cancel {
  background: #f0f0f0;
  color: #333;
  border: none;
  font-weight: 500;
  padding: 12px 16px;
  border-radius: 5px;
  display: block;
}


/* Hover effects */
.my-delete-modal .btn-cancel:hover {
  background: #e4e4e4;
}

.ct_img_128 {
  height: 128px;
  width: 128px;
  object-fit: cover;
  border-radius: 8px;
}


.ct_img_24 {
  height: 24px;
  width: 24px;
  object-fit: cover;
  border-radius: 100%;
}

.ct_img_64 {
  height: 64px;
  width: 64px;
  object-fit: cover;
  border-radius: 100%;
}

.ct_schedule_box {
  /* border: 0.4px solid rgba(221, 223, 227, 1); */
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 1px 2px 0px #0000000D;
  border: 1px solid #F3F4F6
}



.primary-btn {
  background-color: rgba(37, 99, 235, 1);
  box-shadow: 0px 10px 15px 0px rgba(37, 99, 235, 0.3);



  color: #fff;
  padding: 20px;
  border-radius: 12px;
  outline: none;
  border: none;
}


.success-btn {
  background-color: rgba(22, 163, 74, 1);
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  outline: none;
  border: none;
  box-shadow: 0px 10px 15px 0px rgba(22, 163, 74, 0.3);
}

.danger-btn-transparent {
  border: 2px solid #FECACA !important;
  /* border: 2px solid #FECACA; */
  padding: 20px;
  border-radius: 12px;
  outline: none;
  border: none;
  color: rgba(220, 38, 38, 1);
  background: none;
  width: 350px;
}

.success-btn-transparent {
  padding: 20px;
  border-radius: 12px;
  outline: none;
  border: none;
  color: #0acc0a;
  border: 2px solid rgba(220, 255, 233, 1);
  background-color: #DCFFE9;
  width: 350px;
}


/* slot css */
.slot-req-tabs {
  max-width: 900px;
  margin: 40px auto;
}

.slot-req-tabs .nav-tabs {
  border-bottom: 1px solid #eee;
}

.slot-req-tabs .nav-link {
  border: none;
  color: #6c757d;
  font-weight: 500;
  padding: 10px 18px;
  font-size: 16px;
}

.slot-req-tabs .nav-link.active {
  color: rgba(143, 12, 31, 1);
  border-bottom: 3px solid rgba(143, 12, 31, 1);
  background: transparent;
}



.slot-card .status {
  font-size: 12px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 4px 10px;
  border-radius: 10px;
}

.status.approved {
  background: #e7f6ec;
  color: #198754;
  border-radius: 6px;
  text-align: center;
}

.slot-card .status.pending {
  background: #fff4e5;
  color: #f0ad4e;
}

.slot-card .status.rejected {
  background: #fdeaea;
  color: #dc3545;
}

.slot-card .dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
}

.slot-card .dot.approved {
  background: #198754;
}

.slot-card .dot.pending {
  background: #f0ad4e;
}

.slot-card .dot.rejected {
  background: #dc3545;
}






.car-img {
  width: 80px;
  height: 55px;
  object-fit: cover;
  border-radius: 8px;
}

.price {
  color: #e11d48;
  font-weight: 600;
}

.payment-option {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 12px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}


.pay-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #7f0013;
  color: #fff;
  border-radius: 28px;
  padding: 12px 24px;
  border: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.ct_find_vehicle_tabs button.nav-link.active {
  border-bottom: 3px solid var(--primary-color);
  border-radius: 6px;
  color: var(--primary-color);
  font-weight: 500;
}


.ct_find_vehicle_tabs button.nav-link {

  color: #111;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
}


.ct_preview-btn {
  padding: 8px 20px;
  color: var(--primary-color);
  background-color: #8F0C1F05;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  border: none;
  outline: none;
}

.ct_redeem_btn {
  padding: 8px 16px;
  background-color: #448AFF4D;
  color: #448AFF;
  border-radius: 10px;
  border-radius: 7px;
  border: none;
  outline: none;
}


.my-listing-img {
  width: 100%;
  height: 195px;
  border-radius: 10px;
  object-fit: cover;
}

.schedule-car-img {}