@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;800&family=DM+Sans:wght@400;500;600&display=swap");

:root {
  --primary-color: #8F0C1F;
  --primary-color-2: #DD0005;
  --secondary-color: #1a1a1a;
  --text-dark: #2c2c2c;
  --text-light: #666666;
  --bg-light: #f8f9fa;
  --white: #ffffff;
  --heading-color: #222222;
  --subheading-color: #000000e0;
  --font-heading: "Cairo", sans-serif;
  --font-body: "DM Sans", sans-serif;
}



html,
body {
  /* overflow-x: hidden; */
}

.stepper-step-side {
  position: sticky;
  top: 110px;
  /* navbar height + spacing */
  height: fit-content;
  z-index: 20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-body);
  color: var(--text-dark);
  overflow-x: hidden;
}

.ct_h_52 {
  height: 52px !important;
}

.ct_h_40 {
  height: 40px !important;
}

.ct_border_left_16 {
  border-top-left-radius: 16px;
}

.ct_border_right_16 {
  border-top-right-radius: 16px;
}

.ct_width_fit {
  width: fit-content;
}

.ct_gap_14 {
  gap: 14px;
}

.ct_gap_8 {
  gap: 8px;
}

.ct_font_cairo {
  font-family: Cairo;
}

.ct_border_12 {
  border-radius: 12px !important;
}

.ct_bg_fafafa {
  background-color: #fafafa;
}

.ct_text_008000 {
  color: #008000 !important;
}

.ct_color_1877F2 {
  color: #1877F2;
}

.ct_color_666666 {
  color: #666666;
}

.ct_color_3e1cff {
  color: #3e1cff;

}

.ct_fs_2563eb {
  color: #2563eb;

}


.ct_color_8f0c1f {
  color: #8f0c1f;
}

.ct_color_0acc0a {
  color: #0acc0a;
}

.ct_img_110 {
  height: 110px;
  width: 110px;
  object-fit: cover;
}

.ct_red_gradient_btn {
  background: linear-gradient(90deg, #8F0C1F 0%, #CD1B34 100%);
  padding-block: 12px;
  width: 100%;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  box-shadow: none;
  border: none;
  position: sticky;
  bottom: 0;

}

.ct_color_dots {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: inline-block;
  border: 1px solid rgba(215, 215, 215, 1);
  margin-inline: 10px;
}

.ct_divider {

  border-left: 1px solid #4B556329;
  height: 100%;

}

.ct_mb_35 {
  margin-bottom: 35px;
}

.ct_fs_35 {
  font-size: 35px;
}

.ct_fs_28 {
  font-size: 28px;
}

.ct_fs_44 {
  font-size: 44px;
}

.ct_fs_16 {
  font-size: 16px;
}

.ct_fs_12 {
  font-size: 12px;
}

.ct_fs_19 {
  font-size: 19px;
}

.ct_fs_15 {
  font-size: 15px;
}

.ct_fs_18 {
  font-size: 18px;
}

.ct_fs_25 {
  font-size: 25px;
}

.ct_fs_22 {
  font-size: 22px;
}

.ct_fs_24 {
  font-size: 24px;
}

.ct_fs_27 {
  font-size: 27px;
}

.ct_fs_30 {
  font-size: 30px;
}

.ct_fs_33 {
  font-size: 33px;
}

.ct_fs_35 {
  font-size: 35px;
}

.ct_fw_700 {
  font-weight: 700;
}

.ct_fw_800 {
  font-weight: 800;
}

.ct_fw_500 {
  font-weight: 500;
}

.ct_fw_300 {
  font-weight: 300;
}

.ct_fw_400 {
  font-weight: 400;
}

.ct_fw_600 {
  font-weight: 600;
}

.ct_fs_17 {
  font-size: 17px;
}

.ct_fs_14 {
  font-size: 14px;
}

.ct_fs_30 {
  font-size: 30px;
}

.ct_fs_32 {
  font-size: 32px;
}

.ct_lh-2 {
  line-height: 2;
}

.ct_width_96 {
  width: 125px;
  height: 96px;
  object-fit: cover;
}

.ct_bg_none {
  background: none !important;
}

.ct_border_8 {
  border-radius: 8px;
}

.ct_border_10 {
  border-radius: 10px !important;
}

.ct_input_pe_40 {
  padding-right: 40px;
}

.ct_height_mx_200 {
  max-height: 200px;
  overflow-y: auto;

}


.ct_custom_scroll::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.ct_custom_scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.ct_custom_scroll::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.ct_custom_scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.ct_mt_100 {
  margin-top: 100px;
}

.ct_mb_100 {
  margin-bottom: 100px;
}

.ct_mt_30 {
  margin-top: 30px;
}

.ct_mt_40 {
  margin-top: 40px;
}


.ct_cursor_pointer {
  cursor: pointer;
}

.btn-transparent {
  background: #ffffff4d;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
}

.main-header-section .navbar {
  border-bottom: 1.01px solid rgba(229, 229, 229, 1);
  background-color: #fff;
}

.ct_radio-checkmark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(143, 12, 31, 1);
  transition: all 0.2s ease-in-out;
}

.ct_radio-button input[type="radio"]:checked~.ct_radio-checkmark:before {
  transform: translate(-50%, -50%) scale(1);
}

.ct_radio-checkmark {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid rgba(143, 12, 31, 1);
  border-radius: 50%;
}















.ct_radio-checkmark-blue:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3b82f6;
  transition: all 0.2s ease-in-out;
}

.ct_radio-button input[type="radio"]:checked~.ct_radio-checkmark-blue:before {
  transform: translate(-50%, -50%) scale(1);
}

.ct_radio-checkmark-blue {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid #3c83f6;
  border-radius: 50%;
}

.ct_radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: rgba(143, 12, 31, 1);
  font-size: 13px;
}

.ct_radio-button input[type="radio"] {
  display: none;
}

.ct_custom_check .form-check-input:checked {
  background-color: rgba(143, 12, 31, 1);
  border-color: rgba(143, 12, 31, 1);
}

.ct_custom_check .form-check-input:checked[type="checkbox"] {
  /* filter: invert(1); */
}

.ct_custom_check .form-check-input:focus {
  box-shadow: unset;
  border-color: rgba(143, 12, 31, 1);
  vertical-align: middle;
}

.ct_custom_check .form-check-input {
  width: 18px;
  height: 18px;
  margin-top: -1px;
}

.ct_color_00000000 {
  background-color: #00000000;
}


.ct_px_42 {
  padding-inline: 42px !important;

}

.heading-box {
  border: 1px solid #E5E7EB;
  background: #8F0C1F14;
  padding: 17px 34px;
}

/* Reusable Typography Classes */
.section-heading {
  font-family: Cairo;
  font-weight: 600;
  font-style: SemiBold;

  text-align: center;
  color: var(--heading-color);
  margin-bottom: 1rem;
  margin-top: 15px;


}

.section-subheading {
  display: flex;

  align-items: center;
  gap: 10px;
}

.section-subheading img {
  height: 24px;
  width: 24px;
}

.section-subheading p {
  font-family: DM Sans;
  font-weight: 400;

  color: var(--subheading-color);
  margin-bottom: 0;

}

.section-subheading {
  font-family: DM Sans;
  font-weight: 400;

  color: var(--subheading-color);
  margin-bottom: 0;
}

/* Navbar */

/* .navbar {
  border-bottom: 1.01px solid rgba(229, 229, 229, 1);
  box-shadow: 0px 0px 25.26px 0px rgba(0, 0, 0, 0.09);

} */
.navbar-nav .nav-link {
  /* color: var(--white) !important; */
  font-family: DM Sans;
  font-weight: 400;
  font-size: 18px;
}

.main-logo {
  width: 136px;
  /* height: 100%; */
}

.main-logo img {
  width: 100%;
  height: 100%;
}


.navbar-brand {
  color: var(--white) !important;
  font-size: 1.5rem;
  font-weight: 700;
}

.logo img {
  width: 136px;
}

.footer-logo img {
  width: 88px;
  height: auto;
  margin-bottom: 20px;
}

/* Nav links */
.navbar-nav .nav-link {
  color: var(--subheading-color);
  font-family: DM Sans;
  font-weight: 600;
  font-size: 16px;
}

/* Login button */
.btn-login {
  /* background: var(--primary-color); */
  background: #8F0C1F8C;

  color: var(--white);
  padding: 8px 24px;
  border-radius: 5px;
  border: none;
}

.navbar-nav .nav-link.active {
  color: #e9021e;
  border-bottom: 2px solid rgba(233, 2, 30, 1);
}

/* Hero Section */
.hero-section {
  background: url("../img/hero-section.png");
  background-size: cover;
  background-position: center;
  min-height: 600px;
  display: flex;
  align-items: center;
  color: var(--white);
}

.hero-content h1 {
  font-family: Cairo;
  font-weight: 500;
  font-size: 55px;
}

.hero-content p {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 18px;
}

.btn-create-account {
  background: #ffffff4d;
  color: var(--white);
  padding: 12px 23px;
  border-radius: 10px;
  border: none;
}

.btn-create-account:hover {
  background-color: #fff;
  color: #111;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;
  max-height: fit-content;
}

/* ===== SCROLL EFFECT ===== */




/* Change text color on scroll */


/* Toggler color */
.navbar.scrolled .navbar-toggler {
  border-color: #000;
  line-height: 0;
}



span.navbar-toggler-icon {
  background: none;
  line-height: normal;
}

button.navbar-toggler {
  border: none;
}

span.navbar-toggler-icon i {
  /* border: 1px solid #fff; */
  /* padding: 10px; */
  color: #111;
  font-size: 20px;
  border-radius: 4px;
}

/* Mobile */


/* end */

/* Search Box */
.search-box {
  background: var(--white);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin-top: -50px;
  position: relative;
  z-index: 10;
  border-bottom: 4px solid var(--primary-color);
}

.search-box h5 {
  font-family: Cairo;
  font-weight: 500;
  font-size: 24px;
}

.search-box select {
  border: 1px solid #e6e6e6;
  padding: 15px 18px;
  border-radius: 5px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 15px;

}

.btn-red {
  background: var(--primary-color);
  color: var(--white);
  padding: 10px 24px;
  border-radius: 5px;
  border: 1px solid transparent;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease, border-color 0.3s ease;
  z-index: 1;

}

/* circular bg (Bestia style) */

.btn-red::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  /* border-radius: 100%; */
  transform: translate(-100%, -100%) scale(0);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  z-index: -1;
}

/* hover effect */

.btn-red:hover::before {
  transform: translate(-100%, -100%) scale(1);
}


.btn-red:hover {
  color: #8f0c1f;
}









.btn-red-transparent {
  background: none;
  color: #8f0c1f;
  padding: 10px 16px;
  border-radius: 5px;
  border: 1.01px solid #8f0c1f;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease, border-color 0.3s ease;

}



/* expanding background */

.btn-red-transparent::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #8f0c1f;
  transform: translate(-100%, -100%) scale(0);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  z-index: -1;

}

/* hover animation */

.btn-red-transparent:hover::before {
  transform: translate(-100%, -100%) scale(1);
}


.btn-red-transparent:hover {
  color: #fff;
  border-color: #8f0c1f;
}

.btn-create-account {

  background: #ffffff4d;
  color: var(--white);
  padding: 12px 23px;
  border-radius: 10px;
  border: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
}

/* Bestia-style expanding background */

.btn-create-account::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translate(-100%, -100%) scale(0);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  z-index: -1;
}

/* hover animation */

.btn-create-account:hover::before {
  transform: translate(-100%, -100%) scale(1);
}

.btn-create-account:hover {
  color: #111;
}










.text-limit-mail {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
  /* adjust as needed */
}

.btn-grey-transparent {
  background: none;
  color: #666666;
  padding: 10px 16px;
  border-radius: 5px;
  border: 1.01px solid rgba(102, 102, 102, 1);
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease, border-color 0.3s ease;
}


/* expanding background */

.btn-grey-transparent::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #666666;
  transform: translate(-100%, -100%) scale(0);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  z-index: -1;

}

/* hover animation */

.btn-grey-transparent:hover::before {
  transform: translate(-100%, -100%) scale(1);
}


.btn-grey-transparent:hover {
  color: #fff;
  border-color: #666666;
}















.btn-primary-transparent {
  background: none;
  color: #0e53ac;
  padding: 12px 16px;
  border-radius: 5px;

  display: block;
  border: 1.01px solid #0e53ac;
}



.btn-green-transparent {
  background: none;
  color: #16a34a;
  padding: 12px 16px;
  border-radius: 5px;

  display: block;
  border: 1px solid #16a34a;
}


.btn-purple-transparent {
  background: none;
  color: #7821d0;
  padding: 12px 16px;
  border-radius: 5px;

  display: block;
  border: 1px solid #7821d0;
}

.clear-filters {

  text-decoration: none;
  font-weight: 500;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 18px;
  display: flex;
}

/* Brand Icons */
.brand-icons {
  margin-top: 60px;
  text-align: center;
}

.brand-icon {
  width: 109px;
  height: 109px;
  border-radius: 50%;
  /* border: 3px solid var(--primary-color); */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0.5rem;
  background: var(--white);
  font-weight: 900;
  font-size: 20px;
  color: #5f5f5f;
  position: relative;
}

.brand-icon::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100px;
  padding: 5px;

  background: linear-gradient(180deg, #EB261D 16.83%, #0040FF 45.19%, #FF00DD 87.98%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  backdrop-filter: blur(8.570352554321289px)
}

.brand-icon .badge img {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.brand-icon .badge {
  padding: 0;
}

/* Collections Section */
.collections-section {
  padding: 4rem 0;
  /* background: var(--bg-light); */
}

.collections-header {
  text-align: center;
  margin-bottom: 3rem;
}

.car-card {
  /* background: var(--white); */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0px 8px 8px 6px rgba(34, 34, 34, 0.04); */
  transition: transform 0.3s;
  /* margin: 1rem; */
  position: relative;
  border: 1px solid #e6e6e6;
}

.w-lg-50 {
  width: 50%;
}



.car-card:hover {
  /* transform: translateY(-5px); */
}

.car-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.sale-badge {
  /* position: absolute;
  top: 10px;
  right: 10px;
  background: var(--primary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 5px; */
  position: absolute;
  top: 30px;
  right: -45px;
  background: var(--primary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 5px;
  transform: rotate(45deg);
  width: 200px;
  text-align: center;
}

.car-details {
  padding: 1.5rem;
}

.car-details h5 {
  margin-bottom: 0.5rem;
  font-family: DM Sans;
  font-weight: 600;
  font-size: 15px;
  position: relative;

}

.car-details h5::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 55px;
  border-radius: 0px;
  background-color: var(--primary-color-2);

}

.car-price {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.car-specs {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.car-specs li {
  display: flex;
  align-items: center;
  color: var(--text-light);
  font-family: DM Sans;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 20px;
}



.btn-view-details {
  background: var(--primary-color);
  color: var(--white);
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

/* About Section */
.about-section {
  padding: 60px 0px;
}

.about-image {
  position: relative;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
}

.since-badge {
  position: absolute;
  top: 20px;
  right: 20px;
  background: var(--white);
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.since-badge .year {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.about-content ul {
  list-style: none;
  padding: 0;
}

.about-content ul li {
  padding-bottom: 8px;
  font-size: 1rem;
  color: var(--text-dark);
}

.about-content ul li i {
  color: var(--primary-color-2);
  margin-right: 5px;
}

/* CTA Sections */
.cta-section {
  width: 100%;

  /* padding: 4rem 0; */
  background-color: red;
  background: linear-gradient(rgba(209, 23, 24, 0.9), rgba(209, 23, 24, 0.9)),
    url("../img/cta-buy.png");
  background-size: cover;
  /* background-position: right; */



}

.cta-buy {
  /* background: linear-gradient(135deg, #c41e3a 0%, #8b1528 100%); */
  padding: 100px 133px;
  /* border-radius: 10px; */
  color: var(--white);
  /* clip-path: polygon(0 0, 100% 0, 86% 100%, 0 100%); */

}

.cta-sell {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/cta-sell.png");
  background-position: center;
  background-size: cover;
  padding: 100px 133px;
  /* border-radius: 10px; */
  color: var(--white);
  clip-path: polygon(7% 0%, 100% 0, 100% 100%, 0 100%);
  transform: scale(1.1);
}

.cta-section h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--white);
}


.btn-transparent {
  background: transparent;
  border: 1px solid #ffffff;
  color: var(--white);
  padding: 10px 24px;
  border-radius: 9px;
  font-weight: 500;
  font-size: 12px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease, border-color 0.3s ease;
}

/* expanding background */
.btn-transparent::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transform: translate(-100%, -100%) scale(0);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  z-index: -1;
}

/* hover animation */
.btn-transparent:hover::before {
  transform: translate(-100%, -100%) scale(1);
}

.btn-transparent:hover {
  color: #111;
  border-color: #ffffff;
}

/* Steps Section */
.steps-section {
  padding: 5rem 0;
  /* background: var(--bg-light); */
}

.step-item {
  padding: 1.5rem 0;
  border-bottom: 1px solid #ddd;
}

.step-item h5 {
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 0.5rem;
}

.step-item p {
  color: var(--text-light);
  margin: 0;
}

/* .step-image {
  border-radius: 10px;
  position: relative;
} */


.step-image {
  border-radius: 10px;
  position: relative;
  width: fit-content;
  height: auto;
  text-align: end;
}

.step-image .accordian-right-img {
  width: calc(100% - 50px);
  /* border-radius: 10px; */
  height: 473px;
  object-fit: cover;
  position: relative;
}

.btn-login:hover {
  background-color: #fff;
  color: #111;
}

.btn-white:hover {
  background-color: #111;
  color: #fff;
}

.step-badge {

  position: absolute;
  bottom: -50px;
  /* left: -50px; */
  background: var(--primary-color);
  color: var(--white);
  padding: 32px 11px;
  border-radius: 6px;
  text-align: center;


}

.step-badge i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

/* App Section */
.app-section {
  background: rgba(143, 12, 31, 1);
  padding: 90px 120px;
  color: var(--white);
  position: relative;
  margin-top: 120px;
  margin-bottom: -50px;
  border-radius: 20px;
  z-index: 1;
}

.app-img img {
  position: absolute;
  bottom: 0;

}

.app-mockup {
  text-align: center;
}

.app-mockup img {
  max-width: 300px;
}



.app-buttons {
  margin-top: 2rem;
}

.btn-white {
  background: var(--white);
  color: var(--text-dark);
  padding: 13px 32px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.btn-white i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

/* Footer */
.footer {
  /* background: var(--secondary-color); */
  color: var(--white);
  padding: 160px 0 70px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/footer-bg.jpg");
  background-position: right;
  /* padding-top: 137px; */
  position: relative;
  z-index: 99;
}


.footer::before {
  position: absolute;
  content: "";
  background: url("../img/footer-right.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  top: 50px;
  right: 0;
  z-index: -1;
  background-position-x: right;
  background-position-y: center;
}

.footer h5 {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.footer-bottom {
  background-color: #000;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 0.75rem;
}

.footer ul li a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.footer ul li a:hover {
  color: var(--white);
}

.social-icons a {
  color: var(--white);
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin-right: 0.5rem;
}

.copyright {
  text-align: center;
  padding-block: 20px;
  /* margin-top: 2rem; */
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
}

/* extra classes */
.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}









.price-wrapper {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  /* border-radius: 6px; */
  overflow: hidden;
  /* max-width: 420px; */
  background: #fff;
}

/* Price */
.price-text {
  padding: 12px 20px;
  color: #000;
  white-space: nowrap;
  font-family: DM Sans;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  width: 50%;

}

/* Angled Button */
.price-wrapper .view-btn {
  position: relative;
  background: var(--primary-color-2);
  color: #fff;
  padding: 12px 20px 12px 40px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%);
  width: 50%;
  text-align: center;
}

/* Hover */
.price-wrapper .view-btn:hover {
  background: var(--primary-color-2);
  color: #fff;
}


.car-specs li img {
  width: 20px !important;
  height: 20px;
  margin-right: 10px;
}

.car-specs {
  margin-top: 25px;
}














.accordion-button:not(.collapsed)::after {
  background-image: url("../img/icons/arrow-narrow-up.png") !important;
  transform: rotate(-0deg) !important;
}

.accordion-button:not(.collapsed) {
  background: none;
  color: #e11f23;
  box-shadow: none;
}

.accordion-item:not(:first-of-type),
.accordion-item:first-of-type {
  border: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button {
  padding-left: 0px;
  padding-bottom: 10px;
}



.user-profile-img {
  height: 45px;
  width: 45px;
}

.user-profile-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}







.ct_border_none {
  border: none;
}






.select-car-tabs.nav-tabs .nav-link {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-radius 0.3s ease;
  border-radius: 38px;
  color: #111;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #ebebeb;
}

.select-car-tabs.nav-tabs .nav-item.show .nav-link,
.select-car-tabs.nav-tabs .nav-link.active,
.select-car-tabs.nav-tabs .nav-link:hover {
  border: 1px solid #8d0d21;
  background: #8d0d21;
  /* border-radius: 38px; */
  color: #fff;

}

.select-car-tabs li img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}


.filter-preview-box {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 16px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background: #ebebeb;
  height: 55px;
  position: relative;

}

.body-type-img-o {
  height: 45px;
}


.filter-preview-box.active {
  background: #8f0c1f;
  color: #fff;
}

.filter-preview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 boxes per row */
  gap: 10px;
}


.filter-preview-box p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
}


.car-content-right .box {
  font-weight: 400;
  font-size: 16px;
  padding: 10px 14px;
  background: #efefef;
  border-radius: 8px;
}


.car-content-right-list li+li {
  margin-top: 20px;
}


.quality-img {
  width: 70px;
  height: 30px;




}



.quality-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.breadcrumb-item+.breadcrumb-item::before {
  display: none;
}

.car-content-detail-list li img {
  filter: grayscale(1);
}

.car-content-detail-list li+li {
  margin-top: 20px;
}


.car-view-more-detail-head-img {
  width: 257px;
  margin-bottom: 10px;
}


.car-view-more-detail-head-img img {
  width: 100%;
  height: 100%;
}


.equipment-list li+li {
  margin-top: 10px;
}

.calculator-box {
  background: rgba(244, 231, 233, 1);
  padding: 20px;
  border-radius: 5px;
}


select.form-select {
  border: 1.01px solid rgba(224, 224, 224, 1);
  border-radius: 6px;
  color: #666666;
  font-weight: 400;
  font-size: 15px;
  height: 52px;
}

input {
  height: 52px;
}

.form-control:focus,
.form-select:focus {
  border: 1.01px solid rgba(224, 224, 224, 1) !important;
  outline: 0;
  box-shadow: none !important;
}


.form-control::placeholder {
  color: #666666;
  font-weight: 400;
  font-size: 15px;
}

.car-detail-value-sec {
  background: #f2f2f2;
  border-radius: 12px;

  padding-block: 25px;
}


.seller-carousel .owl-item img {
  display: block;
  width: auto;
}


.ct_reels_card {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

/* Make iframe fill container */
.ct_reels_card iframe {
  width: 100%;
  height: 100%;
}

/* Gradient overlay layer */
.ct_reels_overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.5) 62.29%,
      rgba(0, 0, 0, 0.5) 100%);
  z-index: 1;
  pointer-events: none;
}

/* Bottom text overlay */
.reel-card-description {
  position: absolute;
  bottom: 0;
  padding: 24px;
  z-index: 2;
  color: #fff;
}



/* chat css */
.message-area {
  /* height: 100vh; */
  overflow: hidden;
}

.online-dot {
  width: 8px;
  height: 8px;
  background-color: #008000;
  border-radius: 100%;
  display: inline-block;
}

.chat-area {
  position: relative;
  width: 100%;
  height: calc(100vh - 200px);
  overflow: hidden;
  min-height: calc(100% - 1rem);
}

.chatlist {
  outline: 0;
  height: 100%;
  overflow: hidden;
  width: 429px;
  float: left;
  padding: 15px;
  /* border-right: 1px solid #e5e7eb; */
  padding-inline: 0px;
  /* height: calc(100vh - 150px); */
}

.chat-area .modal-content {
  border: none;
  border-radius: 0;
  outline: 0;
  height: 100%;
  background-color: #fff;
}

.chat-area .modal-dialog-scrollable {
  height: 100% !important;
}

.chatbox {
  width: auto;
  overflow: hidden;
  height: 100%;
  padding-left: 20px;
}

.ct_overlay_text_w_150 {
  width: 130px;
}

.ct_fs_12 {
  font-size: 12px;
}

.ct_img_47 {
  height: 47px;
  width: 47px;
}

.chatbox .modal-dialog,
.chatlist .modal-dialog {
  max-width: 100%;
  margin: 0;
}

/* .msg-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.ct_grid_50_auto {
  display: grid;
  align-items: center;
  grid-template-columns: 50px auto;
  gap: 15px;
}

a.add img {
  height: 36px;
}

.chat-area .nav-tabs {
  border-bottom: 1px solid #dee2e6;
  align-items: center;
  justify-content: space-between;
  flex-wrap: inherit;
}

.chat-area .nav-tabs .nav-item {
  width: 100%;
}

.chat-area .nav-tabs .nav-link {
  width: 100%;
  color: #180660;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: -1px;
  background: 0 0;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.chat-area .nav-tabs .nav-item.show .nav-link,
.chat-area .nav-tabs .nav-link.active {
  color: #222;
  background-color: #fff;
  border-color: transparent transparent #000;
}

.chat-area .nav-tabs .nav-link:focus,
.chat-area .nav-tabs .nav-link:hover {
  border-color: transparent transparent #000;
  isolation: isolate;
}

.chat-list h3 {
  color: #222;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  margin-bottom: 4px;
}

.chat-list p {
  font-size: 14px;
  /* font-weight: 400; */
  color: #4b5563;
  line-height: 1.5;
  text-transform: capitalize;
  margin-bottom: 0;
}

.chat-list .active2 {
  background-color: #0000000a;
}

.chat-list a.d-flex {
  position: relative;
  text-decoration: none;
  padding-inline: 25px;
}

.chat-list .active {
  display: block;
  content: "";
  clear: both;
  position: absolute;
  top: 0px;
  right: 0;
  height: 12px;
  width: 12px;
  background: #00db75;
  border-radius: 50%;
  border: 2px solid #fff;
}

.msg-head h3 {
  color: #222;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0;
}

.msg-head p {
  color: #343434;
  /* font-size: 14px; */
  /* font-weight: 400; */
  line-height: 1.5;
  text-transform: capitalize;
  margin-bottom: 0;
}

.chat-date-box {
  background-color: #F4F5FA;
  padding: 10px 8px;
  border-radius: 8px;
}

.ct_caht_msg_notify span {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  font-size: 12px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
}

.ct_chat_list_grid {
  display: grid;
  grid-template-columns: 40px auto;
  width: 100%;
}

.ct_grid_50_auto {
  display: grid;
  align-items: center;
  grid-template-columns: 50px auto;
  gap: 15px;
}

.ct_grid_50_auto img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
}

.msg-body {
  height: calc(100vh - 51vh);
  overflow-y: auto;
}

.ct_chatroom_chatlist {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
}

.ct_chatroom_chatlist .modal-content {
  background-color: transparent;
}

.ct_img_40 {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  object-fit: cover;
}

.msg-head {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

.msg-body ul .sender {
  color: #000;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  padding: 15px;
  background: rgba(230, 230, 230, 1);
  /* color: #fff; */
  display: inline-block;
  margin-bottom: 0;
  max-width: 500px;
  border: 1px solid #6b72801a;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
}

.msg-body ul .repaly {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  padding: 15px;
  background: rgba(0, 0, 0, 1);
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 0;
}

.msg-body ul .repaly p {
  text-align: left;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
}

.msg-body ul li {
  list-style: none;
  margin: 15px 0;
  padding-inline: 15px;
  display: flex;
  flex-direction: column;
  /* gap: 4px; */
}

.send-box .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #000;
  padding-right: 115px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #eeeef8;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 12px;
  padding-left: 35px;
  height: 48px;
  transition: border-color 0.15sease-in-out, box-shadow 0.15sease-in-out;
}

.send-box form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.send-box {
  padding: 15px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px -4px 4px 0px #0000000a;
}

.ct_right_side_send_chat_btns {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;

  width: auto;
  font-weight: 500;
  height: 35px;
  border-radius: 5px;
  padding: 4px 10px;
  justify-content: center;
}

.ct_input_icon_left {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.ct_input_ps_40 {
  padding-left: 40px;
}



.chat-list a.d-flex {
  position: relative;
  text-decoration: none;
  padding-inline: 25px;
}

.chat-list p {
  font-size: 14px;
  /* font-weight: 400; */
  color: #4b5563;
  line-height: 1.5;
  text-transform: capitalize;
  margin-bottom: 0;
}

.ct_overlay_text_w_150 {
  width: 130px;
}

.ct_overlay_text {
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chat-list a.d-flex {
  position: relative;
  text-decoration: none;
  padding-inline: 25px;
}

.chat-list a {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
}

.chat-list .active2 {
  background-color: #0000000a;
}

.ct_img_25 {
  width: 25px;
  height: 25px;
  object-fit: cover;
  /* border-radius: 100px; */
}

.ct_upload_paper_click_img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #898787;
}

.ct_right_side_send_chat_btns {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  background-color: var(--primary-color);
  width: auto;
  font-weight: 500;
  height: 35px;
  border-radius: 5px;
  padding: 4px 10px;
  justify-content: center;
}

.msg-body ul .repaly {
  display: block;
  width: 100%;
  text-align: right;
  position: relative;
  max-width: 450px;
  margin-left: auto;
}

/* chat css end */


.ct_profile_img_56 {
  height: 56px;
  width: 56px;
  border-radius: 100%;
  object-fit: cover;
}

.ct_profile_img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-inline: auto;
  position: relative;
}

.profile-edit-box {
  border: 0.4px solid rgba(221, 223, 227, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 15px;
  border-radius: 16px;

}

.ct_profile_img>img {
  object-fit: cover;
  width: 100px;
  border-radius: 100px;
  height: 100px;
  border: 1px solid #ae0c1f;
}

.ct_upload_icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
}


.ct_edit_profile_bg {
  /* background-color: #f5f5f5; */
  padding: 25px;
  border-radius: 16px;

}




/* From Uiverse.io by ErzenXz */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-handle {
  transform: translateX(45px);
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-background {
  background-color: #111;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch:before {
  content: "On";
  color: #111;
  right: -15px;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-background .toggle-switch-handle {
  transform: translateX(20px);
}



.ct_right_box {
  border: 0.4px solid rgba(221, 223, 227, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 40px;
  border-radius: 16px;
}

.ct_right_main_box {
  border: 0.4px solid rgba(221, 223, 227, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 24px;
  border-radius: 16px;
  /* height: 80vh; */
}


.ct_show_eye {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  z-index: 9;
  cursor: pointer;
}




/* ================= PROFILE SIDEBAR (ADD ONLY) ================= */

.profile-sidebar {
  background: #fff;
  border: 1px solid #eee;
  height: fit-content;
}

/* Sidebar header (mobile only) */


/* Menu */
.profile-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile-sidebar-menu li a {
  padding: 14px 21px;

  cursor: pointer;
  border-radius: 12px;
  width: 100%;
  display: inline-block;
  color: #383E48;
  font-weight: 500;
}

.profile-sidebar-menu li .active {
  background-color: #8F0C1F0A;
  color: #8F0C1F;

}

.profile-sidebar-menu li a:hover {
  background: #8F0C1F0A;
  color: #8F0C1F;
}

.profile-sidebar-menu li a:hover img,
.profile-sidebar-menu li a.active img {
  filter: invert(14%) sepia(96%) saturate(7492%) hue-rotate(357deg) brightness(62%) contrast(91%);
}

/* Overlay */
.profile-overlay {
  position: fixed;
  top: 72px;
  /* fixed navbar height */
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1040;
}

/* Disable background scroll */
body.profile-no-scroll {
  overflow: hidden;
}

.purchase-agree-btn {
  border-radius: 6px;
  border: 1px solid rgba(209, 213, 219, 1);
  background: rgba(255, 255, 255, 1);


  color: #111;
  width: 100%;
  padding-block: 15px;
}

.purchase-agree-btn.active {
  /* border: 2px solid rgba(143, 12, 31, 1); */
  background-color: rgba(143, 12, 31, 1);
  color: #fff;

}


.opening-timing-table tr td {
  font-weight: 300;
  font-size: 14px;
  border: none;
}

.seller-det-banner img {
  height: 386px;
  width: 100%;
  object-fit: cover;
}

.sellter-detail-tabs li button {
  padding-block: 17px;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  color: rgba(0, 0, 0, 1);
  border-radius: 0;

}





.sellter-detail-tabs li button.active,
.sellter-detail-tabs li button:hover {

  background-color: rgba(143, 12, 31, 1) !important;
  color: #fff !important;
  border-radius: 0;

}

.seller-team-img img {
  height: 182px;
  border-radius: 7px;
}


.yt-videos-icons {
  position: absolute;
  background: #111;
  /* filter: invert(1); */
  display: flex;
  flex-direction: column;
  top: 10px;
  right: 10px;
  padding: 5px;
  gap: 8px;
  border-radius: 8px;
}

.yt-videos-icons img {
  filter: invert(1);
}


.sorting-canva-list li+li {
  margin-top: 15px;
}

.sorting-canva-list li {
  cursor: pointer;
}

.sorting-offcanvas {
  width: 350px !important;
}

.ct_show_left {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  z-index: 9;
}


.upload-imgs {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
  max-height: 220px;
  overflow-y: auto;
}

.upload-imgs .img-item img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.upload-box {
  border: 2px dashed #d0d5dd;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  background-color: #fafafa;
}

.upload-imgs .img-item {
  position: relative;
  width: 100px;
  height: 100px;
}

.upload-imgs .img-remove {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 26px;
  min-height: 26px;
  background: #dc2626;
  border: none;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
}


.ct_custom_scroll::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.ct_custom_scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.ct_custom_scroll::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.ct_custom_scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ct_dashed_transparent_btn {
  border: 1px dashed rgba(209, 213, 219, 1);
  /* background: rgba(0, 0, 0, 1); */
  border-radius: 8px;
  color: #111;
  display: inline-block;
  padding-block: 12px;
}


.video-item video,
.video-item iframe {
  height: 200px;
  border-radius: 8px;
  width: 200px;
}

/* ================= MOBILE ================= */






.price-range {
  max-width: 400px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.range-slider {
  width: 100%;
  -webkit-appearance: none;
  height: 4px;
  background: #111;
  border-radius: 5px;
  outline: none;
}

/* Slider thumb */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 2px solid #111;
  border-radius: 50%;
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #fff;
  border: 2px solid #111;
  border-radius: 50%;
  cursor: pointer;
}

/* Labels */
.range-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.label-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label-text {
  font-size: 12px;
  color: #777;
}

.pill {
  display: inline-block;
  padding: 6px 14px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 13px;
  background: #fff;
  color: #000;
}


/* Default state */
.logo-sticky {
  display: none;
}

/* When header becomes sticky */
.header-sticky .logo-default {
  display: none;
}

.header-sticky .logo-sticky {
  display: block;
}




.notification-dropdown {
  width: 550px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  padding: 20px;
  max-width: 95vw;
  left: 50%;
  transform: translateX(-50%);
}

.notification-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 12px 16px;
  white-space: normal;
}

.notification-item:hover {
  background-color: #f8f9fa;
}

.notification-item .time {
  font-size: 12px;
  color: #6c757d;
}

.notification-item .dot {
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  margin-top: 6px;
}


button#profileSidebarClose {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--primary-color);
  color: #fff;
  width: 26px;
  border-radius: 100%;
}




/* login mmodal start */

.login-popup .modal-content {
  background: url("../img/bg-img-popup.png");

}

/* LEFT SIDE */
.login-popup__left {
  background: #ffffff;
  height: 480px;
  background: #ffffff;
  max-height: 480px;
  overflow-y: auto;
}

.login-popup__brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 22px;
}

.login-popup__title {
  font-weight: 600;
  color: #111;
}

/* ROLE BOX */
.login-popup__role {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 14px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 14px;
  transition: all 0.3s ease;
}

.login-popup__role input {
  accent-color: #9b0c1f;
}

.login-popup__role.active {
  border-color: #9b0c1f;
  background: #fff2f4;
}

/* BUTTON */
.login-popup__btn {
  width: 100%;
  background: #9b0c1f;
  color: #fff;
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
}

.login-popup__btn:hover {
  background: none;
  border: 1px solid #9b0c1f;
}

/* RIGHT SIDE IMAGE */
.login-popup__right {
  /* background: url('../img/login-img.jpg') center/cover no-repeat; */
  height: 480px;


}

.login-popup__right img {
  /* background: url('../img/login-img.jpg') center/cover no-repeat; */
  height: 100%;
  width: 100%;
  object-fit: cover;

}

/* hide default radio */
.login-popup__role input {
  display: none;
}

/* role box */
.login-popup__role {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 14px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 14px;
  transition: all 0.3s ease;
}

/* selected state */
.login-popup__role input:checked+.login-popup__text {
  font-weight: 600;
}

.login-popup__role:has(input:checked) {
  border-color: #9b0c1f;
  background: #fff2f4;
}

/* hover */
.login-popup__role:hover {
  border-color: #9b0c1f;
}





.collapse-cont-wrapper img[data-bs-toggle="collapse"]:not(.collapsed) {
  transform: rotate(180deg);
}



.register-social-icon a {
  border: 1px solid rgb(196, 196, 196);
  color: #111;
  padding: 10px 20px;
  margin-right: 10px;
  margin-top: 10px;
}

.register-social-icon {
  margin-top: 30px;
}


.login-img-text {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  color: #fff;
  margin: 50px;
  padding: 30px 36px;
}

.fst_italic {
  font-style: italic;
}

.otpmainbox {
  display: flex;
  gap: 20px;
  border-radius: 12px;

}

.otpmainbox .otpbox {
  text-align: center;
}

/* login modal end */



/* vehicle modal css */
.search-vehicle-modal-box {
  width: 390px;
  /* background-color: #666; */
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
  position: absolute;
  background: #fff;
  z-index: 9;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.popular-make-icon-box {
  width: 64px;
  height: 54px;
  border: 1px solid rgba(207, 207, 207, 1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.popular-make-icon {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.popular-make-all-box {
  display: grid;
  gap: 10px;
}





.year-filter-box {
  max-width: 360px;
}




.year-card {
  background: #fff;
  border-radius: 12px;
  padding: 14px;
  margin-bottom: 12px;
  border: 1px solid #f1f1f1;
  font-size: 14px;
}

.custom-progress {
  height: 6px;
  border-radius: 10px;
  background-color: #eee;
}

.custom-progress .progress-bar {
  border-radius: 10px;
}

.bg-danger {
  background-color: var(--primary-color) !important;
}










.price-input {
  font-size: 13px;
  padding: 8px 10px;
  border-radius: 8px;
}

.custom-range {
  accent-color: #c8102e;
}

.match-box {
  background: #fff;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 14px;
}

.custom-progress {
  height: 6px;
  border-radius: 10px;
  background-color: #eee;
}

.custom-progress .progress-bar {
  border-radius: 10px;
}

.carzone-accordian .accordion-item,
.carzone-accordian .accordion-button {
  background: none;
}

.carzone-accordian .accordion-body {
  background-color: #f4f4f4;
  margin-top: 10px;
}



/* side bar profile css */
.profile-sidebar {
  background: #fff;
  border: 1px solid #eee;
  height: fit-content;
}

/* Sidebar header (mobile only) */
.profile-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

/* Menu */
.profile-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile-sidebar-menu li a {
  padding: 14px 21px;
  cursor: pointer;
  border-radius: 12px;
  width: 100%;
  display: inline-block;
  color: #383e48;
  font-weight: 500;
}

.profile-sidebar-menu li .active {
  background-color: #8f0c1f0a;
  color: #8f0c1f;
}

.profile-sidebar-menu li a:hover {
  background: #8f0c1f0a;
  color: #8f0c1f;
}

aside#profileSidebar {
  padding-inline: 0;
}

/* Overlay */
.profile-overlay {
  position: fixed;
  top: 72px;
  /* fixed navbar height */
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1040;
}

/* Disable background scroll */
body.profile-no-scroll {
  overflow: hidden;
}

.rating-star-img i {
  color: #fcd53f;
  font-size: 30px;
}

/* css end */



.car-content-right-list li span {
  padding-left: 10px;
}

.car-content-detail-list li span {
  padding-left: 10px;
}


.eng-dropdown,
.prof-user-name,
.prof-buyer-name {
  color: #111 !important;
}