<div class="d-flex align-items-center gap-5 profile-edit-box">
      <div class="ct_profile_img m-0">
            <img src="img/profile.png" alt="" />
            <label for="ct_profile_update">
                  <input type="file" class="d-none" id="ct_profile_update" />
                  <div class="ct_upload_icon">
                        <img src="img/Camera.png" alt="" />
                  </div>
            </label>
      </div>
      <div>
            <h5 class="ct_fs_25 ct_fw_600">John Wilson</h5>
            <p class="ct_fs_14">alma.lawson&#64;example.com</p>
      </div>
</div>
<div class="ct_edit_profile_bg profile-edit-box mt-4">
      <form action="">
            <div class="row">
                  <div class="col-12">
                        <div class="form-group mb-4">
                              <label for="" class="mb-2 ct_fw_500 ct_fs_18">Full
                                    Name</label>
                              <input type="text" class="form-control ct_input" placeholder="Enter Full Name"
                                    value="Elizabeth Anderson" />
                        </div>
                  </div>
                  <div class="col-lg-6">
                        <div class="form-group mb-4">
                              <label for="" class="mb-2 ct_fw_500 ct_fs_18">Email
                                    Address</label>
                              <input type="email" class="form-control ct_input" placeholder="Enter Email Address"
                                    value="Elizabeth Anderson" />
                        </div>
                  </div>
                  <div class="col-lg-6">
                        <div class="form-group mb-4">
                              <label for="" class="mb-2 ct_fw_500 ct_fs_18">Phone
                                    Number</label>
                              <input type="text" class="form-control ct_input" placeholder="Enter Phone Number"
                                    value="+1 (415) 555-0123" />
                        </div>
                  </div>
                  <div class="col-lg-12">
                        <div class="form-group mb-4">
                              <label for="" class="mb-2 ct_fw_500 ct_fs_18">
                                    Address</label>
                              <input type="text" class="form-control ct_input" placeholder="Enter Phone Number"
                                    value="+1 (415) 555-0123" />
                        </div>
                  </div>
                  <div class="col-lg-6">
                        <div class="form-group mb-4">
                              <label for="" class="mb-2 ct_fw_500 ct_fs_18">Postal Code
                              </label>
                              <input type="text" class="form-control ct_input" placeholder="Enter Phone Number"
                                    value="+1 (415) 555-0123" />
                        </div>
                  </div>
                  <div class="col-lg-6">
                        <div class="form-group mb-4">
                              <label for="" class="mb-2 ct_fw_500 ct_fs_18">
                                    City</label>
                              <input type="text" class="form-control ct_input" placeholder="Enter Phone Number"
                                    value="+1 (415) 555-0123" />
                        </div>
                  </div>

                  <div class="text-end mt-4">
                        <button class="btn-grey-transparent px-4 me-2">
                              Cancel
                        </button>
                        <button class="btn-red-transparent">Save Changes</button>
                  </div>
                  <div class="col-lg-6"></div>
            </div>
      </form>
</div>