<section class="ct_mt_100 ct_mt_90">
      <div class="container">
            <ul class="nav nav-tabs pt-4 ct_border_none select-car-tabs gap-3" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="czone-tab" type="button" role="tab">
                              <img src="img/icons/c.png" />
                              <span>Zone</span>
                        </button>
                  </li>
                  <li class="nav-item" role="presentation">
                        <button class="nav-link" id="bmw-tab" type="button" role="tab">
                              <img src="img/icons/bmw.png" />
                              <span>BMW</span>
                        </button>
                  </li>
                  <li class="nav-item" role="presentation">
                        <button class="nav-link" id="ferrari-tab" type="button" role="tab">
                              <img src="img/icons/ferrari.png" />
                              <span>BMW</span>
                        </button>
                  </li>
                  <li class="nav-item" role="presentation">
                        <button class="nav-link" id="laborghini-tab" type="button" role="tab">
                              <img src="img/icons/lamborghini.png" />
                              <span>laborghini</span>
                        </button>
                  </li>
                  <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tesla-tab" type="button" role="tab">
                              <img src="img/icons/Tesla.png" />
                              <span>tesla</span>
                        </button>
                  </li>
                  <li class="nav-item" role="presentation">
                        <button class="nav-link" id="audi-tab" type="button" role="tab">
                              <img src="img/icons/audi.png" />
                              <span>Audi</span>
                        </button>
                  </li>
                  <li class="nav-item" role="presentation">
                        <button class="nav-link" id="mercedes-tab" type="button" role="tab">
                              <img src="img/icons/mercedes.png" />
                              <span>mercedes</span>
                        </button>
                  </li>
                  <li class="nav-item" role="presentation">
                        <button class="nav-link" id="ford-tab" type="button" role="tab">
                              <img src="img/icons/ford.png" />
                              <span>ford</span>
                        </button>
                  </li>
            </ul>
      </div>
</section>

<!-- filter ui -->
<section class="mt-5">
      <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                  <div>
                        <h2 class="mb-0 ct_fs_30 ct_fw_600">Search in 196,008 vehicles</h2>
                  </div>

                  <div>
                        <a class="ct_color_8f0c1f ct_fs_18 ct_fw_500">Reset</a>
                  </div>
            </div>

            <div class="filter-preview mt-4">
                  <div class="filter-preview-box active">
                        <div>
                              <img src="img/icons/make-model.png" />
                        </div>
                        <div>
                              <p>Make & Model</p>
                        </div>
                  </div>
                  <div class="filter-preview-box">
                        <div>
                              <img src="img/icons/body-type.png" />
                        </div>
                        <div>
                              <p class="">Body Type</p>
                        </div>
                  </div>
                  <div class="filter-preview-box">
                        <div>
                              <img src="img/icons/price-range.png" />
                        </div>
                        <div>
                              <p>Price Range</p>
                        </div>
                  </div>
                  <div class="filter-preview-box">
                        <div>
                              <img src="img/icons/year.png" />
                        </div>
                        <div>
                              <p>Year Range</p>
                        </div>
                  </div>

                  <div class="filter-preview-box">
                        <div>
                              <img src="img/icons/km.png" />
                        </div>
                        <div>
                              <p>Kilometers</p>
                        </div>
                  </div>

                  <div class="filter-preview-box">
                        <div>
                              <img src="img/icons/transmision.png" />
                        </div>
                        <div>
                              <p>Transmission</p>
                        </div>
                  </div>
                  <div class="filter-preview-box">
                        <div>
                              <img src="img/icons/power-output.png" />
                        </div>
                        <div>
                              <p>Power Output</p>
                        </div>
                  </div>
                  <div class="filter-preview-box">
                        <div>
                              <img src="img/icons/fuel-type.png" />
                        </div>
                        <div>
                              <p>Fuel Type</p>
                        </div>
                  </div>
            </div>
            <div class="mt-3">
                  <a class="clear-filters justify-content-end">
                        <img src="img/icons/filter.svg" alt="More Filters" />
                        <span class="ct_color_1877F2"> More Filters</span>
                  </a>
            </div>
      </div>
</section>
<section>
      <div class="container">
            <h3 class="ct_fs_25 ct_fw_600 mb-3 ct_color_8f0c1f">
                  Recently viewed
            </h3>
            <div class="row">
                  @for (item of recentlyViewedlist; track $index) {
                  <div class="col-lg-2">
                        <div class="card position-relative" routerLink="/car-detail" [queryParams]="{id: item.car_id}">
                              <img [src]="item.car_image" class="card-img-top" alt="..." />
                              <div class="seller-image-div">
                                    <img [src]="item.user_profile_image" class="seller-image-2">
                              </div>
                        </div>
                  </div>
                  }
            </div>
      </div>
</section>

<!-- Tab content -->
<div class="container mt-5">
      <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="czone" role="tabpanel">
                  @if (loaded) {
                  @for (item of carsList; track $index) {
                  <div class="mb-4">
                        <div class="row align-items-start">
                              <div class="col-lg-6">
                                    <div class="">
                                          <nz-image-group>
                                                <div class="swiper mySwiperMain mySwiperMain-{{$index}}">
                                                      <div class="swiper-wrapper">
                                                            <div class="swiper-slide"
                                                                  *ngFor="let img of item.carImages; trackBy: trackByImage">
                                                                  <img [nzSrc]="img || 'img/placeholder.png'"
                                                                        nz-image />
                                                            </div>
                                                      </div>
                                                      <div class="swiper-pagination pagination-ui"></div>
                                                </div>
                                          </nz-image-group>

                                          <div class="swiper mySwiperThumbs mySwiperThumbs-{{$index}} mt-2">
                                                <div class="swiper-wrapper">
                                                      <div class="swiper-slide"
                                                            *ngFor="let img of item.carImages; trackBy: trackByImage">
                                                            <img [src]="img" />
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>

                              <div class="col-lg-6">
                                    <div class="car-content-right">
                                          <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                      <h3 class="ct_fs_25 ct_fw_600 mb-2">
                                                            <a routerLink="/car-detail" [queryParams]="{id: item.id}"
                                                                  class="ct_fs_25 ct_fw_600 mb-2 text-black">
                                                                  {{item.brandName}}
                                                                  {{item.carModel}}</a>
                                                      </h3>
                                                </div>

                                                <div>
                                                      <i class="fa-heart ct_fs_25"
                                                            [ngClass]="item.isWishlist ? 'fa-solid ct_text_red' : 'fa-regular'"
                                                            (click)="item.isWishlist ? removeFromWishlist(item) : addToWishlist(item)"></i>
                                                </div>
                                          </div>

                                          <div class="mt-2">
                                                <h3 class="ct_fs_25 ct_fw_600 mb-0 ct_color_8f0c1f">
                                                      {{item.totalPrice | chfFormat}}
                                                </h3>
                                                <p
                                                      class="mb-0 ct_fs_18 ct_fw_400 ct_color_1877F2 text-decoration-underline">
                                                      CHF 550.- per month
                                                </p>
                                          </div>

                                          <!-- <div class="d-flex justify-content-between mt-3 ct_mb_35 gap-2">
                                                <div class="box">Panoramic Sunroof</div>
                                                <div class="box">Leather Interior</div>
                                                <div class="box">Adaptive LED Headlights</div>
                                          </div> -->
                                    </div>

                                    <div class="row mt-4">
                                          <div class="col-sm-5">
                                                <ul class="p-0 car-content-right-list">
                                                      <li class="d-flex gap-3 align-items-start">
                                                            <img src="img/icons/speedometer_red.png" />
                                                            <span> {{item.consumption}} </span>
                                                      </li>
                                                      <li class="d-flex gap-3 align-items-start">
                                                            <img src="img/icons/km-brown.png" />
                                                            <span> {{item.carMileage}} km </span>
                                                      </li>
                                                      <li class="d-flex gap-3 align-items-start">
                                                            <img src="img/icons/fuel-brown.png" />
                                                            <span> {{item.fuelType}} </span>
                                                      </li>
                                                      <li class="d-flex gap-3 align-items-start">
                                                            <img src="img/icons/power-brown.png" />
                                                            <span> {{item.powerOutput}} </span>
                                                      </li>
                                                      <li class="d-flex gap-3 align-items-start">
                                                            <img src="img/icons/transmission-brown.png" />
                                                            <span> {{item.transmission}} </span>
                                                      </li>
                                                      <li class="d-flex gap-3 align-items-start">
                                                            <img src="img/icons/calendar-brown.png" />
                                                            <span> {{item.selectYear}} </span>
                                                      </li>
                                                </ul>
                                          </div>
                                          <div class="col-sm-7">
                                                <div class="mt-md-0 mt-3">
                                                      <img [src]="item.sellerDetails.profileImage"
                                                            class="seller-image" />
                                                      <h4 class="ct_fs_20 ct_fw_500 mt-2">
                                                            {{item.sellerDetails.fullName}}</h4>
                                                      <div class="d-flex align-items-center mt-3">
                                                            <img src="img/icons/ep_location.png" />
                                                            <p class="ct_fs_16 ct_fw_300 mb-0">
                                                                  {{item.sellerDetails.pincode}}
                                                                  {{item.sellerDetails.city}}
                                                            </p>
                                                      </div>

                                                      <div class="mt-2">
                                                            <img src="img/icons/google.png" />
                                                            4.5
                                                            <img src="img/icons/rating.png" />
                                                            <img src="img/icons/rating.png" />
                                                            <img src="img/icons/rating.png" />
                                                            <img src="img/icons/rating.png" />
                                                            <img src="img/icons/rating.png" />
                                                      </div>

                                                      <div class="mt-2">
                                                            <img src="img/icons/c-icon.png" class="me-2" />

                                                            <img src="img/icons/watsaap.png" class="me-2" />
                                                            <img src="img/icons/call.png" class="me-2" />
                                                            <img src="img/icons/formkit_email.png" />
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>

                        <div class="quality-img my-4">
                              <img src="img/icons/quality.png" />
                        </div>
                        <hr />
                  </div>
                  }
                  }
            </div>
      </div>
</div>