<div class="ct_mt_100">
      <div class="container">
            <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap">
                  <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                              <li class="breadcrumb-item">
                                    <a class="ct_color_8f0c1f ct_fs_17 ct_fw_500" (click)="location.back()">
                                          <img src="img/icons/chevron-right.png" class="me-2" />
                                          Back | {{carData?.vehicle.brand}}</a>
                              </li>
                              <li class="breadcrumb-item">
                                    <a class="ct_color_8f0c1f ct_fs_17 ct_fw_500">
                                          <img src="img/icons/chevron-left.png" class="me-2" />
                                          {{carData?.vehicle.model}}
                                    </a>
                              </li>
                              <li class="breadcrumb-item active ct_fs_17 ct_fw_300" aria-current="page">
                                    <img src="img/icons/chevron-left.png" class="me-2" />
                                    {{carData?.vehicle.brand}} {{carData?.vehicle.model}}
                              </li>
                        </ol>
                  </nav>

                  <div class="d-flex gap-4 align-items-center mt-xl-0 mt-3">
                        <div class="d-flex align-items-center gap-2">
                              <img src="img/icons/wishlisht.png" />
                              <span class="ct_fs_17 ct_fw_400">Shortlist</span>
                        </div>
                        <div class="d-flex align-items-center gap-2 ct_cursor_pointer" data-bs-toggle="modal"
                              data-bs-target="#reportModal">
                              <img src="img/icons/report.png" />
                              <span class="ct_fs_17 ct_fw_400">Report Listing</span>
                        </div>


                        <div class="d-flex align-items-center gap-2">
                              <img src="img/icons/share.png" />
                              <span class="ct_fs_17 ct_fw_400">Share</span>
                        </div>
                  </div>
            </div>
      </div>
</div>

<!-- breadcrumb end -->

<section>
      <div class="container">
            <div class="mb-4">
                  <div class="row">
                        <div class="col-lg-7">
                              @if(carData?.images.length > 0){
                              <div class="">
                                    <nz-image-group>
                                          <div class="swiper mySwiperMain">
                                                <div class="swiper-wrapper">
                                                      <div class="swiper-slide"
                                                            *ngFor="let img of carData.images; trackBy: trackByImage">
                                                            <img [nzSrc]="img || 'img/placeholder.png'" nz-image
                                                                  nzPreview>
                                                      </div>
                                                </div>
                                                <div class="swiper-pagination pagination-ui"></div>
                                          </div>
                                    </nz-image-group>

                                    <div class="swiper mySwiperThumbs mySwiperThumbs mt-2">
                                          <div class="swiper-wrapper">
                                                <div class="swiper-slide"
                                                      *ngFor="let img of carData.images; trackBy: trackByImage">
                                                      <img [src]="img">
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              }
                              <h4 class="ct_fs_20 ct_fw_600 ct_mt_40 mb-3">Vehicle Details</h4>
                              <div class="d-flex gap-5 align-items-center">
                                    <ul class="p-0 car-content-detail-list">
                                          <li class="d-flex gap-3 align-items-start">
                                                <img src="img/icons/calendar-brown.png" />
                                                <span> {{carData?.vehicle.year}} </span>
                                          </li>
                                          <li class="d-flex gap-3 align-items-start">
                                                <img src="img/icons/km-brown.png" />
                                                <span> {{carData?.vehicle.mileage}} km </span>
                                          </li>
                                          <li class="d-flex gap-3 align-items-start">
                                                <img src="img/icons/transmission-brown.png" />
                                                <span> {{carData?.vehicle.transmission}} </span>
                                          </li>

                                          <li class="d-flex gap-3 align-items-start">
                                                <img src="img/icons/Hinterantrieb.png" />
                                                <span> Hinterantrieb </span>
                                          </li>
                                    </ul>
                                    <ul class="p-0 car-content-detail-list">
                                          <li class="d-flex gap-3 align-items-start">
                                                <img src="img/icons/carn.png" />
                                                <span> {{carData?.vehicle.bodyType}} </span>
                                          </li>
                                          <li class="d-flex gap-3 align-items-start">
                                                <img src="img/icons/fuel-brown.png" />
                                                <span> {{carData?.vehicle.fuel}} </span>
                                          </li>
                                          <li class="d-flex gap-3 align-items-start">
                                                <img src="img/icons/power-brown.png" />
                                                <span> {{carData?.vehicle.power}} ps </span>
                                          </li>

                                          <li class="d-flex gap-3 align-items-start">
                                                <img src="img/icons/km-blackn.png" />
                                                <span> {{carData?.vehicle.consumption}} L / 100 Km </span>
                                          </li>
                                    </ul>
                              </div>
                              <div class="mt-3">
                                    <a class="ct_color_3e1cff ct_fs_16">Show more vehicle data</a>
                              </div>
                              <hr class="my-4" />

                              <div class="car-view-more-detail">
                                    <div class="car-view-more-detail-head-img">
                                          <img src="img/carvertical-img.png" />
                                    </div>
                                    <h5 class="ct_fs_18 ct_fw_500">
                                          Get the real vehicle check with carVertical!
                                    </h5>
                                    <p class="ct_fs_16 ct_fw_700 mb-0">
                                          Check any car in seconds and uncover hidden damage, mileage
                                          fraud, theft records, old photos, and much more.
                                    </p>
                                    <p class="ct_fs_16 ct_fw_700 mb-0">
                                          Before buying a used car: run a carVertical check and avoid
                                          expensive surprises.
                                    </p>
                                    <p class="ct_fs_16 ct_fw_700 mb-0">
                                          <strong>Buy safely – with a complete vehicle history.</strong>
                                    </p>

                                    <div class="mt-3">
                                          <a class="btn-red">
                                                Get Vehicle check
                                          </a>
                                    </div>
                                    <hr class="my-4" />

                                    <h4 class="ct_fs_20 ct_fw_600 mb-3">Equipment & Features</h4>
                                    <ul class="px-0 equipment-list">
                                          <li>
                                                <img src="img/icons/list-chk.png" />
                                                Panoramic Sunroof
                                          </li>
                                          <li>
                                                <img src="img/icons/list-chk.png" />
                                                Leather Interior
                                          </li>
                                          <li>
                                                <img src="img/icons/list-chk.png" />
                                                Adaptive LED Headlights
                                          </li>
                                          <li>
                                                <img src="img/icons/list-chk.png" />
                                                Harman Kardon Sound System
                                          </li>
                                          <li>
                                                <img src="img/icons/list-chk.png" />
                                                360° Camera System
                                          </li>
                                    </ul>

                                    <div class="mt-3">
                                          <a class="ct_color_3e1cff ct_fs_16"> Show More </a>
                                    </div>
                                    <hr class="my-4" />

                                    <h4 class="ct_fs_20 ct_fw_600 mb-3">Description</h4>
                                    <p>
                                          {{carData?.vehicle.description}}
                                    </p>
                                    <div class="mt-3">
                                          <a class="ct_color_3e1cff ct_fs_16"> Show More </a>
                                    </div>
                                    <hr class="my-4" />

                                    <h4 class="ct_fs_20 ct_fw_600 mb-3">
                                          Vehicle inspection (MFK)
                                    </h4>
                                    <p>
                                          <img src="img/icons/right.png" class="me-2" />
                                          MFK for this vehicle was done on 12.06.2025 and is valid up to
                                          one year.
                                    </p>
                                    <hr class="my-4" />

                                    <h4 class="ct_fs_20 ct_fw_600 mb-3">Warranty & Returns</h4>
                                    <div class="d-flex gap-4 mb-2">
                                          <div class="w-25">Warranty Included</div>
                                          <div class="ct_color_0acc0a">
                                                yes <img src="img/icons/right.png" class="ms-1" />
                                          </div>
                                    </div>
                                    <p class="mb-2">From take-over, 12 months or 20,000 km</p>
                                    <p class="mb-2">Quality 1 Q Base</p>
                                    <div class="d-flex gap-4 mb-2">
                                          <div class="w-25">Swiss car?</div>
                                          <div class="ct_color_0acc0a">
                                                yes <img src="img/icons/right.png" class="ms-1" />
                                          </div>
                                    </div>

                                    <hr class="my-4" />
                                    <h4 class="ct_fs_20 ct_fw_600 mb-3">Leasing Calculator</h4>

                                    <div class="calculator-box">
                                          <p class="ct_fs_20 mb-0">
                                                <img src="img/icons/calculator.png" clas="" />
                                                <span class="ms-3">
                                                      Calculate your approximate monthly lease rate</span>
                                          </p>
                                    </div>

                                    <div class="row ct_mt_30">
                                          <div class="col-6">
                                                <label class="ct_fs_15 ct_fw_400 mb-2">Lease Duration</label>
                                                <select class="form-select" aria-label="Default select example">
                                                      <option selected>12 months</option>
                                                      <option value="1">One</option>
                                                      <option value="2">Two</option>
                                                      <option value="3">Three</option>
                                                </select>
                                          </div>
                                          <div class="col-6">
                                                <label class="ct_fs_15 ct_fw_400 mb-2"> Km per Year</label>
                                                <select class="form-select" aria-label="Default select example">
                                                      <option selected>10,000 km</option>
                                                      <option value="1">One</option>
                                                      <option value="2">Two</option>
                                                      <option value="3">Three</option>
                                                </select>
                                          </div>

                                          <div class="col-lg-12">
                                                <label class="mt-3 ct_fs_15 ct_fw_400 mb-2">
                                                      Down Payment
                                                </label>
                                                <input type="text" class="form-control" placeholder="CHF 25’43.- "
                                                      aria-label="Username" aria-describedby="basic-addon1" />
                                          </div>
                                    </div>

                                    <div class="car-detail-value-sec mt-4">
                                          <div class="d-flex justify-content-center align-items-center">
                                                <h3 class="ct_fs_44 ct_fw_700">567</h3>
                                                <p class="ct_fs_15 mb-0">
                                                      .05
                                                      <br />
                                                      <span>/Mt.</span>
                                                </p>
                                          </div>

                                          <div
                                                class="d-flex w-50 mx-auto align-items-center justify-content-between mt-3">
                                                <p class="ct_fs_15 mb-0">Residual value:</p>
                                                <p class="ct_fs_15 mb-0">CHF 46’800.-</p>
                                          </div>

                                          <div
                                                class="d-flex w-50 mx-auto align-items-center justify-content-between mt-2">
                                                <p class="ct_fs_15 mb-0">Annual Interest Rate:</p>
                                                <p class="ct_fs_15 mb-0">5.9%</p>
                                          </div>
                                    </div>
                              </div>
                        </div>

                        <div class="col-lg-5 mt-lg-0 mt-4">
                              <div class="car-content-right">
                                    <div class="d-flex justify-content-between align-items-center">
                                          <div>
                                                <h3 class="ct_fs_25 ct_fw_600 mb-2">
                                                      {{carData?.vehicle.brand}} {{carData?.vehicle.model}}
                                                </h3>
                                          </div>
                                    </div>

                                    <div class="mt-2">
                                          <h3 class="ct_fs_25 ct_fw_700 mb-0 ct_color_8f0c1f">
                                                CHF {{carData?.vehicle.price | chfFormat}} /
                                                <span class="mb-0 ct_fs_18 ct_fw_400 ct_color_3e1cff fst-italic">
                                                      CHF 550.- per month
                                                </span>
                                          </h3>
                                    </div>
                              </div>

                              <div class="row mt-4">
                                    <div class="">
                                          <img [src]="carData?.seller.profileImage || 'img/icons/user-circle-img.png'"
                                                class="seller-image" />
                                          <h4 class="ct_fs_20 ct_fw_500 mt-2">{{carData?.seller.name}}</h4>
                                          <div class="d-flex align-items-center mt-3">
                                                <img src="img/icons/ep_location.png" class="me-2" />
                                                <p class="ct_fs_16 ct_fw_300 mb-0">
                                                      {{carData?.sellerDetails?.pincode}}
                                                      {{carData?.sellerDetails?.city}}
                                                </p>
                                          </div>

                                          <div class="mt-2 d-flex gap-2 align-items-center">
                                                <img src="img/icons/google.png" class="me-1" />
                                                <span> 4.5</span>
                                                <img src="img/icons/rating.png" />
                                                <img src="img/icons/rating.png" />
                                                <img src="img/icons/rating.png" />
                                                <img src="img/icons/rating.png" />
                                                <img src="img/icons/rating.png" />
                                          </div>
                                          <div class="d-flex align-items-center gap-3 my-3">
                                                <div class="w-50">
                                                      <a class="btn-red w-100 text-center ct_fw_500">Physical
                                                            Visit</a>
                                                </div>
                                                <div class="w-50">
                                                      <a class="btn-red-transparent w-100 text-center  ct_fw_500">
                                                            Chat with seller</a>
                                                </div>
                                          </div>
                                          <div class="d-flex gap-3">
                                                <div class="w-100">
                                                      <a class="btn-primary-transparent w-100 text-center ct_fw_400">
                                                            <i class="fa-solid fa-phone me-2"></i>
                                                            Call
                                                      </a>
                                                </div>
                                                <div class="w-100">
                                                      <a class="btn-green-transparent w-100 text-center  ct_fw_400">
                                                            <i class="fa-brands fa-whatsapp me-2"></i>

                                                            Whatsapp
                                                      </a>
                                                </div>
                                                <div class="w-100">



                                                      <a class="btn-purple-transparent w-100 text-center  ct_fw_400"
                                                            data-bs-toggle="modal" data-bs-target="#EmailModal">
                                                            <i class="fa-solid fa-envelope me-2"></i>
                                                            Email
                                                      </a>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="mt-4 collapse-cont-wrapper">
                                          <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                      <img src=" img/icons/timer-icon.png">
                                                      Opening Timings
                                                </div>
                                                <div>
                                                      <img src="img/icons/chevron-up-b.png" data-bs-toggle="collapse"
                                                            data-bs-target="#collapseOpeningTimings"
                                                            aria-expanded="true">
                                                </div>
                                          </div>

                                          <div id="collapseOpeningTimings" class="collapse collapse-content show"
                                                data-bs-parent="#filterAccordion">
                                                <table class="table opening-timing-table mt-2">
                                                      <tbody>
                                                            <tr>
                                                                  <td>Mon</td>
                                                                  <td>09:00 - 11:45</td>
                                                                  <td>13:00 - 18:00</td>
                                                            </tr>
                                                            <tr>
                                                                  <td>Tues</td>
                                                                  <td>09:00 - 11:45</td>
                                                                  <td>13:00 - 18:00</td>
                                                            </tr>
                                                            <tr>
                                                                  <td>Wed</td>
                                                                  <td>09:00 - 11:45</td>
                                                                  <td>13:00 - 18:00</td>
                                                            </tr>
                                                            <tr>
                                                                  <td>Thurs</td>
                                                                  <td>09:00 - 11:45</td>
                                                                  <td>13:00 - 18:00</td>
                                                            </tr>
                                                            <tr>
                                                                  <td>Fri</td>
                                                                  <td>09:00 - 11:45</td>
                                                                  <td>13:00 - 18:00</td>
                                                            </tr>
                                                            <tr>
                                                                  <td>Sat</td>
                                                                  <td>09:00 - 11:45</td>
                                                                  <td>13:00 - 18:00</td>
                                                            </tr>
                                                      </tbody>
                                                </table>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <div class="ct_mt_30">
                        <div class="container">
                              <h4 class="ct_fw_600 ct_fs_20 mb-2">Location</h4>
                              <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3669.849902513293!2d72.59278517437018!3d23.102589813339137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e8371c3b2d859%3A0x6035b10ac2e442ad!2seVitalRx%20-%20Pharmacy%20Billing%20and%20Inventory%20Management%20Software%20(PC%20%26%20Mobile)!5e0!3m2!1sen!2sin!4v1768815531384!5m2!1sen!2sin"
                                    width="100%" height="429" style="border: 0; border-radius: 20px" allowfullscreen=""
                                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                  </div>

                  <section class="seller-vehicles mt-30">
                        <div class="container">
                              <div class="seller-header d-flex align-items-center justify-content-between mb-2">
                                    <h5 class="ct_fs_20 ct_fw_600">
                                          More vehicles from this seller
                                    </h5>
                                    <a href="view-seller-detail.html" class="ct_color_3e1cff ct_fs_18">Show all</a>
                              </div>

                              <div class="seller-carousel CarSwiper">
                                    <div class="swiper-wrapper">
                                          @for (item of carData?.suggestedCars; track $index) {
                                          <div class="vehicle-box swiper-slide">
                                                <div class="d-flex gap-4 vehicle-carousel-contetn">
                                                      <div class="w-50">
                                                            <img [src]="item.car_images[0]" class="w-100" />
                                                      </div>
                                                      <div class="">
                                                            <div class="car-content-right">
                                                                  <div
                                                                        class="d-flex justify-content-between align-items-center">
                                                                        <div>
                                                                              <h3 class="ct_fs_22 ct_fw_600 mb-2">
                                                                                    {{ item.brandName }}
                                                                                    {{item.carModel}}
                                                                              </h3>
                                                                        </div>
                                                                  </div>

                                                                  <div class="mt-2">
                                                                        <h3
                                                                              class="ct_fs_18 ct_fw_400 mb-0 ct_color_8f0c1f">
                                                                              {{item.totalPrice | chfFormat}}
                                                                        </h3>
                                                                        <p class="mb-0 ct_fs_14 ct_fw_300">
                                                                              CHF 550.- per month
                                                                        </p>
                                                                  </div>
                                                            </div>

                                                            <div
                                                                  class="d-flex justify-content-between align-items-center mt-2 gap-3">
                                                                  <ul class="p-0 car-content-right-list">
                                                                        <li class="d-flex align-items-center">
                                                                              <img src=" img/icons/sppedmeter.png" />
                                                                              <span>{{item.selectYear}} </span>
                                                                        </li>
                                                                        <li class="d-flex align-items-center">
                                                                              <img src="img/icons/km.png" />
                                                                              <span> {{item.carMileage}} km </span>
                                                                        </li>
                                                                        <li class="d-flex align-items-center">
                                                                              <img src="img/icons/fuel-type.png" />
                                                                              <span> {{item.fuelType}} </span>
                                                                        </li>
                                                                  </ul>

                                                                  <ul class="p-0 car-content-right-list">
                                                                        <li class="d-flex align-items-center">
                                                                              <img src="img/icons/power-output.png" />
                                                                              <span> {{item.powerOutput}} </span>
                                                                        </li>
                                                                        <li class="d-flex align-items-center">
                                                                              <img src="img/icons/transmision.png" />
                                                                              <span> {{item.transmission}} </span>
                                                                        </li>
                                                                        <li class="d-flex align-items-center">
                                                                              <img src="img/icons/year.png" />
                                                                              <span> {{item.consumption}} </span>
                                                                        </li>
                                                                  </ul>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                          }
                                    </div>
                              </div>
                        </div>
                  </section>

                  <div class="d-flex gap-3 ct_mt_40">
                        <div>
                              <a href="purchase-agreement.html" class="btn-red"><img src="img/icons/contract-cion.png"
                                          class="me-2" />Buying
                                    Contract</a>
                        </div>

                        <div>
                              <a class="btn-red-transparent">
                                    <img src="img/icons/download-icon.png" />
                                    Download Pdf</a>
                        </div>
                  </div>
            </div>
      </div>
</section>


<!--Report listing modal -->
<div class="modal fade" id="reportModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                  <div class="modal-header">
                        <h5 class="modal-title">Report Car</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <div class="modal-body pt-0">
                        <div class="mb-3">
                              <ul class="ps-0">
                                    <li class="ps-0">
                                          <div
                                                class="form-check ct_custom_check mt-3 d-flex gap-2 align-items-center justify-content-between ps-0">
                                                <label for="flexCheckDefault">
                                                      Spam or misleading content
                                                </label>
                                                <input class="form-check-input" type="checkbox" value=""
                                                      id="flexCheckDefault" />
                                          </div>
                                    </li>
                                    <li class="ps-0">
                                          <div
                                                class="form-check ct_custom_check mt-3 d-flex gap-2 align-items-center justify-content-between ps-0">
                                                <label for="flexCheckDefault">
                                                      Inappropriate or offensive language
                                                </label>
                                                <input class="form-check-input" type="checkbox" value=""
                                                      id="flexCheckDefault" />
                                          </div>
                                    </li>
                                    <li class="ps-0">
                                          <div
                                                class="form-check ct_custom_check mt-3 d-flex gap-2 align-items-center justify-content-between ps-0">
                                                <label for="flexCheckDefault">
                                                      Suspicious Price
                                                </label>
                                                <input class="form-check-input" type="checkbox" value=""
                                                      id="flexCheckDefault" />
                                          </div>
                                    </li>
                                    <li class="ps-0">
                                          <div
                                                class="form-check ct_custom_check mt-3 d-flex gap-2 align-items-center justify-content-between ps-0">
                                                <label for="flexCheckDefault">
                                                      Wrong Photos / Documents
                                                </label>
                                                <input class="form-check-input" type="checkbox" value=""
                                                      id="flexCheckDefault" />
                                          </div>
                                    </li>
                                    <li class="ps-0">
                                          <div
                                                class="form-check ct_custom_check mt-3 d-flex gap-2 align-items-center justify-content-between ps-0">
                                                <label for="flexCheckDefault">
                                                      Misinformation
                                                </label>
                                                <input class="form-check-input" type="checkbox" value=""
                                                      id="flexCheckDefault" />
                                          </div>
                                    </li>

                                    <li class="ps-0">
                                          <div
                                                class="form-check ct_custom_check mt-3 d-flex gap-2 align-items-center justify-content-between ps-0">
                                                <label for="flexCheckDefault">
                                                      Seller Misleading
                                                </label>
                                                <input class="form-check-input" type="checkbox" value=""
                                                      id="flexCheckDefault" />
                                          </div>
                                    </li>
                                    <li class="ps-0">
                                          <div
                                                class="form-check ct_custom_check mt-3 d-flex gap-2 align-items-center justify-content-between ps-0">
                                                <label for="flexCheckDefault">
                                                      Copyright infringement
                                                </label>
                                                <input class="form-check-input" type="checkbox" value=""
                                                      id="flexCheckDefault" />
                                          </div>
                                    </li>
                                    <li class="ps-0">
                                          <div
                                                class="form-check ct_custom_check mt-3 d-flex gap-2 align-items-center justify-content-between ps-0">
                                                <label for="flexCheckDefault">
                                                      Others
                                                </label>
                                                <input class="form-check-input" type="checkbox" value=""
                                                      id="flexCheckDefault" />
                                          </div>
                                    </li>
                              </ul>
                        </div>

                        <div class="mb-3">
                              <label class="form-label ct_fs_16 ct_fw_400">Custom message</label>
                              <textarea class="form-control" rows="3" placeholder="Write reason..."></textarea>
                        </div>
                  </div>

                  <div class="modal-footer border-0">

                        <button type="button" class="btn-red w-100">
                              Submit
                        </button>
                  </div>
            </div>
      </div>
</div>

<!-- Report listing modal end -->



<!--Email  modal -->
<div class="modal fade" id="EmailModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                  <div class="modal-header">
                        <h5 class="modal-title"> Send Inquiry</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <div class="modal-body pt-0">
                        <div class="mb-3">


                              <div class="d-flex align-items-center gap-3 ">
                                    <div class="ct_width_96 ct_border_8">
                                          <img src="img/car-img2.png" alt="" class="w-100 h-100">
                                    </div>
                                    <div>
                                          <h5 class="ct_fs_16 ct_fw_500">
                                                Mercedes-Benz C-Class
                                          </h5>
                                          <h3 class="ct_fw_600 ct_fs_20">CHF 45,900</h3>
                                    </div>
                              </div>


                              <div class="row">
                                    <div class="col-6">

                                          <label class="mt-3 ct_fs_15 ct_fw_400 mb-2">
                                                Full Name
                                          </label>
                                          <input type="text" class="form-control" placeholder="Full Name"
                                                aria-label="Username" aria-describedby="basic-addon1">

                                    </div>
                                    <div class="col-6">

                                          <label class="mt-3 ct_fs_15 ct_fw_400 mb-2">
                                                Full Name
                                          </label>
                                          <input type="text" class="form-control" placeholder="CHF 25’43.- "
                                                aria-label="Username" aria-describedby="basic-addon1">

                                    </div>
                                    <div class="col-6">

                                          <label class="mt-3 ct_fs_15 ct_fw_400 mb-2">
                                                Email Address
                                          </label>
                                          <input type="text" class="form-control" placeholder="john.anderson@email.com"
                                                aria-label="Username" aria-describedby="basic-addon1">

                                    </div>
                                    <div class="col-6">

                                          <label class="mt-3 ct_fs_15 ct_fw_400 mb-2">
                                                Phone Number
                                          </label>
                                          <input type="text" class="form-control" placeholder="+44 54 670 653"
                                                aria-label="Username" aria-describedby="basic-addon1">

                                    </div>

                                    <div class="d-flex gap-3 flex-wrap">
                                          <div class="form-check ct_custom_check mt-3 d-flex gap-2 align-items-center">
                                                <input class="form-check-input" type="checkbox" value=""
                                                      id="flexCheckDefault">
                                                <label for="flexCheckDefault"> Leasing </label>
                                          </div>
                                          <div class="form-check ct_custom_check mt-3 d-flex gap-2 align-items-center">
                                                <input class="form-check-input" type="checkbox" value=""
                                                      id="flexCheckDefault">
                                                <label for="flexCheckDefault">Payment </label>
                                          </div>
                                          <div class="form-check ct_custom_check mt-3 d-flex gap-2 align-items-center">
                                                <input class="form-check-input" type="checkbox" value=""
                                                      id="flexCheckDefault">
                                                <label for="flexCheckDefault">Insuarance </label>
                                          </div>
                                          <div class="form-check ct_custom_check mt-3 d-flex gap-2 align-items-center">
                                                <input class="form-check-input" type="checkbox" value=""
                                                      id="flexCheckDefault">
                                                <label for="flexCheckDefault">Trade-in </label>
                                          </div>
                                    </div>

                              </div>
                        </div>

                        <div class="mt-3">
                              <label class="form-label ct_fs_16 ct_fw_400"> Message <span
                                          class="fst-italic">(Optional)</span></label>
                              <textarea class="form-control" rows="3" placeholder="Write reason..."></textarea>
                        </div>
                  </div>

                  <div class="modal-footer border-0">
                        <button type="button" class="btn-red w-100">
                              Submit
                        </button>
                  </div>
            </div>
      </div>
</div>