<div class="ct_edit_profile_bg profile-edit-box">
    <div class="slot-req-tabs">
        <!-- Tabs -->
        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#all">
                    All
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#approved">
                    Approved
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#pending">
                    Pending
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#rejected">
                    Rejected
                </button>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content">
            <!-- ALL -->
            <div class="tab-pane fade show active" id="all">
                <div class="slot-card ct_schedule_box mb-3 d-sm-flex justify-content-between align-items-center">
                    <div>
                        <div class="d-flex gap-3 align-items-center">
                            <div>
                                <h5 class="ct_fs_18 ct_fw_600">
                                    Slot - 25 Listings
                                </h5>
                            </div>
                            <div>
                                <span class="dot approved"></span>
                                <div class="status approved">Approved</div>
                            </div>
                        </div>

                        <small class="text-muted d-block mt-1 fst-italic">
                            Requested Date: 02 Sept 2025
                        </small>
                    </div>
                    <button class="btn-red-transparent py-2 px-3 mt-sm-0 mt-3">
                        View Details
                    </button>
                </div>

                <div class="slot-card ct_schedule_box mb-3 d-sm-flex justify-content-between align-items-center">
                    <div>
                        <div class="d-flex gap-3 align-items-center">
                            <div>
                                <h5 class="ct_fs_18 ct_fw_600">
                                    Slot - 25 Listings
                                </h5>
                            </div>
                            <div>
                                <span class="dot pending"></span>
                                <div class="status pending">Pending</div>
                            </div>
                        </div>

                        <small class="text-muted d-block mt-1 fst-italic">
                            Requested Date: 02 Sept 2025
                        </small>
                    </div>
                    <button class="btn-red-transparent py-2 px-3 mt-sm-0 mt-3">
                        View Details
                    </button>
                </div>

                <div class="slot-card ct_schedule_box mb-3 d-sm-flex justify-content-between align-items-center">
                    <div class="d-flex gap-3 align-items-center">
                        <div>
                            <h5 class="ct_fs_18 ct_fw_600">
                                Slot - 25 Listings
                            </h5>
                        </div>
                        <div>
                            <span class="dot rejected"></span>
                            <div class="status rejected">Rejected</div>
                        </div>
                    </div>

                    <button class="btn-red-transparent py-2 px-3 mt-sm-0 mt-3">
                        View Details
                    </button>
                </div>
            </div>

            <!-- APPROVED -->
            <div class="tab-pane fade" id="approved">
                <div class="slot-card ct_schedule_box mb-3 d-sm-flex justify-content-between align-items-center">
                    <div>
                        <div class="d-flex gap-3 align-items-center">
                            <div>
                                <h5 class="ct_fs_18 ct_fw_600">
                                    Slot - 25 Listings
                                </h5>
                            </div>
                            <div>
                                <span class="dot approved"></span>
                                <div class="status approved">Approved</div>
                            </div>
                        </div>

                        <small class="text-muted d-block mt-1 fst-italic">
                            Requested Date: 02 Sept 2025
                        </small>
                    </div>
                    <button class="btn-red-transparent py-2 px-3 mt-sm-0 mt-3">
                        View Details
                    </button>
                </div>
            </div>

            <!-- PENDING -->
            <div class="tab-pane fade" id="pending">
                <div class="slot-card ct_schedule_box mb-3 d-sm-flex justify-content-between align-items-center">
                    <div>
                        <div class="d-flex gap-3 align-items-center">
                            <div>
                                <h5 class="ct_fs_18 ct_fw_600">
                                    Slot - 25 Listings
                                </h5>
                            </div>
                            <div>
                                <span class="dot pending"></span>
                                <div class="status pending">Pending</div>
                            </div>
                        </div>

                        <small class="text-muted d-block mt-1 fst-italic">
                            Requested Date: 02 Sept 2025
                        </small>
                    </div>
                    <button class="btn-red-transparent py-2 px-3 mt-sm-0 mt-3">
                        View Details
                    </button>
                </div>
            </div>

            <!-- REJECTED -->
            <div class="tab-pane fade" id="rejected">
                <div class="slot-card ct_schedule_box mb-3 d-sm-flex justify-content-between align-items-center">
                    <div>
                        <div class="d-flex gap-3 align-items-center">
                            <div>
                                <h5 class="ct_fs_18 ct_fw_600">
                                    Slot - 25 Listings
                                </h5>
                            </div>
                            <div>
                                <span class="dot rejected"></span>
                                <div class="status rejected">Rejected</div>
                            </div>
                        </div>

                        <small class="text-muted d-block mt-1 fst-italic">
                            Requested Date: 02 Sept 2025
                        </small>
                    </div>
                    <button class="btn-red-transparent py-2 px-3 mt-sm-0 mt-3">
                        View Details
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>