<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-lg-12 mb-4">
                        <form action="">
                              <div class="ct_edit_profile_bg mb-4">
                                    <div class="mb-4">
                                          <h2 class="mb-2 ct_fs_24 text-center ct_fw_700">How Much is Your Car Worth?
                                          </h2>
                                          <p class="mb-0 text-center">Fill in the vehicle details to calculate the car's
                                                value.</p>
                                    </div>
                                    <div class="row">
                                          <div class="col-md-4">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">{{ 'marketing.make' | translate }}</label>
                                                      <select class="form-control ct_input">
                                                            <option value="">{{ 'filters.selectYear' | translate }}</option>
                                                            <option value="">BMW</option>
                                                      </select>
                                                </div>
                                          </div>
                                          <div class="col-md-4">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">{{ 'marketing.model' | translate }}</label>
                                                      <select class="form-control ct_input">
                                                            <option value="">{{ 'filters.selectYear' | translate }}</option>
                                                            <option value="">Xs</option>
                                                      </select>
                                                </div>
                                          </div>
                                          <div class="col-md-4">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">{{ 'vehicle.version' | translate }}</label>
                                                      <input class="form-control ct_input" type="text"
                                                            [placeholder]="'marketing.enterVersion' | translate">
                                                </div>
                                          </div>
                                          <div class="col-md-4">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Model and Year of Manufacture
                                                            on First Registration</label>
                                                      <select class="form-control ct_input">
                                                            <option value="">{{ 'marketing.selectModel' | translate }}</option>
                                                            <option value="">{{ 'common.petrol' | translate }}</option>
                                                      </select>
                                                </div>
                                          </div>
                                          <div class="col-md-4">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">{{ 'marketing.andNbsp' | translate }}</label>
                                                      <select class="form-control ct_input">
                                                            <option value="">{{ 'vehicle.selectYear' | translate }}</option>
                                                            <option value="">2000</option>
                                                      </select>
                                                </div>
                                          </div>
                                          <div class="col-md-4">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Ps</label>
                                                      <select class="form-control ct_input">
                                                            <option value="">{{ 'marketing.231Ps1' | translate }}</option>
                                                            <option value="">2000</option>
                                                      </select>
                                                </div>
                                          </div>
                                          <div class="col-md-4">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">{{ 'filters.seats' | translate }}</label>
                                                      <select class="form-control ct_input">
                                                            <option value="">{{ 'marketing.5Doors' | translate }}</option>
                                                            <option value="">{{ 'marketing.5Doors' | translate }}</option>
                                                      </select>
                                                </div>
                                          </div>
                                          <div class="col-md-4">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">{{ 'marketing.fuel' | translate }}</label>
                                                      <select class="form-control ct_input">
                                                            <option value="">{{ 'marketing.diesel1' | translate }}</option>
                                                            <option value="">{{ 'marketing.5Doors' | translate }}</option>
                                                      </select>
                                                </div>
                                          </div>
                                          <div class="col-md-4">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">{{ 'marketing.transmissionType' | translate }}</label>
                                                      <select class="form-control ct_input">
                                                            <option value="">{{ 'marketing.automatic1' | translate }}</option>
                                                            <option value="">{{ 'marketing.5Doors' | translate }}</option>
                                                      </select>
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">{{ 'marketing.kilometersstand' | translate }}</label>
                                                      <input type="number" class="form-control ct_input"
                                                            [placeholder]="'marketing.enterCarColour' | translate" />
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">{{ 'auth.email' | translate }}</label>
                                                      <input type="email" class="form-control ct_input"
                                                            [placeholder]="'marketing.enterEmail' | translate" />
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="table-responsive ct_custom_table">
                                    <table class="table">
                                          <thead>
                                                <tr>
                                                      <th>{{ 'vehicle.version' | translate }}</th>
                                                      <th>{{ 'marketing.hpKw' | translate }}</th>
                                                      <th>{{ 'marketing.transmissionType' | translate }}</th>
                                                      <th>{{ 'marketing.fuel' | translate }}</th>
                                                      <th>{{ 'filters.doors' | translate }}</th>
                                                      <th>{{ 'filters.seats' | translate }}</th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr>
                                                      <td>
                                                            <p class="mb-1">{{ 'marketing.x5Xdrive25dSteptronic' | translate }}</p>
                                                            <p class="mb-0">9.2015 - 12.2018</p>
                                                      </td>
                                                      <td>231(170)</td>
                                                      <td>{{ 'common.automatic' | translate }}</td>
                                                      <td>{{ 'common.diesel' | translate }}</td>
                                                      <td>5</td>
                                                      <td>5</td>
                                                </tr>
                                                <tr>
                                                      <td>
                                                            <p class="mb-1">{{ 'marketing.x5Xdrive25dSteptronic' | translate }}</p>
                                                            <p class="mb-0">9.2015 - 12.2018</p>
                                                      </td>
                                                      <td>231(170)</td>
                                                      <td>{{ 'common.automatic' | translate }}</td>
                                                      <td>{{ 'common.diesel' | translate }}</td>
                                                      <td>5</td>
                                                      <td>5</td>
                                                </tr>
                                          </tbody>
                                    </table>
                              </div>
                              <div class="text-center mt-4">
                                    <button class="ct_red_btn">{{ 'marketing.estimatePrice' | translate }}</button>
                              </div>
                        </form>
                  </div>
            </div>
      </div>
</section>