<section class="ct_mt_100 mb-5 ct_chat_page">
      <div class="container">
            <div class="row">
                  <div class="col-lg-12 mb-4">
                        <div class="chat-area ct_chatroom_layout">
                              <div class="chatlist ct_chatroom_chatlist ct_right_main_box bg-white"
                                    [class.ct_hide_on_mobile]="currentChat">
                                    <div class="modal-dialog-scrollable h-100">
                                          <div class="modal-content h-100 border-0 bg-transparent">
                                                <div
                                                      class="d-flex align-items-center justify-content-between gap-2 flex-wrap mb-3">
                                                      <h4 class="ct_fs_14 mb-0 ct_fw_600 ct_nunito_font">
                                                            {{'common.contacts' | translate}}</h4>
                                                      <h4 class="ct_fs_14 mb-0 ct_fw_600 ct_nunito_font ct_text_op_05">
                                                            {{chatList.length}}</h4>
                                                </div>
                                                <div class="position-relative">
                                                      <input type="text"
                                                            class="form-control ct_input ct_input_ps_40 ct_input_h_40 ct_border_op_10"
                                                            placeholder="{{'filters.search' | translate}}"
                                                            (input)="filterChatList($event)">
                                                      <i class="fa-solid fa-search ct_input_icon_left"></i>
                                                </div>
                                                <div class="modal-body mt-4 ct_custom_scroll px-0 pb-0">
                                                      <div class="chat-lists">
                                                            <div class="chat-list">
                                                                  @if(filteredChatList.length > 0){
                                                                  @for (item of filteredChatList; track item.id) {
                                                                  <a href="javascript:void(0)"
                                                                        class="d-flex ct_chat_contact_item"
                                                                        [class.active2]="isActiveChat(item)"
                                                                        [class.ct_chat_contact_item_active]="isActiveChat(item)"
                                                                        (click)="openChat(item, null)">
                                                                        <div class="ct_chat_list_grid w-100">
                                                                              <div class="position-relative">
                                                                                    <img class="img-fluid ct_img_40"
                                                                                          [src]="item.avatar || 'img/icons/user-circle-img.png'"
                                                                                          [alt]="item.name">
                                                                                    <span class="active"></span>
                                                                              </div>
                                                                              <div class="flex-grow-1 ms-3 min-w-0">
                                                                                    <div
                                                                                          class="d-flex align-items-center gap-2 justify-content-between">
                                                                                          <h3
                                                                                                class="ct_fs_14 ct_fw_600 mb-0 ct_text_111827 text-truncate">
                                                                                                {{item.name}}</h3>
                                                                                          <div
                                                                                                class="ct_fs_12 text-black text-nowrap">
                                                                                                {{timeAgo(item.createdAt)}}
                                                                                          </div>
                                                                                    </div>
                                                                                    @if(getChatCarTitle(item)){
                                                                                    <div
                                                                                          class="d-flex align-items-center gap-2 justify-content-between mt-1">
                                                                                          <div class="min-w-0">
                                                                                                <p
                                                                                                      class="ct_fs_14 ct_fw_600 ct_overlay_text ct_overlay_text_w_150 text-limit d-flex align-items-center gap-2 mb-1">
                                                                                                      @if(item.carImage){
                                                                                                      <img [src]="item.carImage"
                                                                                                            class="ct_img_25 ct_chat_thumb"
                                                                                                            alt="">
                                                                                                      }
                                                                                                      <span
                                                                                                            class="text-truncate">{{
                                                                                                            getChatCarTitle(item)
                                                                                                            }}</span>
                                                                                                </p>
                                                                                                <p
                                                                                                      class="ct_fs_12 mb-0 ct_text_op_6 text-truncate">
                                                                                                      {{getChatPreview(item)}}
                                                                                                </p>
                                                                                          </div>
                                                                                          @if(!item.Seen){
                                                                                          <div
                                                                                                class="ct_caht_msg_notify">
                                                                                                <span
                                                                                                      class="ms-auto">{{item.mgsCount}}</span>
                                                                                          </div>
                                                                                          }
                                                                                    </div>
                                                                                    }@else {
                                                                                    <div
                                                                                          class="d-flex align-items-center gap-2 justify-content-between mt-1">
                                                                                          <p
                                                                                                class="ct_fs_14 ct_overlay_text ct_overlay_text_w_150 mb-0 text-truncate">
                                                                                                {{getChatPreview(item)}}
                                                                                          </p>
                                                                                          @if(!item.Seen){
                                                                                          <div
                                                                                                class="ct_caht_msg_notify">
                                                                                                <span
                                                                                                      class="ms-auto">{{item.mgsCount}}</span>
                                                                                          </div>
                                                                                          }
                                                                                    </div>
                                                                                    }
                                                                              </div>
                                                                        </div>
                                                                  </a>
                                                                  }
                                                                  }@else {
                                                                  <div class="ct_chat_empty_list text-center">
                                                                        <div class="ct_chat_empty_icon text-center"><i
                                                                                    class="fa-regular fa-comments"></i>
                                                                        </div>
                                                                        <h2 class="text-dark mb-2 ct_fs_18">
                                                                              {{'chat.noChatFound' | translate}}</h2>
                                                                  </div>
                                                                  }
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="chatbox" [class.ct_show_on_mobile]="currentChat">
                                    <div class="ct_white_bg ct_border_radius_10 ct_p_20 h-100 ct_chat_panel">
                                          <div class="modal-dialog-scrollable h-100">
                                                @if(currentChat){
                                                <div class="modal-content ct_chatroom_modal_content h-100 border-0">
                                                      <div class="d-block h-100">
                                                            <div
                                                                  class="msg-head d-flex align-items-center justify-content-between gap-3 flex-wrap">
                                                                  <div
                                                                        class="d-flex align-items-center gap-2 flex-wrap">
                                                                        <i class="fa-solid fa-chevron-left chat-icon d-md-none"
                                                                              (click)="closeCurrentChat()"></i>
                                                                        <div class="ct_grid_50_auto">
                                                                              <img [src]="currentChat?.avatar || 'img/icons/user-circle-img.png'"
                                                                                    alt="">
                                                                              <div>
                                                                                    <h4 class="ct_fs_18 ct_fw_600 mb-0">
                                                                                          {{currentChat?.name}}</h4>
                                                                                    <p class="mb-0 ct_text_008000"><span
                                                                                                class="online-dot"></span>
                                                                                          Online
                                                                                    </p>
                                                                              </div>
                                                                        </div>
                                                                        @if(currentCar || currentChat?.carName){
                                                                        <a class="d-flex align-items-center gap-2 justify-content-between ct_chat_car_summary"
                                                                              routerLink="/car-detail"
                                                                              [queryParams]="{id: currentCar?.id}">
                                                                              <div><img [src]="getCurrentCarImage()"
                                                                                          alt=""
                                                                                          class="ct_img_47 ct_img_35">
                                                                              </div>
                                                                              <div class="min-w-0">
                                                                                    <p
                                                                                          class="ct_fs_15 ct_fw_600 text-limit-chat mb-0">
                                                                                          {{getCurrentCarTitle()}}</p>
                                                                                    @if(currentCar){
                                                                                    <p
                                                                                          class="ct_fs_12 text-limit-chat mb-0 text-muted opacity-75">
                                                                                          @if(currentCar.selling_price)
                                                                                          {
                                                                                          {{currentCar.selling_price |
                                                                                          chfFormat}}
                                                                                          }
                                                                                          @if(currentCar.first_registration_date
                                                                                          ||
                                                                                          currentCar.registration_year){
                                                                                          @if(currentCar.selling_price)
                                                                                          { <span class="mx-1">|</span>
                                                                                          }
                                                                                          {{(currentCar.first_registration_date
                                                                                          | date:'yyyy-MM')
                                                                                          ||
                                                                                          currentCar.registration_year}}
                                                                                          }
                                                                                          @if(currentCar.carMileage ||
                                                                                          currentCar.car_mileage){
                                                                                          @if(currentCar.selling_price
                                                                                          ||
                                                                                          currentCar.first_registration_date
                                                                                          ||
                                                                                          currentCar.registration_year)
                                                                                          { <span class="mx-1">|</span>
                                                                                          }
                                                                                          {{currentCar.carMileage ||
                                                                                          currentCar.car_mileage}} km
                                                                                          }
                                                                                    </p>
                                                                                    }
                                                                              </div>
                                                                        </a>
                                                                        }
                                                                  </div>
                                                                  <button type="button" class="ct_chat_head_action"
                                                                        aria-label="More actions">
                                                                        <i class="fa-solid fa-ban"></i>
                                                                  </button>
                                                            </div>
                                                            <div class="modal-body px-0">
                                                                  <div class="msg-body ct_custom_scroll"
                                                                        #scrollContainer>
                                                                        <ul>
                                                                              @for (item of messages; track item.id ||
                                                                              $index) {
                                                                              @if (item.sendBy != userData.id) {
                                                                              <li>
                                                                                    <div>
                                                                                          <div class="sender">
                                                                                                <div
                                                                                                      class="ct_fs_14 mb-0">
                                                                                                      @if (item.type ===
                                                                                                      'image') {
                                                                                                      <img [src]="item.mediaUrl"
                                                                                                            class="img-fluid rounded mb-1"
                                                                                                            style="max-width: 250px; max-height: 250px; cursor: pointer; object-fit: cover;"
                                                                                                            (click)="selectedPreviewMedia = {url: item.mediaUrl, type: 'image'}">
                                                                                                      } @else if
                                                                                                      (item.type ===
                                                                                                      'video') {
                                                                                                      <video [src]="item.mediaUrl"
                                                                                                            controls
                                                                                                            class="rounded mb-1"
                                                                                                            style="max-width: 280px; max-height: 220px;"></video>
                                                                                                      } @else if
                                                                                                      (item.type ===
                                                                                                      'audio') {
                                                                                                      <audio [src]="item.mediaUrl"
                                                                                                            controls
                                                                                                            class="mb-1"
                                                                                                            style="max-width: 250px;"></audio>
                                                                                                      }
                                                                                                      @if (item.msg &&
                                                                                                      item.type !==
                                                                                                      'image' &&
                                                                                                      item.type !==
                                                                                                      'video' &&
                                                                                                      item.type !==
                                                                                                      'audio') {
                                                                                                      <p class="mb-0">
                                                                                                            {{item.msg}}
                                                                                                      </p>
                                                                                                      }
                                                                                                      <span
                                                                                                            class="text-start d-block ct_fs_12 text-light me-1 text-nowrap opacity-75">{{item.createdAt
                                                                                                            |
                                                                                                            date:'shortTime'}}</span>
                                                                                                </div>
                                                                                          </div>
                                                                                    </div>
                                                                              </li>
                                                                              }@else{
                                                                              <li>
                                                                                    <div class="repaly">
                                                                                          <div class="mb-0 ct_fs_14">
                                                                                                @if (item.type ===
                                                                                                'image') {
                                                                                                <img [src]="item.mediaUrl"
                                                                                                      class="img-fluid rounded mb-1"
                                                                                                      style="max-width: 250px; max-height: 250px; cursor: pointer; object-fit: cover;"
                                                                                                      (click)="selectedPreviewMedia = {url: item.mediaUrl, type: 'image'}">
                                                                                                } @else if (item.type
                                                                                                === 'video') {
                                                                                                <video [src]="item.mediaUrl"
                                                                                                      controls
                                                                                                      class="rounded mb-1"
                                                                                                      style="max-width: 280px; max-height: 220px;"></video>
                                                                                                } @else if (item.type
                                                                                                === 'audio') {
                                                                                                <audio [src]="item.mediaUrl"
                                                                                                      controls
                                                                                                      class="mb-1"
                                                                                                      style="max-width: 250px;"></audio>
                                                                                                }
                                                                                                @if (item.msg &&
                                                                                                item.type !== 'image' &&
                                                                                                item.type !== 'video' &&
                                                                                                item.type !== 'audio') {
                                                                                                <p class="mb-0">
                                                                                                      {{item.msg}}</p>
                                                                                                }
                                                                                                @if (item.upload ===
                                                                                                'pending') {
                                                                                                <div class="progress mt-1"
                                                                                                      style="height: 4px; width: 100%;">
                                                                                                      <div class="progress-bar bg-danger"
                                                                                                            [style.width.%]="item.progress">
                                                                                                      </div>
                                                                                                </div>
                                                                                                }
                                                                                                <span
                                                                                                      class="text-end d-block ct_fs_12 text-muted me-1 text-nowrap">{{item.createdAt
                                                                                                      |
                                                                                                      date:'shortTime'}}</span>
                                                                                          </div>
                                                                                    </div>
                                                                              </li>
                                                                              }
                                                                              }
                                                                        </ul>
                                                                  </div>
                                                            </div>
                                                            <div class="send-box">
                                                                  <!-- Hidden File Inputs -->
                                                                  <input #imageInput type="file" accept="image/*"
                                                                        class="d-none"
                                                                        (change)="onFileSelected($event, 'image')">
                                                                  <input #videoInput type="file" accept="video/*"
                                                                        class="d-none"
                                                                        (change)="onFileSelected($event, 'video')">

                                                                  <form action=""
                                                                        class="position-relative d-flex align-items-center gap-2"
                                                                        (submit)="$event.preventDefault(); sendMessage()">
                                                                        <div
                                                                              class="d-flex align-items-center gap-2 ps-2">
                                                                              <button type="button"
                                                                                    class="btn btn-link text-secondary p-0 border-0"
                                                                                    (click)="triggerImageUpload()"
                                                                                    title="Attach Photo">
                                                                                    <i
                                                                                          class="fa-regular fa-image ct_fs_18"></i>
                                                                              </button>
                                                                              <button type="button"
                                                                                    class="btn btn-link text-secondary p-0 border-0"
                                                                                    (click)="triggerVideoUpload()"
                                                                                    title="Attach Video">
                                                                                    <i
                                                                                          class="fa-solid fa-video ct_fs_18"></i>
                                                                              </button>
                                                                              @if (!isRecording) {
                                                                              <button type="button"
                                                                                    class="btn btn-link text-secondary p-0 border-0"
                                                                                    (click)="startRecording()"
                                                                                    title="Record Voice">
                                                                                    <i
                                                                                          class="fa-solid fa-microphone ct_fs_18"></i>
                                                                              </button>
                                                                              } @else {
                                                                              <div
                                                                                    class="d-flex align-items-center gap-1 bg-light rounded-pill px-2 py-1">
                                                                                    <span
                                                                                          class="text-danger fw-bold ct_fs_12"><i
                                                                                                class="fa-solid fa-circle me-1 animate__animated animate__flash animate__infinite"></i>{{formatDuration(recordingDuration)}}</span>
                                                                                    <button type="button"
                                                                                          class="btn btn-sm btn-danger rounded-circle p-1 ms-1"
                                                                                          (click)="stopRecording()"
                                                                                          title="Send Audio">
                                                                                          <i
                                                                                                class="fa-solid fa-paper-plane ct_fs_12"></i>
                                                                                    </button>
                                                                                    <button type="button"
                                                                                          class="btn btn-sm btn-link text-muted p-0 ms-1"
                                                                                          (click)="cancelRecording()"
                                                                                          title="Cancel">
                                                                                          <i
                                                                                                class="fa-solid fa-xmark"></i>
                                                                                    </button>
                                                                              </div>
                                                                              }
                                                                        </div>
                                                                        <textarea #messageInput class="form-control"
                                                                              placeholder="{{'chat.yourMessage' | translate}}"
                                                                              [(ngModel)]="inputValue"
                                                                              [ngModelOptions]="{standalone: true}"
                                                                              (keydown)="onKeydown($event)"
                                                                              (input)="adjustHeight(messageInput)"></textarea>
                                                                        <button type="submit"
                                                                              class="ct_right_side_send_chat_btns btn-red border-0">
                                                                              {{'chat.send' | translate}} <i
                                                                                    class="fa-solid fa-paper-plane"></i>
                                                                        </button>
                                                                  </form>
                                                            </div>

                                                            <!-- Optional Image Lightbox Modal -->
                                                            @if (selectedPreviewMedia) {
                                                            <div class="modal fade show d-block"
                                                                  style="background: rgba(0,0,0,0.85); z-index: 1050;"
                                                                  (click)="selectedPreviewMedia = null">
                                                                  <div class="modal-dialog modal-dialog-centered modal-lg"
                                                                        (click)="$event.stopPropagation()">
                                                                        <div
                                                                              class="modal-content bg-transparent border-0 text-end">
                                                                              <button type="button"
                                                                                    class="btn-close btn-close-white ms-auto mb-2"
                                                                                    (click)="selectedPreviewMedia = null"></button>
                                                                              <div class="text-center">
                                                                                    <img [src]="selectedPreviewMedia.url"
                                                                                          class="img-fluid rounded"
                                                                                          style="max-height: 80vh;">
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            }
                                                      </div>
                                                </div>

                                                }@else {
                                                <div class="ct_empty_chat_box_content ct_chat_empty_state">
                                                      <svg width="123" height="123" viewBox="0 0 123 123" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <rect x="0.956267" y="1.3696" width="120.87" height="120.87"
                                                                  rx="60.4348" fill="#F4F5FA" />
                                                            <rect x="0.956267" y="1.3696" width="120.87" height="120.87"
                                                                  rx="60.4348" stroke="#E1E2E9"
                                                                  stroke-width="0.869565" />
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M76.764 77.1737C70.1202 83.8182 60.2823 85.2538 52.2315 81.5305C51.043 81.052 50.0686 80.6653 49.1423 80.6653C46.5621 80.6806 43.3505 83.1824 41.6814 81.5152C40.0122 79.8459 42.516 76.6318 42.516 74.036C42.516 73.1096 42.1446 72.1526 41.6661 70.9618C37.9411 62.9123 39.3787 53.0711 46.0225 46.4288C54.5036 37.9445 68.2828 37.9445 76.764 46.4266C85.2605 54.924 85.2452 68.6916 76.764 77.1737Z"
                                                                  fill="#BEC0CA" stroke="#8B8D97" stroke-width="1.30435"
                                                                  stroke-linecap="round" stroke-linejoin="round" />
                                                            <path d="M69.9541 62.7022H69.9737" stroke="#8B8D97"
                                                                  stroke-width="1.73913" stroke-linecap="round"
                                                                  stroke-linejoin="round" />
                                                            <path d="M61.2412 62.7022H61.2608" stroke="#8B8D97"
                                                                  stroke-width="1.73913" stroke-linecap="round"
                                                                  stroke-linejoin="round" />
                                                            <path d="M52.5244 62.7022H52.544" stroke="#8B8D97"
                                                                  stroke-width="1.73913" stroke-linecap="round"
                                                                  stroke-linejoin="round" />
                                                      </svg>
                                                      <div class="text-center">
                                                            <h4 class="ct_fs_20 ct_fw_600 mb-2">{{'chat.messages' |
                                                                  translate}}</h4>
                                                            <p class="text-muted mb-4">{{
                                                                  'chat.clickOnAContactToViewMessages' | translate }}
                                                            </p>
                                                      </div>
                                                </div>
                                                }
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>

            </div>
      </div>
</section>