/* Swiper container */
.swiper {
    width: 100%;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
}

/* Swiper slide */
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

/* Image inside slide */
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* MAIN SWIPER */
.mySwiperMain {
    width: 100%;
}

/* THUMBS SWIPER */
.mySwiperThumbs {
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiperThumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    cursor: pointer;
}

.mySwiperThumbs .swiper-slide-thumb-active {
    opacity: 1;
}

/* Hide navigation arrows */
.swiper-button-next,
.swiper-button-prev {
    display: none !important;
}

.seller-image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.pagination-ui {
    position: absolute;
    bottom: 10px;
    left: 45%;
    background-color: #111111ae;
    color: #fff;
    padding: 2px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 12px;
    z-index: 9;
}