<section class="ct_mt_100">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <div class="collections-header">
                              <div class="section-subheading justify-content-center">
                                    <img src="img/subheading-img.png" />
                                    <p class="ct_fs_16 text-uppercase">{{ 'listing.chooseYourListingPlan' | translate }}
                                    </p>
                              </div>

                              <h2 class="section-heading ct_fs_35 text-center ct_fw_700">
                                    {{ 'listing.chooseListingPlanTitle' | translate }}
                              </h2>
                              <p class="mb-0 text-center mx-auto" style="max-width: 533px">
                                    {{ 'listing.chooseListingPlanDescription' | translate }}
                              </p>
                        </div>
                  </div>
            </div>

            <div class="pricing-section pb-5">
                  <div class="row g-4 align-items-start">
                        <!-- LEFT CARDS -->
                        <div class="col-lg-6">
                              <div class="row gy-3">
                                    @for (item of featuredPlans; track item.id) {
                                    <div class="col-12">
                                          <div class="price-card position-relative"
                                                [ngClass]="{'selected': selectedPlan === item}"
                                                (click)="selectPlan(item)">
                                                @if (item.plan_type == 'basic') {
                                                <span class="starter-ribbon">{{isUsed ? ('common.used' | translate) :
                                                      ('common.starter' | translate)}}</span>
                                                }
                                                <div class="d-flex align-items-center gap-3 justify-content-between">
                                                      <div>
                                                            <span class="badge badge-basic">
                                                                  {{ item.plan_type == 'basic' ? ('listing.basicPlan' |
                                                                  translate) : ('vehicle.additionalCars' | translate) }}
                                                            </span>
                                                            @if (item.plan_type == 'basic') {
                                                            <h5 class="mt-3 ct_fs_24 ct_fw_600 mb-0">
                                                                  {{'vehicle.firstCar' | translate}}
                                                            </h5>
                                                            }@else {
                                                            <h5 class="mt-3 ct_fs_24 ct_fw_600 mb-0">
                                                                  {{'payment.pricePerAdditionalCar' |
                                                                  translate}}
                                                            </h5>
                                                            }
                                                      </div>
                                                      <h3 class="price ct_font_cairo ct_white_nowrap">
                                                            {{item.price }}
                                                      </h3>
                                                </div>
                                          </div>
                                    </div>
                                    }
                              </div>
                        </div>

                        <!-- RIGHT PLANS -->
                        <div class="col-lg-6">
                              <div class="plan-box">
                                    <ul class="nav nav-pills mb-3 ct_custom_tabs" id="pills-tab" role="tablist">
                                          <li class="nav-item" role="presentation">
                                                <button class="nav-link" [class.active]="activeDuration === 'monthly'"
                                                      id="pills-Monthly-tab" type="button" role="tab"
                                                      aria-controls="pills-Monthly"
                                                      [attr.aria-selected]="activeDuration === 'monthly'"
                                                      (click)="setDuration('monthly')">
                                                      {{ 'listing.monthly' | translate }}
                                                </button>
                                          </li>
                                          <li class="nav-item" role="presentation">
                                                <button class="nav-link" [class.active]="activeDuration === 'yearly'"
                                                      id="pills-Yearly-tab" type="button" role="tab"
                                                      aria-controls="pills-Yearly"
                                                      [attr.aria-selected]="activeDuration === 'yearly'"
                                                      (click)="setDuration('yearly')">
                                                      {{ 'listing.yearly' | translate }}
                                                </button>
                                          </li>
                                    </ul>

                                    <div class="tab-content" id="pills-tabContent">
                                          <div class="tab-pane fade" [class.active]="activeDuration === 'monthly'"
                                                [class.show]="activeDuration === 'monthly'" id="pills-Monthly"
                                                role="tabpanel" aria-labelledby="pills-Monthly-tab">
                                                <ul class="ct_mt_40">
                                                      @for (item of monthlyPlans; track item.id) {
                                                      <li class="slot-item">
                                                            <div>
                                                                  <label class="ct_radio-button ct_fw_400 text-black">
                                                                        <input [id]="'monthly-plan-' + item.id"
                                                                              name="ct_radio-group" type="radio"
                                                                              [checked]="selectedPlan?.id === item.id"
                                                                              (change)="selectPlan(item)" />
                                                                        <span class="ct_radio-checkmark"></span>
                                                                        <p class="mb-0 ct_fs_18">{{item.slot_count}}
                                                                              {{'listing.slots' | translate}}</p>
                                                                  </label>
                                                            </div>
                                                            <div class="slot-text">
                                                                  <p class="mb-0 ct_fs_18">
                                                                        <span
                                                                              class="slot-price ct_font_cairo price">{{item.price}}</span><span
                                                                              class="">/{{'listing.monthly'
                                                                              | translate}}</span>
                                                                  </p>
                                                            </div>
                                                      </li>
                                                      }
                                                </ul>
                                          </div>
                                          <div class="tab-pane fade" [class.active]="activeDuration === 'yearly'"
                                                [class.show]="activeDuration === 'yearly'" id="pills-Yearly"
                                                role="tabpanel" aria-labelledby="pills-Yearly-tab">
                                                <ul class="ct_mt_40 p-0">
                                                      @for (item of yearlyPlans; track item.id) {
                                                      <li class="slot-item">
                                                            <div>
                                                                  <label class="ct_radio-button ct_fw_400 text-black">
                                                                        <input [id]="'yearly-plan-' + item.id"
                                                                              name="ct_radio-group" type="radio"
                                                                              [checked]="selectedPlan?.id === item.id"
                                                                              (change)="selectPlan(item)" />
                                                                        <span class="ct_radio-checkmark"></span>
                                                                        <p class="mb-0 ct_fs_18">{{item.slot_count}}
                                                                              {{'listing.slots' | translate}}</p>
                                                                  </label>
                                                            </div>
                                                            <div class="slot-text">
                                                                  <p class="mb-0 ct_fs_18">
                                                                        <span
                                                                              class="slot-price">{{item.price}}</span><span
                                                                              class="">/{{'listing.yearly'
                                                                              | translate}}</span>
                                                                  </p>
                                                            </div>
                                                      </li>
                                                      }
                                                </ul>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <div class="d-flex align-items-center gap-4 justify-content-center mt-5">
                        <button (click)="backClicked()" class="btn-red-transparent px-5">{{ 'common.cancel' | translate }}</button>
                        <!-- <button [disabled]="!selectedPlan" (click)="purchasePlan()" class="btn-red px-5">Continue
                        </button> -->
                        <app-submit-button [isLoading]="Loading" [class]="'btn-red px-5'" (click)="purchasePlan()"
                              [disabled]="!selectedPlan" [text]="('common.continue' | translate)"></app-submit-button>
                  </div>
                  <p class="mb-0 ct_mt_30 text-center">
                        {{ 'listing.needAdditionalListingSlotsText' | translate }}
                        <a routerLink="/request-additional-slots" class="ct_color_8f0c1f ct_fw_600">{{
                              'listing.requestSlot' | translate }} <i class="fa-solid fa-arrow-right ms-1"></i></a>
                  </p>
            </div>
      </div>
</section>