<div class="row g-0 popup-main">
      <!-- LEFT -->
      <div class="col-xl-5 login-popup__left ct_custom_scroll p-5">
            <div>
                  <div class="login-popup__brand mb-4">
                        <img src="img/black-logo.png" class="main-logo" />
                  </div>

                  <h5 class="login-popup__title mb-3 ct_fs_32 text-center ct_font_cairo">
                        Create Your Account
                  </h5>
            </div>
            <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                  @if(formStep === 1){
                  <div class="login-popup__roles">
                        <div class="">
                              <label class="mt-3 ct_fs_16 ct_fw_500 mb-2">
                                    {{'profile.fullName' | translate | titlecase}}
                              </label>
                              <input type="text" class="form-control"
                                    placeholder="{{'common.enter' | translate}} {{'profile.fullName' | translate}}"
                                    [attr.aria-label]="'filters.username' | translate" aria-describedby="basic-addon1"
                                    formControlName="fullName" />
                              <small class="text-danger">{{validationErrorService.getErrorMessage(('profile.fullName'
                                    | translate), Form.get("fullName"))}}</small>
                        </div>
                        <div class="">
                              <label class="mt-3 ct_fs_16 ct_fw_500 mb-2">
                                    {{'auth.email' | translate | titlecase}}
                              </label>
                              <input type="text" class="form-control"
                                    placeholder="{{'common.enter' | translate}} {{'auth.email' | translate | lowercase}}"
                                    [attr.aria-label]="'filters.username' | translate" aria-describedby="basic-addon1"
                                    formControlName="email" />
                              <small class="text-danger">{{validationErrorService.getErrorMessage(('auth.email'
                                    | translate), Form.get("email"))}}</small>
                        </div>
                        <div class="">
                              <label class="mt-3 ct_fs_16 ct_fw_500 mb-2">
                                    {{'profile.whatsAppNumber' | translate | titlecase}}
                              </label>
                              <ngx-intl-tel-input name="phone" [cssClass]="'form-control w-full ps-5 ct_pe_90'"
                                    [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                                    [searchCountryFlag]="true"
                                    [customPlaceholder]="('common.enter' | translate) + ' ' + ('profile.whatsAppNumber' | translate)"
                                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                    [selectFirstCountry]="false" [selectedCountryISO]="selectedCountry" [maxLength]="15"
                                    [phoneValidation]="true" formControlName="whatsappNumber">
                              </ngx-intl-tel-input>
                              <small class="text-danger">{{validationErrorService.getErrorMessage(('profile.whatsAppNumber'
                                    | translate), Form.get("whatsappNumber"))}}</small>
                              <div class="form-check ct_custom_check mt-3 d-flex gap-2 align-items-center">
                                    <input class="form-check-input" type="checkbox"
                                          formControlName="isWhatsappSameAsPhone" id="flexCheckDefault" />
                                    <label for="flexCheckDefault">{{ 'auth.alsoPhoneNumber' | translate }} </label>
                              </div>
                        </div>
                        <div class="">
                              <label class="mt-3 ct_fs_16 ct_fw_500 mb-2">
                                    {{'profile.phoneNumber' | translate | titlecase}}
                              </label>
                              <ngx-intl-tel-input name="phone" [cssClass]="'form-control w-full ps-5 ct_pe_90'"
                                    [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                                    [searchCountryFlag]="true"
                                    [customPlaceholder]="('common.enter' | translate) + ' ' + ('profile.phoneNumber' | translate)"
                                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                    [selectFirstCountry]="false" [selectedCountryISO]="selectedCountry" [maxLength]="15"
                                    [phoneValidation]="true" formControlName="phoneNumber">
                              </ngx-intl-tel-input>
                              <small class="text-danger">{{validationErrorService.getErrorMessage(('profile.phoneNumber'
                                    | translate | titlecase), Form.get("phoneNumber"))}}</small>
                        </div>
                        <div class="">
                              <label class="mt-3 ct_fs_16 ct_fw_500 mb-2">
                                    {{'auth.password' | translate | titlecase}}
                              </label>
                              <div class="position-relative">
                                    <input [type]="isShowPassword ? 'text' : 'password'" class="form-control"
                                          placeholder="{{'common.enter' | translate}} {{'auth.password' | translate}}"
                                          formControlName="password">
                                    <i class="fa-solid ct_show_eye"
                                          [ngClass]="isShowPassword ? 'fa-eye' : 'fa-eye-slash'"
                                          (click)="isShowPassword = !isShowPassword"></i>
                              </div>
                              <small class="text-danger">{{validationErrorService.getErrorMessage(('auth.password'
                                    | translate), Form.get("password"))}}</small>
                        </div>
                        <div class="">
                              <label class="mt-3 ct_fs_16 ct_fw_500 mb-2">
                                    {{'auth.confirmPassword' | translate | titlecase}}
                              </label>
                              <div class="position-relative">
                                    <input [type]="isShowConfirmPassword ? 'text' : 'password'" class="form-control"
                                          placeholder="{{'common.enter' | translate}} {{'auth.confirmPassword' | translate}}"
                                          formControlName="confirmPassword">
                                    <i class="fa-solid ct_show_eye"
                                          [ngClass]="isShowConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"
                                          (click)="isShowConfirmPassword = !isShowConfirmPassword"></i>
                              </div>
                              <small class="text-danger">{{validationErrorService.getErrorMessage(('auth.confirmPassword'
                                    | translate), Form.get("confirmPassword"))}}</small>
                              <small *ngIf="Form.errors?.['passwordMismatch'] && !Form.controls['confirmPassword'].errors?.['required']"
                                    class="text-danger">{{'auth.passwordNotMatch' |
                                    translate}}</small>
                        </div>
                        <div class="">
                              <label class="mt-3 ct_fs_16 ct_fw_500 mb-2">
                                    {{ 'profile.typeOfSeller' | translate }}
                              </label>
                              <nz-select class="form-control"
                                    [nzPlaceHolder]="('common.select' | translate) + ' ' + ('profile.typeOfSeller' | translate)"
                                    [nzShowSearch]="true" formControlName="typeOfSeller">
                                    @for (item of sellerTypes; track $index) {
                                    <nz-option nzCustomContent [nzLabel]="item.label | translate" [nzValue]="item.value"
                                          class="ct_custom_select">
                                          <div class="d-flex align-items-center justify-content-between">
                                                <div>
                                                      <p class="m-0">
                                                            {{item.label | translate}}
                                                      </p>
                                                      <span>{{item.label2 | translate}}</span>
                                                </div>
                                                <input type="radio" class="cutom_radio_input"
                                                      [checked]="Form.get('typeOfSeller')?.value?.includes(item.value)" />
                                          </div>
                                    </nz-option>
                                    }
                              </nz-select>
                        </div>
                  </div>

                  <button class="btn login-popup__btn mt-4" type="button" (click)="nextStep()">
                        {{ 'common.continue' | translate }}
                  </button>
                  }@else {
                  <div class="login-popup__roles">
                        @if(Form.get('typeOfSeller')?.value === 'business') {
                        <div class="">
                              <label for="" class="mt-3 ct_fs_16 ct_fw_500 mb-2">{{'profile.legalEntity' |
                                    translate}} <span class="ct_color_8f0c1f">*</span></label>
                              <nz-select class="form-control" [nzPlaceHolder]="'profile.selectLegalEntity' | translate"
                                    [nzShowSearch]="true" formControlName="legalForm">
                                    <nz-option nzCustomContent [nzLabel]="'profile.soleProprietorship' | translate"
                                          [nzValue]="'Sole Proprietorship'" class="ct_custom_select">
                                          <div class="d-flex align-items-center justify-content-between">
                                                <div>
                                                      <p class="m-0">
                                                            {{'profile.soleProprietorship' | translate}}
                                                      </p>
                                                </div>
                                                <input type="radio" class="cutom_radio_input"
                                                      [checked]="Form.get('legalForm')?.value?.includes('Sole Proprietorship')" />
                                          </div>
                                    </nz-option>
                                    <nz-option nzCustomContent [nzLabel]="'profile.limitedLiabilityCompany' | translate"
                                          [nzValue]="'Limited Liability Company (GmbH)'" class="ct_custom_select">
                                          <div class="d-flex align-items-center justify-content-between">
                                                <div>
                                                      <p class="m-0">
                                                            {{'profile.limitedLiabilityCompany' | translate}}
                                                      </p>
                                                </div>
                                                <input type="radio" class="cutom_radio_input"
                                                      [checked]="Form.get('legalForm')?.value?.includes('Limited Liability Company (GmbH)')" />
                                          </div>
                                    </nz-option>
                                    <nz-option nzCustomContent [nzLabel]="'profile.corporation' | translate"
                                          [nzValue]="'Corporation (AG)'" class="ct_custom_select">
                                          <div class="d-flex align-items-center justify-content-between">
                                                <div>
                                                      <p class="m-0">
                                                            {{'profile.corporation' | translate}}
                                                      </p>
                                                </div>
                                                <input type="radio" class="cutom_radio_input"
                                                      [checked]="Form.get('legalForm')?.value?.includes('Corporation (AG)')" />
                                          </div>
                                    </nz-option>
                              </nz-select>
                        </div>
                        }
                        <div class="row">
                              @if(Form.get('typeOfSeller')?.value === 'business') {
                              <div class="col-lg-12">
                                    <label class="mt-3 ct_fs_16 ct_fw_500 mb-2">
                                          {{ 'profile.companyName' | translate }} <span class="ct_color_8f0c1f">*</span>
                                    </label>
                                    <input type="text" class="form-control"
                                          [placeholder]="'profile.enterCompanyName' | translate"
                                          [attr.aria-label]="'filters.username' | translate"
                                          aria-describedby="basic-addon1" formControlName="companyName" />
                                    <small class="text-danger">{{validationErrorService.getErrorMessage(('profile.companyName'
                                          | translate), Form.get("companyName"))}}</small>
                              </div>
                              <div class="col-lg-12">
                                    <label class="mt-3 ct_fs_16 ct_fw_500 mb-2">
                                          {{ 'profile.companyAddress' | translate }}
                                          <span class="ct_color_8f0c1f">*</span>
                                    </label>
                                    <input type="text" class="form-control"
                                          [placeholder]="'profile.enterCompanyAddress' | translate"
                                          [attr.aria-label]="'filters.username' | translate"
                                          aria-describedby="basic-addon1" formControlName="companyAddress" />
                                    <small class="text-danger">{{validationErrorService.getErrorMessage((
                                          'profile.companyAddress'
                                          | translate), Form.get("companyAddress"))}}</small>
                              </div>
                              }@else {
                              <div class="col-lg-12">
                                    <label class="mt-3 ct_fs_16 ct_fw_500 mb-2">
                                          {{ 'profile.address' | translate }}
                                          <span class="ct_color_8f0c1f">*</span>
                                    </label>
                                    <input type="text" class="form-control"
                                          [placeholder]="('common.enter' | translate) + ' ' + ('profile.address' | translate)"
                                          [attr.aria-label]="'filters.username' | translate"
                                          aria-describedby="basic-addon1" formControlName="address" />
                                    <small class="text-danger">{{validationErrorService.getErrorMessage(('profile.address'
                                          | translate), Form.get("address"))}}</small>
                              </div>
                              }
                              <div class="col-lg-6">
                                    <label class="mt-3 ct_fs_16 ct_fw_500 mb-2"> {{ 'profile.city' | translate }}
                                          <span class="ct_color_8f0c1f">*</span>
                                    </label>
                                    <input type="text" class="form-control"
                                          [placeholder]="'profile.enterCity' | translate"
                                          [attr.aria-label]="'filters.username' | translate"
                                          aria-describedby="basic-addon1" formControlName="city" />
                                    <small class="text-danger">{{validationErrorService.getErrorMessage(('profile.city'
                                          | translate), Form.get("city"))}}</small>
                              </div>
                              <div class="col-lg-6">
                                    <label class="mt-3 ct_fs_16 ct_fw_500 mb-2">{{ 'profile.postalCode' | translate }}
                                          <span class="ct_color_8f0c1f">*</span>
                                    </label>
                                    <input type="text" class="form-control"
                                          [placeholder]="'profile.enterPostalCode' | translate"
                                          [attr.aria-label]="'filters.username' | translate"
                                          aria-describedby="basic-addon1" formControlName="pincode" />
                                    <small class="text-danger">{{validationErrorService.getErrorMessage(('profile.postalCode'
                                          | translate), Form.get("pincode"))}}</small>
                              </div>

                              @if(Form.get('typeOfSeller')?.value === 'business') {
                              <div class="col-lg-12">
                                    <label class="mt-3 ct_fs_16 ct_fw_500 mb-2">
                                          {{ 'profile.vat' | translate }}
                                          <span class="fst_italic">
                                                ({{ 'common.optional' | translate }})
                                          </span>
                                    </label>
                                    <input type="text" class="form-control"
                                          [placeholder]="'profile.enterBusinessNumber' | translate"
                                          [attr.aria-label]="'filters.username' | translate" formControlName="vat"
                                          aria-describedby="basic-addon1" />
                              </div>
                              }
                              <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div class="form-check ct_custom_check d-flex gap-2 align-items-center">
                                          <input class="form-check-input" type="checkbox" id="wagon"
                                                formControlName="termsAndConditions" />
                                          <label for="wagon">
                                                {{ 'common.iAgreeToThe' | translate }}
                                                {{ 'vehicle.termsAndConditions' | translate }}
                                          </label>
                                    </div>
                              </div>
                        </div>
                        @if(Form.get('termsAndConditions')?.value === false && submitted) {
                        <div class="text-danger">
                              {{ 'vehicle.termAndConditionError' | translate }}
                        </div>
                        }
                  </div>
                  <div class="d-flex align-items-center gap-3 mt-4">
                        <button type="button" class="btn-red-transparent w-100" (click)="formStep= formStep-1">{{
                              'vehicle.previous' | translate }}</button>
                        <app-submit-button [text]="'auth.signUp' | translate" [class]="'btn login-popup__btn w-100'"
                              [isLoading]="loading"></app-submit-button>
                  </div>
                  }
            </form>
            <p class="ct_fs_16 ct_fw_500 mt-3 text-center">
                  {{ 'auth.alreadyHaveAnAccount' | translate }}
                  <a class="ct_fs_16 ct_fw_600 ct_color_8f0c1f" (click)="modal.openSignInModal()">
                        {{ 'auth.logIn' | translate }}
                  </a>
            </p>

            <p class="text-center">{{ 'common.or' | translate }}</p>
            <p class="text-center">{{ 'auth.registerWith' | translate }}</p>

            <div class="register-social-icon text-center">
                  <a>
                        <img src="img/icons/fb.png" />
                        {{ 'auth.facebook' | translate }}
                  </a>

                  <a class="w-100">
                        <img src="img/icons/google.png" />
                        {{ 'auth.google' | translate }}
                  </a>
            </div>
      </div>

      <!-- RIGHT IMAGE -->
      <div class="col-lg-7 d-none d-xl-block login-popup__right position-relative">
            <img src="img/create-acc.jpg" />

            <div class="login-img-text">
                  <div>
                        <p class="ct_fs_28 ct_fw_500">
                              {{ 'auth.loginTestimonialQuote' | translate }}
                        </p>
                  </div>
                  <div class="d-flex justify-content-between">
                        <div>
                              <p class="ct_fs_20 ct_fw_400 fst_italic">
                                    {{ 'auth.loginTestimonialName' | translate }}<br />
                                    {{ 'auth.loginTestimonialRole' | translate }} &middot;
                                    {{ 'auth.loginTestimonialLocation' | translate }}
                              </p>
                        </div>

                        <div>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                        </div>
                  </div>
            </div>
      </div>
</div>