<section>
    <div class="container p-0">
        <div class="mb-4">
            <div class="row">
                <div class="col-lg-12">
                    @if(carData?.carImages?.length > 0){
                    <div class="">
                        <nz-image-group>
                            <div class="swiper mySwiperMain" #mainSwiperRef>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"
                                        *ngFor="let img of carData.carImages; trackBy: trackByImage">
                                        <img [nzSrc]="img?.url || 'img/placeholder.png'" nz-image nzPreview>
                                    </div>
                                </div>
                                <div class="swiper-pagination pagination-ui"></div>
                            </div>
                        </nz-image-group>

                        <div class="swiper mySwiperThumbs mt-2" #thumbsSwiperRef>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" *ngFor="let img of carData.carImages; trackBy: trackByImage">
                                    <img [src]="img?.url || 'img/placeholder.png'">
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    <div class="col-lg-12 mt-lg-0 mt-4">
                        <div class="car-content-right">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h3 class="ct_fs_25 ct_fw_600 mb-2">
                                        {{carData?.brandName}} {{carData?.carModel}} {{carData?.version}}
                                    </h3>
                                </div>
                            </div>

                            <div class="">
                                <h3 class="ct_fs_25 ct_fw_700 mb-0 ct_color_8f0c1f">
                                    {{carData?.selling_price | chfFormat}}
                                    <span class="mb-0 ct_fs_18 ct_fw_400 ct_color_3e1cff fst-italic">
                                        {{carData?.leasing_value | chfFormat}}
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <h4 class="ct_fs_20 ct_fw_600 ct_mt_40 mb-3">{{ 'vehicle.vehicleDetails' | translate }}</h4>
                    <div class="d-flex gap-5 align-items-center">
                        <ul class="p-0 car-content-detail-list">
                            <li class="d-flex gap-2 align-items-start">
                                <img src="img/icons/calendar-brown.png" />
                                <span> {{carData?.registration_year || ('common.notAvailable' | translate)}} </span>
                            </li>
                            <li class="d-flex gap-2 align-items-start">
                                <img src="img/icons/km-brown.png" />
                                <span> {{carData?.carMileage || '0'}} km </span>
                            </li>
                            <li class="d-flex gap-2 align-items-start">
                                <img src="img/icons/transmission-brown.png" />
                                <span>{{carData?.transmission_value || ('common.notAvailable' | translate)}} </span>
                            </li>

                            <li class="d-flex gap-2 align-items-start">
                                <img src="img/icons/Hinterantrieb.png" />
                                <span> {{carData?.drive_type_value || ('common.notAvailable' | translate)}} </span>
                            </li>
                        </ul>
                        <ul class="p-0 car-content-detail-list">
                            <li class="d-flex gap-2 align-items-start">
                                <img src="img/icons/carn1.png" style="height: 26px;" />
                                <span>{{carData?.body_type_value || ('common.notAvailable' | translate)}} </span>
                            </li>
                            <li class="d-flex gap-2 align-items-start">
                                <img src="img/icons/fuel-brown.png" />
                                <span>{{carData?.fuel_type_value || ('common.notAvailable' | translate)}} </span>
                            </li>
                            <li class="d-flex gap-2 align-items-start">
                                <img src="img/icons/power-brown.png" />
                                <span>{{(carData?.condition_value) + ' ps' || ('common.notAvailable' | translate)}}
                                </span>
                            </li>

                            <li *ngIf="carData?.consumption" class="d-flex gap-2 align-items-start">
                                <img src="img/icons/km-blackn.png" />
                                <span>{{carData?.consumption }} L / 100km </span>
                            </li>
                        </ul>
                    </div>
                    <hr class="my-4" />
                    <h4 class="ct_fs_20 ct_fw_600 mb-3">{{ 'vehicle.basicInfo' | translate }}</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-1">{{ 'common.brandName' | translate }}: {{carData?.brandName ||
                                ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'vehicle.carModel' | translate }}: {{carData?.carModel ||
                                ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'vehicle.version' | translate }}: {{carData?.version ||
                                ('common.notAvailable' | translate)}}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-1">{{ 'vehicle.carCondition' | translate }}: {{carData?.condition_value ||
                                ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'vehicle.carMileage' | translate }}: {{carData?.carMileage || '0'}} km
                            </p>
                            <p class="mb-1">{{ 'vehicle.energyEfficiency' | translate }}: {{carData?.energy_efficiency
                                || ('common.notAvailable' | translate)}}</p>
                        </div>

                    </div>

                    <hr class="my-4" />
                    <h4 class="ct_fs_20 ct_fw_600 mb-3">{{ 'vehicle.registration' | translate }}</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-1">{{ 'vehicle.registrationMonth' | translate }}: {{carData?.registration_month
                                || ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'vehicle.registrationYear' | translate }}: {{carData?.registration_year
                                || ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'vehicle.firstRegistrationDate' | translate }}:
                                {{carData?.first_registration_date ? (carData?.first_registration_date |
                                date:'dd.MM.yyyy') : ('common.notAvailable' | translate)}}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-1">{{ 'vehicle.vehicleIdentificationNumber' | translate }}:
                                {{carData?.vin_number || ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'vehicle.registrationMasterNumber' | translate }}:
                                {{carData?.registration_master_number || ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'vehicle.typeApproval' | translate }}: {{carData?.type_approval ||
                                ('common.notAvailable' | translate)}}</p>
                        </div>
                    </div>

                    <hr class="my-4" />
                    <h4 class="ct_fs_20 ct_fw_600 mb-3">{{ 'vehicle.specifications' | translate }}</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-1">{{ 'vehicle.doors' | translate }}: {{carData?.doors ||
                                ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'filters.seats' | translate }}: {{carData?.seats ||
                                carData?.seats
                                || ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'vehicle.cylinders' | translate }}: {{carData?.cylinders ||
                                ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'vehicle.gears' | translate }}: {{carData?.gears ||
                                ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'vehicle.height' | translate }} (mm): {{carData?.height_mm ||
                                ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'vehicle.width' | translate }} (mm): {{carData?.width_mm ||
                                ('common.notAvailable' | translate)}}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-1">Empty weight (kg): {{carData?.emptyWeight ||
                                ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">Total weight (kg): {{carData?.totalWeight ||
                                ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'vehicle.length' | translate }} (mm): {{carData?.length_mm ||
                                ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'vehicle.brakedTowingCapacity' | translate }} (kg):
                                {{carData?.braked_towing_capacity_kg || ('common.notAvailable' | translate)}}
                            </p>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <h4 class="ct_fs_20 ct_fw_600 mb-3">{{ 'vehicle.colorsAndFlags' | translate }}</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-1">{{ 'vehicle.exteriorColor' | translate }}: {{carData?.exterior_color_value
                                || ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'vehicle.interiorColor' | translate }}: {{carData?.interior_color_value
                                || ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'filters.metallic' | translate }}: {{carData?.is_metallic ? ('common.yes'
                                | translate) : ('common.no' | translate)}}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-1">{{ 'vehicle.swissVehicle' | translate }}: {{carData?.is_swiss_vehicle ?
                                ('common.yes' | translate) : ('common.no' | translate)}}</p>
                            <p class="mb-1">{{ 'vehicle.accidentVehicle' | translate }}: {{carData?.is_accident_vehicle
                                ? ('common.yes' | translate) : ('common.no' | translate)}}</p>
                        </div>
                    </div>

                    <hr class="my-4" />
                    <h4 class="ct_fs_20 ct_fw_600 mb-3">{{ 'vehicle.equipmentAndFeatures' | translate }}</h4>
                    <ul class="px-0 equipment-list"
                        *ngIf="(carData?.carFeatures?.length || 0) + (carData?.extras?.length || 0) > 0; else noFeatures">
                        <li *ngFor="let feat of carData?.carFeatures">
                            <img src="img/icons/list-chk.png" />
                            {{feat}}
                        </li>
                        <li *ngFor="let extra of carData?.extras">
                            <img src="img/icons/list-chk.png" />
                            {{extra}}
                        </li>
                    </ul>
                    <ng-template #noFeatures>
                        <p class="ct_fs_16 mb-0">{{ 'vehicle.noFeaturesListed' | translate }}</p>
                    </ng-template>

                    <hr class="my-4" />
                    <h4 class="ct_fs_20 ct_fw_600 mb-3">{{ 'common.description' | translate }}</h4>
                    <p>{{carData?.description || ('vehicle.noDescriptionProvided' | translate)}}</p>
                    <p class="ct_fs_14 ct_color_666666" *ngIf="carData?.additional_title_999">
                        {{carData?.additional_title_999}}
                    </p>

                    <hr class="my-4" />
                    <h4 class="ct_fs_20 ct_fw_600 mb-3">{{ 'vehicle.vehicleInspectionMfk' | translate }}</h4>
                    <p *ngIf="carData?.last_mfk_date; else noMfk">
                        <img src="img/icons/right.png" class="me-2" />
                        {{ 'vehicle.mfkDoneOn' | translate:{ date: (carData?.last_mfk_date | date:'dd.MM.yyyy') } }}
                    </p>
                    <ng-template #noMfk>
                        <p>{{ 'vehicle.noMfkDateProvided' | translate }}</p>
                    </ng-template>

                    <hr class="my-4" />
                    <h4 class="ct_fs_20 ct_fw_600 mb-3">{{ 'vehicle.warrantyAndReturns' | translate }}</h4>
                    <p class="mb-1">{{ 'vehicle.warranty' | translate }}: {{carData?.warranty_value ||
                        ('common.notAvailable' | translate)}}</p>
                    <p class="mb-1">{{ 'vehicle.warrantyType' | translate }}: {{carData?.warranty_type_value ||
                        ('common.notAvailable' | translate)}}</p>
                    <p class="mb-1" *ngIf="carData?.warranty_from && carData?.warranty_to">
                        {{ 'vehicle.warrantyPeriod' | translate }}: {{carData?.warranty_from | date:'dd.MM.yyyy'}} -
                        {{carData?.warranty_to | date:'dd.MM.yyyy'}}
                    </p>

                    <hr class="my-4" />
                    <h4 class="ct_fs_20 ct_fw_600 mb-3">{{ 'vehicle.leasingSummary' | translate }}</h4>
                    @if(carData?.isLeasing){
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-1">{{ 'payment.leasingValue' | translate }}: CHF {{carData?.leasing_value ||
                                '0'}}</p>
                            <p class="mb-1">{{ 'payment.annualInterestRate' | translate }}:
                                {{carData?.annual_interest_rate || '0'}}%</p>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-1">{{ 'payment.residualValue' | translate }}: {{carData?.residual_value ||
                                '0'}}%</p>
                            <p class="mb-1">{{ 'payment.bankingPartner' | translate }}: {{carData?.banking_partner ||
                                ('common.notAvailable' | translate)}}</p>
                        </div>
                    </div>
                    }@else{
                    <p class="ct_fs_16 mb-0">{{ 'vehicle.leasingNotSelected' | translate }}</p>
                    }

                    <hr class="my-4" />
                    <h4 class="ct_fs_20 ct_fw_600 mb-3">{{ 'vehicle.contactDetails' | translate }}</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-1">{{ 'profile.firstName' | translate }}: {{carData?.first_name ||
                                ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'profile.lastName' | translate }}: {{carData?.last_name ||
                                ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'profile.phoneNumber' | translate }}: {{carData?.country_code ||
                                ''}}{{carData?.phone_number || ('common.notAvailable' | translate)}}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-1">{{ 'profile.street' | translate }}: {{carData?.street ||
                                ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'profile.houseNumber' | translate }}: {{carData?.house_number ||
                                ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'profile.postalCode' | translate }}: {{carData?.postal_code ||
                                ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'profile.city' | translate }}: {{carData?.city || ('common.notAvailable'
                                | translate)}}</p>
                            <p class="mb-1">{{ 'profile.poBox' | translate }}: {{carData?.po_box ||
                                ('common.notAvailable' | translate)}}</p>
                            <p class="mb-1">{{ 'profile.country' | translate }}: {{carData?.country ||
                                ('common.notAvailable' | translate)}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>