<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-10 mx-auto">
                        <div class="ct_right_main_box profile-edit-box">
                              <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 ">{{'auth.currentPassword' |
                                                translate}} <span class="ct_color_8f0c1f">*</span></label>
                                          <div class="position-relative">
                                                <input [type]="isShowCurrentPassword ? 'text' : 'password'"
                                                      class="form-control ct_input"
                                                      placeholder="{{'common.enter' | translate}} {{'auth.currentPassword' | translate}}"
                                                      formControlName="password">
                                                <i class="fa-solid ct_show_eye"
                                                      [ngClass]="isShowCurrentPassword ? 'fa-eye' : 'fa-eye-slash'"
                                                      (click)="isShowCurrentPassword = !isShowCurrentPassword"></i>
                                          </div>
                                          <small class="text-danger">{{validationErrorService.getErrorMessage(('auth.currentPassword'
                                                | translate), Form.get("password"))}}</small>
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 ">{{'auth.newPassword' | translate}} <span class="ct_color_8f0c1f">*</span></label>
                                          <div class="position-relative">
                                                <input [type]="isShowNewPassword ? 'text' : 'password'"
                                                      class="form-control ct_input"
                                                      placeholder="{{'common.enter' | translate}} {{'auth.newPassword' | translate}}"
                                                      formControlName="newPassword">
                                                <i class="fa-solid ct_show_eye"
                                                      [ngClass]="isShowNewPassword ? 'fa-eye' : 'fa-eye-slash'"
                                                      (click)="isShowNewPassword = !isShowNewPassword"></i>
                                          </div>
                                          <small class="text-danger">{{validationErrorService.getErrorMessage(('auth.newPassword'
                                                | translate), Form.get("newPassword"))}}</small>
                                          <small *ngIf="Form.errors?.['sameAsCurrent'] && !Form.controls['newPassword'].errors?.['required']"
                                                class="text-danger">{{'auth.newPasswordCannotBeSameAsCurrentPassword' |
                                                translate}}</small>
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 ">{{'auth.confirmPassword' |
                                                translate}} <span class="ct_color_8f0c1f">*</span></label>
                                          <div class="position-relative">
                                                <input [type]="isShowConfPassword ? 'text' : 'password'"
                                                      class="form-control ct_input"
                                                      placeholder="{{'common.enter' | translate}} {{'auth.confirmPassword' | translate}}"
                                                      formControlName="confirmPassword">
                                                <i class="fa-solid ct_show_eye"
                                                      [ngClass]="isShowConfPassword ? 'fa-eye' : 'fa-eye-slash'"
                                                      (click)="isShowConfPassword = !isShowConfPassword"></i>
                                          </div>
                                          <small class="text-danger">{{validationErrorService.getErrorMessage(('auth.confirmPassword'
                                                | translate), Form.get("confirmPassword"))}}</small>
                                          <small *ngIf="Form.errors?.['passwordMismatch'] && !Form.controls['confirmPassword'].errors?.['required']"
                                                class="text-danger">{{'auth.passwordNotMatch' | translate}}</small>
                                    </div>
                                    <div class="text-end mt-4">
                                          <button class="btn-grey-transparent px-4 me-2">
                                                {{ 'common.cancel' | translate }}
                                          </button>
                                          <app-submit-button [text]="'common.saveChanges'" [class]="'btn-red'"
                                                [isLoading]="loading"></app-submit-button>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
      </div>
</section>
