<section class="ct_mt_100 mb-5">
      <div class="container">
            <div class="row">
                  <div class="col-md-6 mx-auto">
                        <div class="ct_success_ful_bg">
                              <div class="success-icon mx-auto mb-4">
                                    <img src="img/icons/payment-successful.png" alt="" />
                              </div>
                              <h5 class="ct_fs_16 ct_fw_600 mb-2">Payment successful</h5>
                              <p class="text-muted mb-4">
                                    Your car has been listed successfully.<br />
                                    Thank you!
                              </p>
                              <a routerLink="/list-your-car" class="btn-red w-100 py-2"> Back To Home </a>
                        </div>
                  </div>
            </div>
      </div>
</section>