<section class="ct_mt_100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="collections-header">
                    <div class="mb-4">
                        <h3 class="ct_fs_35 ct_fw_600 ct_font_cairo text-start mb-0">Schedule Requests </h3>
                        <p class="text-start">Review and manage the test drive request</p>
                    </div>
                    <div class="d-flex gap-3">
                        <div class="position-relative w-100 ">
                            <input type="text"
                                class="form-control ct_input ct_input_ps_40 ct_input_h_40 ct_border_op_10 shadow-sm"
                                placeholder="Search" />
                            <i class="fa-solid fa-search ct_input_icon_left"></i>
                        </div>
                        <div class=" ">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>All </option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="ct_schedule_box mt-5">

                        <div class="my-listing-car">

                            <div class="schedule-card border-0 position-relative">

                                <!-- Status Badge -->


                                <div class="d-md-flex w-100 align-items-center">

                                    <div class="d-flex gap-3 w-100 align-items-center">
                                        <!-- Image -->
                                        <div class="mb-md-0 mt-md-0 mt-2 mb-3 ">
                                            <img src="img/my-listing-car.png" class="ct_img_128" alt="Car">
                                        </div>

                                        <!-- Info -->
                                        <div class="w-100">
                                            <h5 class="mb-2 text-start ">
                                                <a routerLink="/schedule-request-detail"
                                                    class="text-dark ct_fs_18 ct_fw_600"> Mercedes-Bens C-Class</a>
                                            </h5>
                                            <div
                                                class="text-start ct_fs_24 ct_fw_700 ct_font_cairo ct_color ct_color_8f0c1f mb-3">
                                                CHF 45'900</div>



                                            <div class="d-flex align-items-center gap-3 flex-wrap ">
                                                <div>
                                                    <span class="ct_fs_14 ct_fw_400">
                                                        Requested by :
                                                    </span>
                                                </div>

                                                <div>
                                                    <img src="img/schedule-img.jpg" alt="" class="ct_img_24">
                                                </div>

                                                <div>
                                                    <span class="ct_fs_14 ct_fw_500">
                                                        James Mitchell
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-between">



                                            </div>
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div>
                                        <p class="text-end mb-0"> <span
                                                class="badge status-badge-success">Confirmed</span></p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div>


                    <div class="ct_schedule_box mt-3">

                        <div class="my-listing-car">

                            <div class="schedule-card border-0 position-relative">

                                <!-- Status Badge -->


                                <div class="d-md-flex w-100 align-items-center">

                                    <div class="d-flex gap-3 w-100 align-items-center">
                                        <!-- Image -->
                                        <div class="mb-md-0 mt-md-0 mt-2 mb-3 ">
                                            <img src="img/my-listing-car.png" class="ct_img_128" alt="Car">
                                        </div>

                                        <!-- Info -->
                                        <div class="w-100">
                                            <h5 class="mb-2 text-start">
                                                <a href="schedule-plan.html"
                                                    class="text-dark  ct_fs_18 ct_fw_600">Mercedes-Bens C-Class</a>
                                            </h5>
                                            <div
                                                class="text-start ct_fs_24 ct_fw_700 ct_font_cairo ct_color ct_color_8f0c1f mb-3">
                                                CHF 45'900</div>



                                            <div class="d-flex align-items-center gap-3 flex-wrap ">
                                                <div>
                                                    <span class="ct_fs_14 ct_fw_400">
                                                        Requested by :
                                                    </span>
                                                </div>

                                                <div>
                                                    <img src="img/schedule-img.jpg" alt="" class="ct_img_24">
                                                </div>

                                                <div>
                                                    <span class="ct_fs_14 ct_fw_500">
                                                        James Mitchell
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-between">



                                            </div>
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div>
                                        <p class="text-end mb-0"> <span
                                                class="badge status-badge-warning">Pending</span></p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div>



                    <div class="ct_schedule_box mt-3">

                        <div class="my-listing-car">

                            <div class="schedule-card border-0 position-relative">

                                <!-- Status Badge -->


                                <div class="d-md-flex w-100 align-items-center">

                                    <div class="d-flex gap-3 w-100 align-items-center">
                                        <!-- Image -->
                                        <div class="mb-md-0 mt-md-0 mt-2 mb-3 ">
                                            <img src="img/my-listing-car.png" class="ct_img_128" alt="Car">
                                        </div>

                                        <!-- Info -->
                                        <div class="w-100">
                                            <h5 class="text-start">
                                                <a href="schedule-rejected-plan.html"
                                                    class="mb-2 text-start ct_fs_18 ct_fw_600 text-dark">Mercedes-Bens
                                                    C-Class</a>
                                            </h5>
                                            <div
                                                class="text-start ct_fs_24 ct_fw_700 ct_font_cairo ct_color ct_color_8f0c1f mb-3">
                                                CHF 45'900</div>



                                            <div class="d-flex align-items-center gap-3 flex-wrap ">
                                                <div>
                                                    <span class="ct_fs_14 ct_fw_400">
                                                        Requested by :
                                                    </span>
                                                </div>

                                                <div>
                                                    <img src="img/schedule-img.jpg" alt="" class="ct_img_24">
                                                </div>

                                                <div>
                                                    <span class="ct_fs_14 ct_fw_500">
                                                        James Mitchell
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-between">



                                            </div>
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div>
                                        <p class="text-end mb-0"> <span
                                                class="badge status-badge-danger">Rejected</span></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>