<div class="ct_mt_100">
    <div class="container">
        <div>
            <img src="img/icons/amag-icon.png" />
            <span class="ct_fs_20 ct_fw_500"> Amag AG</span>
        </div>

        <div class="row">
            <div class="col-lg-9 order-2 order-md-1">
                <div class="d-flex align-items-center gap-3">
                    <div class="mt-2">
                        <img src="img/icons/google.png" class="me-1" />
                        <span> 4.5</span>
                        <img src="img/icons/rating.png" />
                        <img src="img/icons/rating.png" />
                        <img src="img/icons/rating.png" />
                        <img src="img/icons/rating.png" />
                        <img src="img/icons/rating.png" />
                    </div>

                    <div class="d-flex align-items-center">
                        <img src="img/icons/call.png" class="me-1" />
                        <p class="ct_fs_16 ct_fw_300 mb-0">+14628929454</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="img/icons/ep_location.png" class="me-1" />
                        <p class="ct_fs_16 ct_fw_300 mb-0">
                            Via Schliffras 34, 2504, Biel Bienne
                        </p>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="img/icons/web.png" class="me-1" />
                        <p class="ct_fs_16 ct_fw_300 mb-0">https://www.amag.ch</p>
                    </div>
                </div>

                <div class="seller-det-banner mt-2">
                    <img src="img/seller-det-banner.png" />
                </div>

                <ul class="nav nav-tabs mt-3 sellter-detail-tabs" id="myTab" role="tablist">
                    <li class="nav-item w-50 border-0" role="presentation">
                        <button class="nav-link active border-0" id="home-tab" data-bs-toggle="tab"
                            data-bs-target="#home" type="button" role="tab">
                            About Us
                        </button>
                    </li>

                    <li class="nav-item w-50 border-0" role="presentation">
                        <button class="nav-link border-0" id="profile-tab" data-bs-toggle="tab"
                            data-bs-target="#profile" type="button" role="tab">
                            Our Vehicles
                        </button>
                    </li>
                </ul>

                <!-- Tab Content -->
                <div class="tab-content border border-0 p-3 mt-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel">
                        <div>
                            <div class="mb-2 d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="mb-0 ct_fs_20 ct_fw_500">
                                        <img src="img/icons/info-icon.png" />
                                        Information
                                    </h5>
                                </div>
                                <div>
                                    <img src="img/icons/chevron-up-b.png" />
                                </div>
                            </div>
                            <p>
                                Amag AG has been a trusted name in premium automotive sales
                                for over 30 years. Our commitment to excellence and customer
                                satisfaction has made us one of the leading car dealerships
                                in the region.
                            </p>
                            <p>
                                We specialize in luxury and premium vehicles, offering an
                                extensive selection of new and certified pre-owned cars from
                                the world's most prestigious brands. Our experienced team
                                provides personalized service to help you find the perfect
                                vehicle that matches your lifestyle and budget.
                            </p>
                            <p>
                                Located in the heart of the automotive district, our
                                state-of-the-art showroom and service center deliver a
                                premium experience from purchase through ownership.
                            </p>
                        </div>

                        <!-- <div class="">
                            <swiper-container style="
                      --swiper-navigation-color: #fff;
                      --swiper-pagination-color: #fff;
                    " class="mySwiper" thumbs-swiper=".mySwiper2" space-between="10" navigation="false"
                                pagination="true" pagination-type="fraction">
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                            </swiper-container>

                            <swiper-container class="mySwiper2" space-between="10" slides-per-view="4" free-mode="true"
                                watch-slides-progress="true">
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                                <swiper-slide>
                                    <img src="img/view-detail-car-img.jpg" />
                                </swiper-slide>
                            </swiper-container>

                            <h4 class="ct_fs_18 ct_fw_500 mt-3 mb-3">
                                Your Advantages at a Glance
                            </h4>
                            <div class="d-flex gap-3">
                                <ul class="px-0 equipment-list">
                                    <li>
                                        <img src="img/icons/list-chk.png" />
                                        30+ Years of Experience
                                    </li>
                                    <li>
                                        <img src="img/icons/list-chk.png" />
                                        Certified Quality Standards
                                    </li>
                                    <li>
                                        <img src="img/icons/list-chk.png" />
                                        Comprehensive Warranties
                                    </li>
                                </ul>
                                <ul class="px-0 equipment-list">
                                    <li>
                                        <img src="img/icons/list-chk.png" />
                                        Premium Vehicle Selection
                                    </li>
                                    <li>
                                        <img src="img/icons/list-chk.png" />
                                        Expert Customer Service
                                    </li>
                                    <li>
                                        <img src="img/icons/list-chk.png" />
                                        Modern Service Center
                                    </li>
                                </ul>
                            </div>
                        </div> -->

                        <div>
                            <div class="mb-2 mt-3 d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="mb-0 ct_fs_20 ct_fw_500">
                                        <img src="img/icons/service-list-icon.png" />
                                        Services
                                    </h5>
                                </div>
                                <div>
                                    <img src="img/icons/chevron-up-b.png" />
                                </div>
                            </div>

                            <ul class="ps-0 mt-3">
                                <li class="ct_fs_18 ct_fw_300 ps-0 ct_color_666666 mb-1">
                                    <img src="img/icons/right.png" />
                                    Leasing | Financing
                                </li>
                                <li class="ct_fs_18 ct_fw_300 ps-0 ct_color_666666 mb-1">
                                    <img src="img/icons/right.png" />
                                    Fair trade-in prices
                                </li>
                                <li class="ct_fs_18 ct_fw_300 ps-0 ct_color_666666 mb-1">
                                    <img src="img/icons/right.png" />
                                    Certified premium vehicles
                                </li>
                                <li class="ct_fs_18 ct_fw_300 ps-0 ct_color_666666 mb-1">
                                    <img src="img/icons/right.png" />
                                    Kompletter Indoor-Showroom
                                </li>
                                <li class="ct_fs_18 ct_fw_300 ps-0 ct_color_666666 mb-1">
                                    <img src="img/icons/right.png" />
                                    Warranty & service package available at extra cost
                                </li>
                            </ul>
                        </div>

                        <div class="mt-4">
                            <div class="mb-3 mt-3 d-flex justify-content-between align-items-center">
                                <div class="mb-2">
                                    <h5 class="mb-0 ct_fs_20 ct_fw_500">
                                        <img src="img/icons/teams.png" /> Team
                                    </h5>
                                </div>
                                <div>
                                    <img src="img/icons/chevron-up-b.png" />
                                </div>
                            </div>

                            <p class="ct_fs_15 ct_fs_500">Sales</p>
                            <div class="d-flex gap-4 mb-3">
                                <div class="seller-team-img">
                                    <img src="img/team-member-img.png" />
                                </div>
                                <div>
                                    <h4 class="ct_fs_18 ct_fw_500">Bujar Muljaki</h4>
                                    <p class="ct_fw_300 ct_fs_15 ct_color_8f0c1f">
                                        <img src="img/icons/call-brwon.png" />
                                        044 527 07 55
                                    </p>
                                    <p class="ct_fw_300 ct_fs_15 ct_color_8f0c1f">
                                        <img src="img/icons/mail-brown.png" />
                                        044 527 07 55
                                    </p>
                                    <p class="ct_fw_300">
                                        <strong class="ct_fw_600"> Head of Sales</strong> | I
                                        speak: German, <br />English, Albanian
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex gap-4">
                                <div class="seller-team-img">
                                    <img src="img/team-member-img.png" />
                                </div>
                                <div>
                                    <h4 class="ct_fs_18 ct_fw_500">Bujar Muljaki</h4>
                                    <p class="ct_fw_300 ct_fs_15 ct_color_8f0c1f">
                                        <img src="img/icons/call-brwon.png" />
                                        044 527 07 55
                                    </p>
                                    <p class="ct_fw_300 ct_fs_15 ct_color_8f0c1f">
                                        <img src="img/icons/mail-brown.png" />
                                        044 527 07 55
                                    </p>
                                    <p class="ct_fw_300">
                                        <strong class="ct_fw_600"> Head of Sales</strong> | I
                                        speak: German, <br />English, Albanian
                                    </p>
                                </div>
                            </div>

                            <p class="ct_fs_18 ct_fs_500 mt-3">Managemet</p>
                            <div class="d-flex gap-4">
                                <div class="seller-team-img">
                                    <img src="img/team-member-img.png" />
                                </div>
                                <div>
                                    <h4 class="ct_fs_18 ct_fw_500">Bujar Muljaki</h4>
                                    <p class="ct_fw_300 ct_fs_15 ct_color_8f0c1f">
                                        <img src="img/icons/call-brwon.png" />
                                        044 527 07 55
                                    </p>
                                    <p class="ct_fw_300 ct_fs_15 ct_color_8f0c1f">
                                        <img src="img/icons/mail-brown.png" />
                                        044 527 07 55
                                    </p>
                                    <p class="ct_fw_300">
                                        <strong class="ct_fw_600"> Head of Sales</strong> | I
                                        speak: German, <br />English, Albanian
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <div class="mb-3 mt-3 d-flex justify-content-between align-items-center">
                                <div class="mb-2">
                                    <h5 class="mb-0 ct_fs_20 ct_fw_500">
                                        <img src="img/icons/video.png" /> Video
                                    </h5>
                                </div>
                                <div>
                                    <img src="img/icons/chevron-up-b.png" />
                                </div>
                            </div>
                            <div class="position-relative">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/D0UnqGm_miA"
                                    title="YouTube video player" frameborder="0" allow="
                        accelerometer;
                        autoplay;
                        clipboard-write;
                        encrypted-media;
                        gyroscope;
                        picture-in-picture;
                      " allowfullscreen>
                                </iframe>
                                <div class="yt-videos-icons">
                                    <img src="img/icons/wishlisht.png" />
                                    <img src="img/icons/timer-icon.png" />
                                    <img src="img/icons/share.png" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile" role="tabpanel">
                        <div class="d-flex justify-content-between align-items-center my-4">
                            <div class="">
                                <a class="ct_color_8f0c1f ct_cursor_pointer" data-bs-toggle="offcanvas"
                                    data-bs-target="#SortingOffcanvas" aria-controls="SortingOffcanvasBackdrop">
                                    <img src="img/icons/sorting-brown.png" /> sort
                                </a>

                                <div class="offcanvas offcanvas-start sorting-offcanvas"
                                    data-bs-backdrop="SortingOffcanvas" tabindex="-1" id="SortingOffcanvas"
                                    aria-labelledby="SortingOffcanvasBackdropLabel">
                                    <div class="offcanvas-header">
                                        <h5 class="offcanvas-title" id="SortingOffcanvasBackdropLabel">
                                            Sort
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                        <div>
                                            <ul class="ps-0 sorting-canva-list">
                                                <li class="ct_fs_16 ct_fw_400 ps-0">
                                                    <img src="img/sorting-icon/price.png" class="me-2" />
                                                    Price: low to high
                                                </li>
                                                <li class="ct_fs_16 ct_fw_400 ps-0">
                                                    <img src="img/sorting-icon/price.png" class="me-2" />
                                                    Price: high to low
                                                </li>

                                                <li class="ct_fs_16 ct_fw_400 ps-0">
                                                    <img src="img/sorting-icon/km.png" class="me-2" />
                                                    Mileage (km): low to high
                                                </li>
                                                <li class="ct_fs_16 ct_fw_400 ps-0">
                                                    <img src="img/sorting-icon/km.png" class="me-2" />
                                                    Mileage (km): high to low
                                                </li>

                                                <li class="ct_fs_16 ct_fw_400 ps-0">
                                                    <img src="img/sorting-icon/date.png" class="me-2" />
                                                    Year: old to new
                                                </li>
                                                <li class="ct_fs_16 ct_fw_400 ps-0">
                                                    <img src="img/sorting-icon/date.png" class="me-2" />
                                                    Year: new to old
                                                </li>

                                                <li class="ct_fs_16 ct_fw_400 ps-0">
                                                    <img src="img/sorting-icon/model.png" class="me-2" />
                                                    Brand/Model: A to Z
                                                </li>
                                                <li class="ct_fs_16 ct_fw_400 ps-0">
                                                    <img src="img/sorting-icon/model.png" class="me-2" />
                                                    Brand/Model: Z to A
                                                </li>

                                                <li class="ct_fs_16 ct_fw_400 ps-0">
                                                    <img src="img/sorting-icon/power.png" class="me-2" />
                                                    Horsepower (PS): low to high
                                                </li>
                                                <li class="ct_fs_16 ct_fw_400 ps-0">
                                                    <img src="img/sorting-icon/power.png" class="me-2" />
                                                    Horsepower (PS): high to low
                                                </li>

                                                <li class="ct_fs_16 ct_fw_400 ps-0">
                                                    <img src="img/sorting-icon/timer.png" class="me-2" />
                                                    Published: most recent first
                                                </li>
                                                <li class="ct_fs_16 ct_fw_400 ps-0">
                                                    <img src="img/sorting-icon/timer.png" class="me-2" />
                                                    Published: oldest first
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <button class="btn-grey-transparent">98 vehicle</button>
                            </div>
                            <div class="ct_color_8f0c1f">
                                <a href="car-listing.html" class="ct_color_8f0c1f">
                                    <img src="img/icons/filter-brown.png" /> Filter
                                </a>
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="row align-items-center">
                                <!-- <div class="col-lg-6">
                                    <div class="">
                                        <swiper-container style="
                            --swiper-navigation-color: #fff;
                            --swiper-pagination-color: #fff;
                          " class="mySwiper" thumbs-swiper=".mySwiper2" space-between="10" navigation="false"
                                            pagination="true" pagination-type="fraction">
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                        </swiper-container>

                                        <swiper-container class="mySwiper2" space-between="10" slides-per-view="4"
                                            free-mode="true" watch-slides-progress="true">
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                        </swiper-container>
                                    </div>
                                </div> -->

                                <div class="col-lg-6">
                                    <div class="car-content-right">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <h3 class="ct_fs_25 ct_fw_600 mb-2">
                                                    Lamborghini Huracan
                                                </h3>
                                            </div>

                                            <div>
                                                <svg width="25" height="22" viewBox="0 0 25 22" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M2.79167 2.79008C3.30995 2.27178 3.92524 1.86065 4.60241 1.58015C5.27958 1.29965 6.00537 1.15527 6.73834 1.15527C7.47131 1.15527 8.1971 1.29965 8.87427 1.58015C9.55145 1.86065 10.1667 2.27178 10.685 2.79008L12.4664 4.57146L14.2478 2.79008C15.2947 1.74336 16.7145 1.15538 18.1949 1.15549C19.6753 1.15561 21.095 1.74381 22.1417 2.79069C23.1885 3.83758 23.7764 5.25739 23.7763 6.7378C23.7762 8.2182 23.188 9.63793 22.1411 10.6846L20.3597 12.4648L20.3756 12.4807L12.4823 20.3753L12.4664 20.3594L12.4505 20.3753L4.55716 12.4807L4.57305 12.4648L2.79167 10.6846C2.27319 10.1663 1.8619 9.55098 1.58129 8.8737C1.30068 8.19641 1.15625 7.47048 1.15625 6.73736C1.15625 6.00425 1.30068 5.27832 1.58129 4.60103C1.8619 3.92375 2.27319 3.30838 2.79167 2.79008Z"
                                                        stroke="black" stroke-width="2.31068" stroke-linejoin="round" />
                                                </svg>
                                            </div>
                                        </div>

                                        <div class="mt-2">
                                            <h3 class="ct_fs_25 ct_fw_600 mb-0 ct_color_8f0c1f">
                                                CHF 45’900.-
                                            </h3>
                                            <p
                                                class="mb-0 ct_fs_18 ct_fw_400 ct_color_1877F2 text-decoration-underline">
                                                CHF 550.- per month
                                            </p>
                                        </div>

                                        <div class="d-flex justify-content-between mt-3 ct_mb_35 gap-2">
                                            <div class="box">Panoramic Sunroof</div>
                                            <div class="box">Leather Interior</div>
                                            <div class="box">Adaptive LED Headlights</div>
                                        </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-sm-5">
                                            <ul class="p-0 car-content-right-list">
                                                <li>
                                                    <img src=" img/icons/calendar-brown.png" />
                                                    <span> 07.2018 </span>
                                                </li>
                                                <li>
                                                    <img src="img/icons/km-brown.png" />
                                                    <span> 50’000 km </span>
                                                </li>
                                                <li>
                                                    <img src="img/icons/fuel-brown.png" />
                                                    <span> Benzin </span>
                                                </li>
                                                <li>
                                                    <img src="img/icons/power-brown.png" />
                                                    <span> 510 ps </span>
                                                </li>
                                                <li>
                                                    <img src="img/icons/transmission-brown.png" />
                                                    <span> Automatic </span>
                                                </li>
                                                <li>
                                                    <img src="img/icons/calendar-brown.png" />
                                                    <span> 7.0 L / 100 Km </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="mt-md-0 mt-3">
                                                <img src="img/icons/amag-icon.png" />
                                                <h4 class="ct_fs_20 ct_fw_500 mt-2">Amag AG</h4>
                                                <div class="d-flex align-items-center mt-3">
                                                    <img src="img/icons/ep_location.png" />
                                                    <p class="ct_fs_16 ct_fw_300 mb-0">
                                                        Via Schliffras 34, 2504, Biel Bienne
                                                    </p>
                                                </div>

                                                <div class="mt-2">
                                                    <img src="img/icons/google.png" />
                                                    4.5
                                                    <img src="img/icons/rating.png" />
                                                    <img src="img/icons/rating.png" />
                                                    <img src="img/icons/rating.png" />
                                                    <img src="img/icons/rating.png" />
                                                    <img src="img/icons/rating.png" />
                                                </div>

                                                <div class="mt-2">
                                                    <img src="img/icons/c-icon.png" class="me-2" />

                                                    <img src="img/icons/watsaap.png" class="me-2" />
                                                    <img src="img/icons/call.png" class="me-2" />
                                                    <img src="img/icons/formkit_email.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="quality-img my-4">
                                <img src="img/icons/quality.png" />
                            </div>
                            <hr />
                        </div>
                        <div class="mb-4">
                            <div class="row align-items-center">
                                <!-- <div class="col-lg-6">
                                    <div class="">
                                        <swiper-container style="
                            --swiper-navigation-color: #fff;
                            --swiper-pagination-color: #fff;
                          " class="mySwiper" thumbs-swiper=".mySwiper2" space-between="10" navigation="false"
                                            pagination="true" pagination-type="fraction">
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                        </swiper-container>

                                        <swiper-container class="mySwiper2" space-between="10" slides-per-view="4"
                                            free-mode="true" watch-slides-progress="true">
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                            <swiper-slide>
                                                <img src="img/browse-car-img-b.jpg" />
                                            </swiper-slide>
                                        </swiper-container>
                                    </div>
                                </div> -->

                                <div class="col-lg-6">
                                    <div class="car-content-right">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <h3 class="ct_fs_25 ct_fw_600 mb-2">
                                                    Lamborghini Huracan
                                                </h3>
                                            </div>

                                            <div>
                                                <svg width="25" height="22" viewBox="0 0 25 22" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M2.79167 2.79008C3.30995 2.27178 3.92524 1.86065 4.60241 1.58015C5.27958 1.29965 6.00537 1.15527 6.73834 1.15527C7.47131 1.15527 8.1971 1.29965 8.87427 1.58015C9.55145 1.86065 10.1667 2.27178 10.685 2.79008L12.4664 4.57146L14.2478 2.79008C15.2947 1.74336 16.7145 1.15538 18.1949 1.15549C19.6753 1.15561 21.095 1.74381 22.1417 2.79069C23.1885 3.83758 23.7764 5.25739 23.7763 6.7378C23.7762 8.2182 23.188 9.63793 22.1411 10.6846L20.3597 12.4648L20.3756 12.4807L12.4823 20.3753L12.4664 20.3594L12.4505 20.3753L4.55716 12.4807L4.57305 12.4648L2.79167 10.6846C2.27319 10.1663 1.8619 9.55098 1.58129 8.8737C1.30068 8.19641 1.15625 7.47048 1.15625 6.73736C1.15625 6.00425 1.30068 5.27832 1.58129 4.60103C1.8619 3.92375 2.27319 3.30838 2.79167 2.79008Z"
                                                        stroke="black" stroke-width="2.31068" stroke-linejoin="round" />
                                                </svg>
                                            </div>
                                        </div>

                                        <div class="mt-2">
                                            <h3 class="ct_fs_25 ct_fw_600 mb-0 ct_color_8f0c1f">
                                                CHF 45’900.-
                                            </h3>
                                            <p
                                                class="mb-0 ct_fs_18 ct_fw_400 ct_color_1877F2 text-decoration-underline">
                                                CHF 550.- per month
                                            </p>
                                        </div>

                                        <div class="d-flex justify-content-between mt-3 ct_mb_35 gap-2">
                                            <div class="box">Panoramic Sunroof</div>
                                            <div class="box">Leather Interior</div>
                                            <div class="box">Adaptive LED Headlights</div>
                                        </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-sm-5">
                                            <ul class="p-0 car-content-right-list">
                                                <li>
                                                    <img src=" img/icons/calendar-brown.png" />
                                                    <span> 07.2018 </span>
                                                </li>
                                                <li>
                                                    <img src="img/icons/km-brown.png" />
                                                    <span> 50’000 km </span>
                                                </li>
                                                <li>
                                                    <img src="img/icons/fuel-brown.png" />
                                                    <span> Benzin </span>
                                                </li>
                                                <li>
                                                    <img src="img/icons/power-brown.png" />
                                                    <span> 510 ps </span>
                                                </li>
                                                <li>
                                                    <img src="img/icons/transmission-brown.png" />
                                                    <span> Automatic </span>
                                                </li>
                                                <li>
                                                    <img src="img/icons/calendar-brown.png" />
                                                    <span> 7.0 L / 100 Km </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="mt-md-0 mt-3">
                                                <img src="img/icons/amag-icon.png" />
                                                <h4 class="ct_fs_20 ct_fw_500 mt-2">Amag AG</h4>
                                                <div class="d-flex align-items-center mt-3">
                                                    <img src="img/icons/ep_location.png" />
                                                    <p class="ct_fs_16 ct_fw_300 mb-0">
                                                        Via Schliffras 34, 2504, Biel Bienne
                                                    </p>
                                                </div>

                                                <div class="mt-2">
                                                    <img src="img/icons/google.png" />
                                                    4.5
                                                    <img src="img/icons/rating.png" />
                                                    <img src="img/icons/rating.png" />
                                                    <img src="img/icons/rating.png" />
                                                    <img src="img/icons/rating.png" />
                                                    <img src="img/icons/rating.png" />
                                                </div>

                                                <div class="mt-2">
                                                    <img src="img/icons/c-icon.png" class="me-2" />

                                                    <img src="img/icons/watsaap.png" class="me-2" />
                                                    <img src="img/icons/call.png" class="me-2" />
                                                    <img src="img/icons/formkit_email.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="quality-img my-4">
                                <img src="img/icons/quality.png" />
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 order-1 order-md-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <img src=" img/icons/timer-icon.png" />
                        Opening Timings
                    </div>
                    <div>
                        <img src="img/icons/chevron-up-b.png" />
                    </div>
                </div>
                <table class="table opening-timing-table mt-2">
                    <tbody>
                        <tr>
                            <td>Mon</td>
                            <td>09:00 - 11:45</td>
                            <td>13:00 - 18:00</td>
                        </tr>
                        <tr>
                            <td>Tues</td>
                            <td>09:00 - 11:45</td>
                            <td>13:00 - 18:00</td>
                        </tr>
                        <tr>
                            <td>Wed</td>
                            <td>09:00 - 11:45</td>
                            <td>13:00 - 18:00</td>
                        </tr>
                        <tr>
                            <td>Thurs</td>
                            <td>09:00 - 11:45</td>
                            <td>13:00 - 18:00</td>
                        </tr>
                        <tr>
                            <td>Fri</td>
                            <td>09:00 - 11:45</td>
                            <td>13:00 - 18:00</td>
                        </tr>
                        <tr>
                            <td>Sat</td>
                            <td>09:00 - 11:45</td>
                            <td>13:00 - 18:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>