<!-- <section class="ct_login_main_bg">
      <div class="container">
            <div class="row">
                  <div class="col-xxl-6 col-xl-7 col-lg-8 mx-auto">
                        <div class="ct_login_white_bg ct_custom_scroll">
                              <img src="img/carzone_logo_black.png" alt="">
                              <h4 class="ct_fw_700 ct_fs_28 text-white text-center mb-3">{{'ResetPassword' | translate}}
                              </h4>
                              <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 text-white">{{'NewPassword' |
                                                translate}}</label>
                                          <div class="position-relative">
                                                <input [type]="isShowNewPassword ? 'text' : 'password'"
                                                      class="form-control ct_input"
                                                      placeholder="{{'Enter' | translate}} {{'NewPassword' | translate | lowercase}}"
                                                      formControlName="newPassword">
                                                <i class="fa-solid ct_show_eye"
                                                      [ngClass]="isShowNewPassword ? 'fa-eye' : 'fa-eye-slash'"
                                                      (click)="isShowNewPassword = !isShowNewPassword"></i>
                                          </div>
                                          <small class="text-danger">{{validationErrorService.getErrorMessage(('NewPassword'
                                                | translate), Form.get("newPassword"))}}</small>
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 text-white">{{'ConfirmPassword' |
                                                translate}}</label>
                                          <div class="position-relative">
                                                <input [type]="isShowConfPassword ? 'text' : 'password'"
                                                      class="form-control ct_input"
                                                      placeholder="{{'Enter' | translate}} {{'ConfirmPassword' | translate | lowercase}}"
                                                      formControlName="confirmPassword">
                                                <i class="fa-solid ct_show_eye"
                                                      [ngClass]="isShowConfPassword ? 'fa-eye' : 'fa-eye-slash'"
                                                      (click)="isShowConfPassword = !isShowConfPassword"></i>
                                          </div>
                                          <small class="text-danger">{{validationErrorService.getErrorMessage(('ConfirmPassword'
                                                | translate), Form.get("confirmPassword"))}}</small>
                                          <small *ngIf="Form.errors?.['passwordMismatch'] && !Form.controls['confirmPassword'].errors?.['required']"
                                                class="text-danger">{{'passwordNotMatch' | translate}}</small>
                                    </div>
                                    <div class="text-center mt-4">
                                          <app-submit-button [isLoading]="loading" [text]="'Reset'"
                                                [class]="'ct_red_btn px-5'"></app-submit-button>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
      </div>
</section> -->

<div class="row g-0 popup-main">
      <!-- LEFT -->
      <div class="col-xl-5 login-popup__left ct_custom_scroll p-5">
            <div>
                  <div class="login-popup__brand mb-4">
                        <img src="img/black-logo.png" class="main-logo" />
                  </div>

                  <h5 class="login-popup__title mb-3 ct_fs_32 text-center ct_font_cairo">
                        Reset Password
                  </h5>
                  <p class="text-center ct_fs_16">
                        Now you can set a new password.
                  </p>
            </div>
            <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                  <div class="login-popup__roles">
                        <div class="">
                              <div class="form-group mt-3">
                                    <label for="" class="mb-2 ct_fw_500 ct_fs_16">
                                          Create Password</label>
                                    <div class="position-relative">
                                          <input [type]="isShowNewPassword ? 'text' : 'password'"
                                                placeholder="*********" class="form-control ct_input ct_input_pe_40"
                                                formControlName="newPassword" />
                                          <i class="fa-solid ct_show_eye"
                                                [ngClass]="isShowNewPassword ? 'fa-eye' : 'fa-eye-slash'"
                                                (click)="isShowNewPassword = !isShowNewPassword"></i>
                                    </div>
                                    <small class="text-danger">{{validationErrorService.getErrorMessage(('NewPassword'
                                          | translate), Form.get("newPassword"))}}</small>
                              </div>
                        </div>

                        <div class="">
                              <div class="form-group mt-3">
                                    <label for="" class="mb-2 ct_fw_500 ct_fs_16">
                                          Confirm Password</label>
                                    <div class="position-relative">
                                          <input [type]="isShowConfPassword ? 'text' : 'password'"
                                                placeholder="*********" class="form-control ct_input ct_input_pe_40"
                                                formControlName="confirmPassword" />
                                          <i class="fa-solid ct_show_eye"
                                                [ngClass]="isShowConfPassword ? 'fa-eye' : 'fa-eye-slash'"
                                                (click)="isShowConfPassword = !isShowConfPassword"></i>
                                    </div>
                                    <small class="text-danger">{{validationErrorService.getErrorMessage(('ConfirmPassword'
                                          | translate), Form.get("confirmPassword"))}}</small>
                                    <small *ngIf="Form.errors?.['passwordMismatch'] && !Form.controls['confirmPassword'].errors?.['required']"
                                          class="text-danger">{{'passwordNotMatch' | translate}}</small>
                              </div>
                        </div>
                  </div>

                  <app-submit-button [isLoading]="loading" [text]="'Reset'"
                        [class]="'btn login-popup__btn mt-4'"></app-submit-button>
            </form>
      </div>

      <!-- RIGHT IMAGE -->
      <div class="col-lg-7 d-none d-xl-block login-popup__right position-relative">
            <img src="img/create-acc.jpg" />

            <div class="login-img-text">
                  <div>
                        <p class="ct_fs_28 ct_fw_500">
                              “Buying and managing cars on CarZone helped us connect with
                              serious sellers faster.”
                        </p>
                  </div>
                  <div class="d-flex justify-content-between">
                        <div>
                              <p class="ct_fs_20 ct_fw_400 fst_italic">
                                    AutoHaus Keller<br />Buyer · Basel
                              </p>
                        </div>

                        <div>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                        </div>
                  </div>
            </div>
      </div>
</div>