<footer class="footer">
      <div class="container">
            <div class="row">
                  <div class="col-lg-4">
                        <a class="footer-logo">
                              <img src="img/logo.png" alt="Logo" />
                        </a>
                        <p class="ct_fs_16 ct_fw_400 ct_lh-2">
                              Carzone is a modern platform to buy and sell cars easily. Connect
                              with trusted buyers and sellers, chat in-app, and close deals
                              seamlessly.
                        </p>
                        <div class="social-icons mt-3">
                              <a>
                                    <img src="img/icons/facebook.png" />
                              </a>
                              <a>
                                    <img src="img/icons/twitter.png" />
                              </a>
                              <a>
                                    <img src="img/icons/instagram.png" />
                              </a>
                              <a>
                                    <img src="img/icons/youtube.png" />
                              </a>
                        </div>
                  </div>
                  <div class="col-lg-2 col-md-4">
                        <div class="footer-nav">
                              <h5 class="text-white">Buy a Car</h5>
                              <ul>
                                    <li><a routerLink="/buy-sell"> Buy & Sell</a></li>
                                    <li><a routerLink="/quick-sell">Quick Sell Option</a></li>
                                    <li><a routerLink="/car-reels">CarReels</a></li>
                              </ul>
                        </div>
                  </div>
                  <div class="col-lg-2 col-md-4">
                        <div class="footer-nav">
                              <h5 class="text-white">Support</h5>
                              <ul>
                                    <li><a routerLink="/help-center">Help Center</a></li>
                                    <li><a routerLink="/contact-us">Contact Us</a></li>
                                    <li><a routerLink="/faq">FAQ</a></li>
                              </ul>
                        </div>
                  </div>
                  <div class="col-lg-2 col-md-4">
                        <div class="footer-nav">
                              <h5 class="text-white">Legal</h5>
                              <ul>
                                    <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
                                    <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                              </ul>
                        </div>
                  </div>
            </div>
      </div>
</footer>
<div class="copyright footer-bottom">
      <div class="container">
            <p class="mb-0 ct_fs_18 ct_fw_400">
                  © 2025 CarZone. All rights reserved. Designed for car buyers & sellers
                  worldwide.
            </p>
      </div>
</div>