<footer class="footer">
      <div class="container">
            <div class="row">
                  <div class="col-lg-4">
                        <a class="footer-logo">
                              <img src="img/logo.png" [alt]="'marketing.logo' | translate" />
                        </a>
                        <p class="ct_fs_16 ct_fw_400 ct_lh-2">{{ 'marketing.footerDescription' | translate }}</p>
                        <div class="social-icons mt-3">
                              <a>
                                    <img src="img/icons/facebook.png" />
                              </a>
                              <a>
                                    <img src="img/icons/twitter.png" />
                              </a>
                              <a>
                                    <img src="img/icons/instagram.png" />
                              </a>
                              <a>
                                    <img src="img/icons/youtube.png" />
                              </a>
                        </div>
                  </div>
                  <div class="col-lg-2 col-md-4">
                        <div class="footer-nav">
                              <h5 class="text-white">{{ 'marketing.buyACar' | translate }}</h5>
                              <ul>
                                    <li><a routerLink="/buy-sell"> {{ 'marketing.buySell' | translate }}</a></li>
                                    <li><a routerLink="/quick-sell">{{ 'marketing.quickSellOption' | translate }}</a></li>
                                    <li><a routerLink="/car-reels">{{ 'marketing.carreels' | translate }}</a></li>
                              </ul>
                        </div>
                  </div>
                  <div class="col-lg-2 col-md-4">
                        <div class="footer-nav">
                              <h5 class="text-white">{{ 'marketing.support' | translate }}</h5>
                              <ul>
                                    <li><a routerLink="/help-center">{{ 'marketing.helpCenter' | translate }}</a></li>
                                    <li><a routerLink="/contact-us">{{ 'common.contactUs' | translate }}</a></li>
                                    <li><a routerLink="/faq">{{ 'common.faq' | translate }}</a></li>
                              </ul>
                        </div>
                  </div>
                  <div class="col-lg-2 col-md-4">
                        <div class="footer-nav">
                              <h5 class="text-white">{{ 'profile.legal' | translate }}</h5>
                              <ul>
                                    <li><a routerLink="/terms-conditions">{{ 'vehicle.termsAndConditions' | translate }}</a></li>
                                    <li><a routerLink="/privacy-policy">{{ 'common.privacyPolicy' | translate }}</a></li>
                              </ul>
                        </div>
                  </div>
            </div>
      </div>
</footer>
<div class="copyright footer-bottom">
      <div class="container">
            <p class="mb-0 ct_fs_18 ct_fw_400">{{ 'footer.copyright' | translate }}</p>
      </div>
</div>
